openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Notifications API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Notifications
  x-displayName: Notifications
paths:
  /notifications/{notificationUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Notifications
      summary: Returns a single notification
      description: Returns a single notification.
      operationId: getNotificationByUuid
      x-cli-name: notifications:find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_notification-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_notification-stub'
              example:
                uuid: 1bd3487e-71d1-4fca-a2d9-5f969b3d35c1
                event: ApplicationAddedToRecents
                label: Application added to recents list
                description: '"Canary QA 11 - ACE" was added to your recent applications list.'
                created_at: '2019-07-29T20:47:13+00:00'
                completed_at: '2019-07-29T20:47:13+00:00'
                status: completed
                progress: 100
                context:
                  author:
                    uuid: 5391a8a9-d273-4f88-8114-7f884bbfe08b
                    actual_uuid: 5391a8a9-d273-4f88-8114-7f884bbfe08b
                  user:
                    uuids:
                    - 5391a8a9-d273-4f88-8114-7f884bbfe08b
                _links:
                  self:
                    href: https://cloud.acquia.com/api/notifications/1bd3487e-71d1-4fca-a2d9-5f969b3d35c1
                  parent:
                    href: https://cloud.acquia.com/api/notifications
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No data or permission:
                  value:
                    error: not_found
                    message: The data you are trying to access does not exist, or you do not have permission to access it.
components:
  schemas:
    Acquia_Cloud_API_Documentation_links:
      type: object
      required:
      - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
          - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Acquia_Cloud_API_Documentation_error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
    Acquia_Cloud_API_Documentation_notification-stub:
      type: object
      description: A notification about an event or a task.
      required:
      - uuid
      - event
      - label
      - description
      - created_at
      - completed_at
      - status
      - progress
      - context
      - _links
      properties:
        uuid:
          type: string
          description: The notification unique identifier.
          format: uuid
        event:
          type: string
          description: The notification event.
        label:
          type: string
          description: The human readable notification label.
        description:
          type: string
          description: The notification description.
        created_at:
          type: string
          format: date-time
          description: The time that this notification was created.
        completed_at:
          type: string
          format: date-time
          description: The time that the task or event this notification is tracking was completed at.
        status:
          type: string
          description: The status of the notification.
          enum:
          - completed
          - in-progress
          - failed
        progress:
          type: integer
          description: The notification progress.
          minimum: 0
          maximum: 100
        context:
          type: object
          description: Contextual data related to the notification.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: Data related to the notification, such as the author.
  parameters:
    Acquia_Cloud_API_Documentation_notification-uuid:
      name: notificationUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
        format: uuid
      example: 2343b683-b194-4217-982a-6a95c72ad9a8
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      type: oauth2
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          tokenUrl: https://accounts.acquia.com/api/token
          scopes: {}
    Codebase_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    MEO_Environment_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    Site_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
