openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Applications API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Applications
  x-displayName: Applications
paths:
  /applications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Return a list of applications the current user has access to
      operationId: getApplications
      x-cli-name: applications:list
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: 'Applications contains the code, files, and databases required to run sites. You have access to an application if you are a member of a team that has access to an application, or if you are an administrator or owner of the organization that the application belongs to. A subscription may contain one or more applications.


        Filterable fields:

        * `label`

        * `name` (Deprecated)

        * `organization_name`

        * `hosting` (Deprecated) Use URL encoded colon (%3A) to separate realm and sitegroup, e.g. network%3An3 instead of network:n3


        Sortable fields:

        * `label`

        * `name` (Deprecated)

        * `organization_name`'
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_applications'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 10
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications?limit=10
                  sort:
                    href: https://cloud.acquia.com/api/applications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/
                _embedded:
                  items:
                  - id: 241643
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample application 1
                    hosting:
                      type: acp
                      id: devcloud:devcloud2
                    subscription:
                      uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: Sample subscription
                    organization:
                      uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                      name: Sample organization
                    flags:
                      remote_admin: true
                    status: normal
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                    tags:
                    - name: tag-1
                      color: blue
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                    - name: tag-2
                      color: green
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                  - id: 954291
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d471
                    name: Sample application 2
                    hosting:
                      type: free
                      id: devcloud:devcloud2
                    subscription:
                      uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: Sample subscription
                    organization:
                      uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                      name: Sample organization
                    type: node
                    flags:
                      remote_admin: false
                    status: provisioning
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d471
                    tags:
                    - name: tag-1
                      color: blue
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                    - name: tag-2
                      color: green
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: forbidden
                    message: You do not have permission to view applications.
  /applications/{applicationUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Return details about a specific application
      operationId: getApplicationByUuid
      x-cli-name: applications:find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: A specific application.
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application'
              example:
                id: 2416431
                uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                name: Sample application
                hosting:
                  type: acp
                  id: devcloud:devcloud2
                subscription:
                  uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                  name: Sample subscription
                organization:
                  uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                  name: Sample organization
                flags:
                  remote_admin: true
                type: drupal
                status: normal
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a
                  code:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/code
                  databases:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases
                  environments:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/environments
                  events:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/events
                  features:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/features
                  ides:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/ides
                  permissions:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/permissions
                  search:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/search
                  settings:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/settings
                  tasks:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/tasks
                  teams:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/teams
                  parent:
                    href: https://cloud.acquia.com/api/applications
                _embedded:
                  subscription:
                    uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample subscription
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/f47ac10b-58cc-4372-a567-0e02b2c3d470
                  organization:
                    uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                    name: Sample organization
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/6a907396-abfd-4d01-9da6-64c8efc04519
                  tags:
                  - name: tag-1
                    color: blue
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                      parent:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                  - name: tag-2
                    color: green
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                      parent:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The application you are trying to access does not exist, or you do not have permission to access it.
    put:
      tags:
      - Applications
      summary: Renames an application
      operationId: putApplicationByUuid
      x-cli-name: applications:rename
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: Renames a specific application.
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name of the application.
                  minLength: 1
                  maxLength: 255
            example:
              name: My new application name
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name of the application.
            example:
              name: My new application name
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Application renamed.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/db1d0e46-6799-4208-9786-c7e64150a7c7
                  parent:
                    href: https://cloud.acquia.com/api/applications
                  notification:
                    href: https://cloud.acquia.com/api/notifications/27698331-bcf9-48e9-9f12-931ac88f446f
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Name already in use:
                  value:
                    error: validation_failed
                    message:
                      name: You already have an application with this name.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: forbidden
                message: You do not have permission to modify this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application:
                  value:
                    error: not_found
                    message: The application with UUID a47ac10b-58cc-4372-a567-0e02b2c3d470 does not exist.
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Name in use:
                  value:
                    error: conflict
                    message: The new application name is the same as the old application name. No action taken.
  /applications/{applicationUuid}/artifacts:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Return application artifacts
      operationId: getArtifactsByApplicationUuid
      x-cli-name: applications:artifact-list
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: 'Returns a list of this application''s build artifacts. Only available for Node.js applications.


        Filterable fields:

        * `created`

        * `name`


        Sortable fields:

        * `created`

        * `name`'
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_artifacts'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  sort:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts{?limit}
                    templated: true
                _embedded:
                  items:
                  - id: 1
                    name: master@e5a80b9e0a2bdb1df32c6cdfce54deb70cc20ad2
                    state: ready
                    created_at: '2012-05-15T12:00:00Z'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/1
                  - id: 2
                    name: master@a265389db6a6918cf4e51edbe5f06d7e1578175c
                    state: pending-upload
                    created_at: '2012-05-15T12:00:00Z'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/2
                  - id: 3
                    name: master@e7157f36e5fb82317ffee2fc2d70302cdad0c60c
                    state: deleted
                    created_at: '2012-05-15T12:00:00Z'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/3
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Application type:
                  value:
                    error: not_found
                    message: Artifacts are only available for Node.js applications.
  /applications/{applicationUuid}/artifacts/{artifactId}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Return details about a specific artifact
      operationId: getArtifactByApplicationUuidAndId
      x-cli-name: applications:artifact-find
      description: A specific artifact.
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_artifact-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_artifact'
              example:
                id: 1
                name: master@e5a80b9e0a2bdb1df32c6cdfce54deb70cc20ad2
                state: ready
                created_at: '2012-05-15T12:00:00Z'
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/1
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application:
                  value:
                    error: not_found
                    message: The application with UUID a47ac10b-58cc-4372-a567-0e02b2c3d470 does not exist.
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                No artifact:
                  value:
                    error: not_found
                    message: The build artifact you are trying to access does not exist, or you do not have permission to access it.
                Application type:
                  value:
                    error: not_found
                    message: Artifacts are only available for Node.js applications.
  /applications/{applicationUuid}/code:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Return application branches and release tags
      operationId: getCodeByApplicationUuid
      x-cli-name: applications:vcs-info
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: 'Returns a list of branches and release (repository) tags in this application''s version control system.


        Filterable fields:

        * `name`


        Sortable fields:

        * `name`'
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code'
              example:
                total: 4
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/code
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                _embedded:
                  items:
                  - name: master
                    flags:
                      tag: false
                  - name: feature-branch
                    flags:
                      tag: false
                  - name: tags/2014-09-03
                    flags:
                      tag: true
                  - name: tags/2014-09-03.0
                    flags:
                      tag: true
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No VCS Settings:
                  value:
                    error: not_found
                    message: No version control system settings found on non-hosted application.
  /applications/{applicationUuid}/code-studio:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns details about the Code Studio project for an application
      description: Return details about the Code Studio project for an application.
      operationId: getCodeStudioProject
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-project'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c/code-studio
                  application:
                    href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c
                  parent:
                    href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c
                  applications:
                    href: https://cloud.acquia.com/api/applications
                  code-studio:
                    href: https://code.acquia.com/path/to/project
                  code-studio-api:
                    href: https://code.acquia.com/api/v4/path/to/project
                _embedded:
                  application:
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c
                    uuid: 906c1ad5-f367-4127-b529-9dbe29bc5c1c
                    name: My Application
                application_id: 906c1ad5-f367-4127-b529-9dbe29bc5c1c
                status: active
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Code Studio not enabled for application:
                  value:
                    error: not_found
                    message: Code Studio is not enabled for this application.
    post:
      tags:
      - Applications
      summary: Creates the Code Studio project for an application
      description: Creates the Code Studio project for an application.
      operationId: postCodeStudioProject
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/98529a07-5f07-4c4d-836b-03c9226c03fd/code-studio
                  notification:
                    href: https://cloud.acquia.com/api/notifications/e0c0ec4d-cb4d-4b9a-92ed-503d1e8dae4a
                message: A Code Studio project is being created for the Application.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to create a Code Studio project for this Application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Applications
      summary: Removes the Code Studio project from an application
      description: Removes the Code Studio project from an application.
      operationId: deleteCodeStudioProject
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/98529a07-5f07-4c4d-836b-03c9226c03fd/code-studio
                  notification:
                    href: https://cloud.acquia.com/api/notifications/e0c0ec4d-cb4d-4b9a-92ed-503d1e8dae4a
                message: The Code Studio project is being removed from the Application.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to remove the Code Studio project from this Application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/databases:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a list database names for the application
      description: 'Filterable fields:

        * `name`


        Sortable fields:

        * `name`'
      operationId: getApplicationDatabases
      x-cli-name: applications:database-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application-databases'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases
                  sort:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a
                _embedded:
                  items:
                  - name: database1
                  - name: database2
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No data or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Not available on Node.js:
                  value:
                    error: not_found
                    message: Databases do not exist on Node.js applications.
                Non-hosted application:
                  value:
                    error: not_found
                    message: Databases do not exist on non-hosted applications.
    post:
      tags:
      - Applications
      summary: Creates a database
      description: This action will create a new database within each environment of the application.
      operationId: postApplicationDatabaseCreate
      x-cli-name: applications:database-create
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              description: Application database name.
              required:
              - name
              properties:
                name:
                  type: string
                  description: The database name.
                  minLength: 1
                  maxLength: 63
            example:
              name: my_db_name
          application/x-www-form-urlencoded:
            schema:
              type: object
              description: Application database name.
              required:
              - name
              properties:
                name:
                  type: string
                  description: The database name.
                  minLength: 1
                  maxLength: 63
            example:
              name: my_db_name
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The database is being created.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/databases
                  notification:
                    href: https://cloud.acquia.com/api/notifications/6992a41d-a953-4ded-ae99-41d2f4d62f69
                  parent:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Only available for hosted applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be added on Acquia-hosted applications.
                Not available on Site Factory applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases cannot be added on Acquia Cloud Site Factory applications.
                Name cannot be default:
                  value:
                    error: validation_failed
                    message:
                      name: The database name cannot be "default".
                Name can only be alphanumeric and underscores:
                  value:
                    error: validation_failed
                    message:
                      name: The database name can only contain alphanumeric characters and underscores.
                Name cannot exceed 63 characters in length:
                  value:
                    error: validation_failed
                    message:
                      general: The database name cannot exceed 63 characters in length.
                Name already in use:
                  value:
                    error: validation_failed
                    message:
                      name: A database with that name already exists. Please choose another name.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to add a database to this application.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Databases cannot be added to non-hosted applications.
                ACSF application:
                  value:
                    error: forbidden
                    message: Databases cannot be added to Acquia Cloud Site Factory applications.
                Node.js application:
                  value:
                    error: forbidden
                    message: Databases cannot be added on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/databases/{name}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    delete:
      tags:
      - Applications
      summary: Drops (deletes) a database
      description: This action will delete the database in ALL environments within this application.
      operationId: postApplicationDatabaseDelete
      x-cli-name: applications:database-delete
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_name'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The database is being deleted.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/f75e226b-2d8c-48c7-b3a7-614bb440272d/databases/testdatabase
                  notification:
                    href: https://cloud.acquia.com/api/notifications/a90295b6-f50f-4670-8ca4-bb936a55c3a3
                  parent:
                    href: https://cloud.acquia.com/api/applications/f75e226b-2d8c-48c7-b3a7-614bb440272d/databases
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Can only be erased on hosted applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia-hosted applications.
                Can only be erased on free tier applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia Free Tier applications.
                Does not belong to application:
                  value:
                    error: validation_failed
                    message:
                      name: The database does not belong to this application, and cannot be removed.
                Cannot delete default:
                  value:
                    error: validation_failed
                    message:
                      name: The database is a default database, and cannot be removed.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this database.
                Non hosted application:
                  value:
                    error: forbidden
                    message: Databases cannot be deleted on non-hosted applications.
                ACSF application:
                  value:
                    error: forbidden
                    message: Databases cannot be deleted on Acquia Cloud Site Factory applications.
                Node.js application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/databases/{name}/actions/erase:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Applications
      summary: Erases (truncates) a database
      description: This action will delete all tables of the database in ALL environments within this application.
      operationId: postApplicationDatabaseErase
      x-cli-name: applications:database-erase
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_name'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The database is being erased.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/da1c0a8e-ff69-45db-88fc-acd6d2affbb7/databases/test_database/actions/erase
                  notification:
                    href: https://cloud.acquia.com/api/notifications/a90295b6-f50f-4670-8ca4-bb936a55c3a3
                  parent:
                    href: https://cloud.acquia.com/api/applications/da1c0a8e-ff69-45db-88fc-acd6d2affbb7/databases/test_database/actions
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Can only be erased on hosted applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia-hosted applications.
                Can only be erased on free tier applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia Free Tier applications.
                Does not belong to application:
                  value:
                    error: validation_failed
                    message:
                      name: The database does not belong to this application, and cannot be removed.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                ACF only:
                  value:
                    error: forbidden
                    message: Only Acquia Cloud Free subscriptions can erase databases.
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to erase this database.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on non-hosted applications.
                Service Management-enabled application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on Service Management-enabled applications.
                Node.js application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/email/domains:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a list of email domains associated with the application
      description: Returns a list of email domains associated with the application and domains that have been verified at the subscription level.
      operationId: getApplicationEmailDomains
      x-cli-name: applications:email-domains-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_email-domains'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 2
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains
                  parent:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email
                  limit:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/applications123e4567-e89b-12d3-a456-426614174000/email/domains{?offset}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains{?filter}
                    templated: true
                _embedded:
                  items:
                  - uuid: 123e4567-e89b-12d3-a456-426614174000
                    domain_name: example.com
                    flags:
                      associated: true
                    health:
                      code: '200'
                      details: ''
                      summary: OK
                  - uuid: 123e4567-e89b-12d3-a456-426614174000
                    domain_name: example2.com
                    flags:
                      associated: true
                    health:
                      code: '200'
                      details: ''
                      summary: OK
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage email domains for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No data or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/email/domains/{domainRegistrationUuid}/actions/associate:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Applications
      summary: Associates an email domain with an Application
      description: Associates an email domain with an Application.
      operationId: postApplicationAssociateEmailDomain
      x-cli-name: applications:post-associate-email-domain
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Associate Domain:
                  value:
                    message: The domain has been associated with the application.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains//123e4567-e89b-12d3-a456-426614174000/actions/associate
                      parent:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains//123e4567-e89b-12d3-a456-426614174000
                      notification:
                        href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to associate domains with this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to associate a domain registration with does not exist or you do not have permission to access it.
                Domain not found:
                  value:
                    error: not_found
                    message: The domain registration you are trying to associate does not exist or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
                Already associated:
                  value:
                    error: conflict
                    message: The domain example.com is already associated with this application.
  /applications/{applicationUuid}/email/domains/{domainRegistrationUuid}/actions/disassociate:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Applications
      summary: Disassociates an email domain with an Application
      description: Disassociates an email domain with an Application.
      operationId: postApplicationDisassociateEmailDomain
      x-cli-name: applications:post-disassociate-email-domains
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Disassociate Domain:
                  value:
                    message: The domain has been disassociated from the application.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000/actions/dissasociate
                      parent:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                      notification:
                        href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to disassociate domains from this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to disassociate a domain registration from does not exist or you do not have permission to access it.
                Domain not found:
                  value:
                    error: not_found
                    message: The domain registration you are trying to disassociate does not exist or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Domain minimum:
                  value:
                    error: conflict
                    message: The application must have at least one associated domain while Platform Email is enabled on an environment.
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
                Not associated:
                  value:
                    error: conflict
                    message: The domain example.com is not associated with this application.
  /applications/{applicationUuid}/ides:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a list of Cloud IDEs associated with this application
      description: Returns a list of Cloud IDEs associated with this application.
      operationId: getApplicationIdes
      x-cli-name: applications:ide-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ides'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/feea197a-9503-4441-9f49-b4d420b0ecf8/ides
                  parent:
                    href: https://cloud.acquia.com/api/applications/feea197a-9503-4441-9f49-b4d420b0ecf8
                _embedded:
                  items:
                  - uuid: 9a83c081-ef78-4dbd-8852-11cc3eb248f7
                    label: IDE Label 1
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/9a83c081-ef78-4dbd-8852-11cc3eb248f7
                      web:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.web.ahdev.cloud
                      ide:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.ides.acquia.com
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                    _embedded:
                      owner:
                        uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                        first_name: First
                        last_name: Last
                        last_login_at: '2019-01-31T10:53:11-05:00'
                        created_at: '2016-08-14T17:38:59-04:00'
                        email: user.name@example.com
                        picture_url: https://accounts.acquia.com/path/to/image.png
                        username: user.name
                  - uuid: feea197a-9503-4441-9f49-b4d420b0ecf8
                    label: IDE Label 2
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/feea197a-9503-4441-9f49-b4d420b0ecf8
                      web:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.web.ahdev.cloud
                      ide:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.ides.acquia.com
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                    _embedded:
                      owner:
                        uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                        first_name: First
                        last_name: Last
                        last_login_at: '2019-01-31T10:53:11-05:00'
                        created_at: '2016-08-14T17:38:59-04:00'
                        email: user.name@example.com
                        picture_url: https://accounts.acquia.com/path/to/image.png
                        username: user.name
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Applications
      summary: Creates a new Cloud IDE
      description: Creates a new Cloud IDE.
      operationId: postApplicationsIde
      x-cli-name: ide:create
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - label
              properties:
                label:
                  type: string
                  description: The label of the Cloud IDE.
                  minLength: 1
                  maxLength: 255
            example:
              label: My new IDE
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - label
              properties:
                label:
                  type: string
                  description: The label of the Cloud IDE.
                  minLength: 1
                  maxLength: 255
            example:
              label: My new IDE
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                IDE created:
                  value:
                    message: The Cloud IDE is being created.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/1792767d-1ee3-4b5f-83a8-334dfdc2b8a3
                      parent:
                        href: https://cloud.acquia.com/api/ides
                      notification:
                        href: https://cloud.acquia.com/api/notifications/e47da6d7-371e-4bb9-a7fe-d9ab8aa899c3
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Bad IDE label:
                  value:
                    error: validation_error
                    message:
                      name: A Cloud IDE labeled My new IDE already exists.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No user:
                  value:
                    error: not_found
                    message: The Application with UUID 3c6a3d3e-c3ee-4fee-97d6-9074971feb76 does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/messages:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a list of messages associated with this application
      description: 'Filterable fields:

        * `title`

        * `message_type`

        * `display_mode`


        Sortable fields:

        * `title`

        * `message_type`

        * `display_mode`'
      operationId: getApplicationMessages
      x-cli-name: applications:message-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_from'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_to'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ux-messages'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages
                  sort:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages{?limit}
                    templated: true
                _embedded:
                  items:
                  - id: 123
                    uuid: 77fedb64-b8c0-4712-90e3-f39b4716e623
                    title: IPM Title
                    body: This is the body of <strong>the</strong> IPM.
                    url: http://www.acquia.com
                    filters:
                      paths:
                      - /some/random/path
                      - /other/random/path
                      display_mode: bar
                      type: general
                    flags:
                      dismissed: false
                      dismissible: true
                      active: true
                    weight: -1
                    start_at: '2015-11-05T00:30:00-05:00'
                    expire_at: '2015-12-05T13:30:00-05:00'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/messages/77fedb64-b8c0-4712-90e3-f39b4716e623
                      dismiss:
                        href: https://cloud.acquia.com/api/messages/77fedb64-b8c0-4712-90e3-f39b4716e623/actions/dismiss
                      follow:
                        href: https://cloud.acquia.com/api/messages/77fedb64-b8c0-4712-90e3-f39b4716e623/actions/follow
                  - id: 234
                    uuid: c5328e00-282a-4bec-a3c8-4322d97545b2
                    title: IPM Message 2
                    body: IPM <strong>Message</strong> 2 body
                    url: http://www.google.ca
                    filters:
                      paths: []
                      display_mode: bar
                      type: new
                    flags:
                      dismissed: false
                      dismissible: true
                      active: true
                    weight: 0
                    start_at: '2015-11-07T17:30:00-05:00'
                    expire_at: '2016-11-07T17:30:00-05:00'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/messages/c5328e00-282a-4bec-a3c8-4322d97545b2
                      dismiss:
                        href: https://cloud.acquia.com/api/messages/c5328e00-282a-4bec-a3c8-4322d97545b2/actions/dismiss
                      follow:
                        href: https://cloud.acquia.com/api/messages/c5328e00-282a-4bec-a3c8-4322d97545b2/actions/follow
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/notifications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a list of notifications associated with this application by its UUID
      description: 'Returns a list of notifications associated with this application. A notification represents an item of work to be done, initiated by someone (typically the current user) associated with the application.


        Filterable fields:

        * `event`

        * `label`

        * `description`

        * `status`

        * `author`

        * `created_at`

        * `completed_at`


        Sortable fields:

        * `event`

        * `label`

        * `description`

        * `status`

        * `author`

        * `created_at`

        * `completed_at`'
      operationId: getApplicationNotifications
      x-cli-name: applications:notification-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_applications-notifications'
              example:
                total: 1
                pagination:
                  total: 1
                  limit: 1
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/notifications
                  parent:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1
                  limit:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/notifications{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/notifications{?offset}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/notifications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/notifications{?filter}
                    templated: true
                _embedded:
                  items:
                  - uuid: 1bd3487e-71d1-4fca-a2d9-5f969b3d35c1
                    event: ApplicationAddedToRecents
                    label: Application added to recents list
                    description: '"Canary QA 11 - ACE" was added to your recent applications list.'
                    created_at: '2019-07-29T20:47:13+00:00'
                    completed_at: '2019-07-29T20:47:13+00:00'
                    status: completed
                    progress: 100
                    context:
                      author:
                        uuid: 5391a8a9-d273-4f88-8114-7f884bbfe08b
                        actual_uuid: 5391a8a9-d273-4f88-8114-7f884bbfe08b
                      user:
                        uuids:
                        - 5391a8a9-d273-4f88-8114-7f884bbfe08b
                      application:
                        uuids:
                        - a027502b-ad6c-a48e-a7e8-aa0def7d25e1
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/notifications/1bd3487e-71d1-4fca-a2d9-5f969b3d35c1
                      parent:
                        href: https://cloud.acquia.com/api/notifications
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/permissions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a list of permissions the user has for this application by its UUID
      description: Returns a list of permissions the user has for this application.
      operationId: getApplicationPermissions
      x-cli-name: applications:permission-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_applications-permissions'
              example:
                total: 49
                flags:
                  administrator: false
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/permissions
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                _embedded:
                  items:
                  - name: deploy to non-prod
                    label: Pull and deploy code, files, or databases to non-production environments
                    description: Grants the ability to enable or disable live development and non-production work.
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: deploy to prod
                    label: Deploy code, files, or databases to the production environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: pull from prod
                    label: Pull files or databases from the production environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: move file to non-prod
                    label: Move files to non-production environments
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: move file to prod
                    label: Move files to the production environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: move file from prod
                    label: Move files from production environments
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: move file from non-prod
                    label: Move files from non-production environments
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: clear varnish on non-prod
                    label: Clear Varnish cache for non-production environments
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: true
                  - name: clear varnish on prod
                    label: Clear Varnish cache for the production environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: true
                  - name: configure prod env
                    label: Configure production environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: configure non-prod env
                    label: Configure non-production environments
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: add an environment
                    label: Add an environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: delete an environment
                    label: Delete an environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: administer domain non-prod
                    label: Add or remove domains for non-production environments
                    description: null
                    group_label: Domains
                    flags:
                      deprecated: false
                  - name: administer domain prod
                    label: Add or remove domains for the production environment
                    description: null
                    group_label: Domains
                    flags:
                      deprecated: false
                  - name: administer ssl prod
                    label: Add or remove SSL certificates for the production environment
                    description: null
                    group_label: Domains
                    flags:
                      deprecated: false
                  - name: administer ssl non-prod
                    label: Add or remove SSL certificates for the non-production environments
                    description: null
                    group_label: Domains
                    flags:
                      deprecated: false
                  - name: reboot server
                    label: Reboot server
                    description: null
                    group_label: Server administration
                    flags:
                      deprecated: false
                  - name: resize server
                    label: Resize server
                    description: Increasing the size of your server costs money.
                    group_label: Server administration
                    flags:
                      deprecated: false
                  - name: suspend server
                    label: Suspend server
                    description: null
                    group_label: Server administration
                    flags:
                      deprecated: false
                  - name: configure server
                    label: Configure server
                    description: null
                    group_label: Server administration
                    flags:
                      deprecated: false
                  - name: download logs non-prod
                    label: Download logs for non-production environments
                    description: null
                    group_label: Logs
                    flags:
                      deprecated: false
                  - name: download logs prod
                    label: Download logs for the production environment
                    description: null
                    group_label: Logs
                    flags:
                      deprecated: false
                  - name: add database
                    label: Add a database
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: remove database
                    label: Remove a database
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: view database connection
                    label: View database connection details (username, password, or hostname)
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: download db backup non-prod
                    label: Download database backups for non-production environments
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: download db backup prod
                    label: Download database backups for the production environment
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: create db backup non-prod
                    label: Create database backups for non-production environments
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: create db backup prod
                    label: Create database backups for the production environment
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: restore db backup non-prod
                    label: Restore database backups for non-production environments
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: restore db backup prod
                    label: Restore database backups for the production environment
                    description: null
                    group_label: Databases
                    flags:
                      deprecated: false
                  - name: administer team
                    label: Add or remove a user of a team
                    description: Granting this permission will give any user with this role full permissions on this team.
                    group_label: Administration
                    flags:
                      deprecated: false
                  - name: access cloud api
                    label: Access the Cloud API
                    description: Grants the ability to use the API and bypass all other permissions via command line tools.
                    group_label: Administration
                    flags:
                      deprecated: false
                  - name: administer cron non-prod
                    label: Modify cron tasks for non-production environments
                    description: null
                    group_label: Cron
                    flags:
                      deprecated: false
                  - name: administer cron prod
                    label: Modify cron tasks for the production environment
                    description: null
                    group_label: Cron
                    flags:
                      deprecated: false
                  - name: create support ticket
                    label: Create a support ticket
                    description: null
                    group_label: Support
                    flags:
                      deprecated: false
                  - name: edit any support ticket
                    label: View and edit any support tickets for a subscription
                    description: null
                    group_label: Support
                    flags:
                      deprecated: false
                  - name: view build plans
                    label: View Build plans
                    description: null
                    group_label: Build
                    flags:
                      deprecated: false
                  - name: edit build plans
                    label: Edit Build plans
                    description: null
                    group_label: Build
                    flags:
                      deprecated: false
                  - name: run build plans
                    label: Run Build plans
                    description: null
                    group_label: Build
                    flags:
                      deprecated: false
                  - name: add ssh key to git
                    label: Add SSH key to git repository
                    description: null
                    group_label: SSH keys
                    flags:
                      deprecated: false
                  - name: add ssh key to non-prod
                    label: Add SSH key to non-production environments
                    description: null
                    group_label: SSH keys
                    flags:
                      deprecated: false
                  - name: add ssh key to prod
                    label: Add SSH key to the production environment
                    description: null
                    group_label: SSH keys
                    flags:
                      deprecated: false
                  - name: view remote administration
                    label: View Remote Administration
                    description: This permission is only relevant if your subscription has remote administration.
                    group_label: Administration
                    flags:
                      deprecated: false
                  - name: edit remote administration
                    label: Edit Remote Administration
                    description: This permission is only relevant if your subscription has remote administration.
                    group_label: Administration
                    flags:
                      deprecated: false
                  - name: clear caches on prod
                    label: Clear caches for the production environment
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
                  - name: clear caches on non-prod
                    label: Clear caches for non-production environments
                    description: null
                    group_label: Workflow
                    flags:
                      deprecated: false
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/search:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a traversal endpoint for search entities for the application
      description: Does not return any data. Allows traversal to search entity endpoints.
      operationId: getApplicationSearchList
      x-cli-name: applications:search:list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_search'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search
                  parent:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905
                  config-sets:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Forbidden:
                  value:
                    error: forbidden
                    message: You do not have permission to manage search for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /applications/{applicationUuid}/search/config-sets:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Applications
      summary: Returns a collection of search configuration sets for an application
      description: A collection of search configuration sets for an application.
      operationId: getApplicationSearchConfigurationSets
      x-cli-name: applications:search:configuration-set-list
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_configuration-sets'
              example:
                total: 3
                pagination:
                  total: 3
                  limit: 3
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets
                  parent:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search
                  limit:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets{?offset}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets{?filter}
                    templated: true
                _embedded:
                  items:
                  - id: shared-1234567891011-121
                    application_uuid: 3f6d06a9-9236-411e-9dcc-44f0003a5905
                    label: example-0
                    flags:
                      custom: false
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/shared-1234567891011-121
                      parent:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets
                      download:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/download
                  - id: ABCDE-1234.12345ab6c7e8f90g12i1jk234l56mn78
                    application_uuid: 3f6d06a9-9236-411e-9dcc-44f0003a5905
                    label: example-1
                    flags:
                      custom: true
                    status: pending
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/ABCDE-1234.12345ab6c7e8f90g12i1jk234l56mn78
                      parent:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets
                      download:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/download
                  - id: ABCDE-1234.12345ab6c7e8f90g12i1jk234l56mn79
                    application_uuid: 3f6d06a9-9236-411e-9dcc-44f0003a5905
                    label: example-2
                    flags:
                      custom: true
                    status: pending
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/ABCDE-1234.12345ab6c7e8f90g12i1jk234l56mn79
                      parent:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets
                      download:
                        href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/download
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: forbidden
                message: You do not have permission to view search configuration sets for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The application you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Applications
      summary: Creates a search configuration set for an application
      description: Creates a search configuration set for an application.
      operationId: postApplicationSearchConfigurationSets
      x-cli-name: applications:search:configuration-set-create
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - archive
              description: The archive file binary.
              properties:
                archive:
                  format: binary
                  type: string
                  description: A binary file response
      responses:
        '202':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The search configuration set is being created.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/ABCDE-1234.12345ab6c7e8f90g12i1jk234l56mn78
                  parent:
                    href: https://cloud.acquia.com/api/applications/3f6d06a9-9236-411e-9dcc-44f0003a5905/search/config-sets/
                  notification:
                    href: https://cloud.acquia.com/api/notifications/05fb83f1-59dd-4079-b9f3-ce9243a126ed
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Request missing uploaded file:
                  value:
                    error: validation_failed
                    message:
                      general: The request does not contain an uploaded file.
                Error during file upload:
                  value:
                    error: validation_failed
                    message:
                      general: An error occurred during file upload.
                Uploaded file is not a zip file:
                  value:
                    error: validation_failed
                    message:
                      general: The uploaded file is not a zip file.
                File exceeds size limit:
                  value:
                    error: validation_failed
                    message:
                      general: The uploaded file size exceeds the 10MB limit.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
[...]
