openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Current system health API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Current system health
  x-displayName: Current system health
paths:
  /:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Current system health
      summary: Return the current system health status
      description: Returns status checks for system database, configuration and registry.
      operationId: getSystemHealthStatus
      x-cli-name: system-health-status
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_root'
              example:
                status:
                  configuration: true
                  registry: true
                  acp_provisioning_enabled: true
                  acf_provisioning_enabled: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/
                  account:
                    href: https://cloud.acquia.com/api/account
                  applications:
                    href: https://cloud.acquia.com/api/applications
                  distributions:
                    href: https://cloud.acquia.com/api/distributions
                  identity-providers:
                    href: https://cloud.acquia.com/api/identity-providers
                  organizations:
                    href: https://cloud.acquia.com/api/organizations
                  subscriptions:
                    href: https://cloud.acquia.com/api/subscriptions
                  teams:
                    href: https://cloud.acquia.com/api/teams
components:
  schemas:
    Acquia_Cloud_API_Documentation_links:
      type: object
      required:
      - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
          - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Acquia_Cloud_API_Documentation_root:
      type: object
      required:
      - status
      - _links
      properties:
        status:
          type: object
          description: The current status of various systems.
          properties:
            configuration:
              type: boolean
              description: The current configuration system status.
            registry:
              type: boolean
              description: The current registry system status.
            acp_provisioning_enabled:
              type: boolean
              description: Whether Acquia Cloud Professional provisioning is currently enabled.
            acf_provisioning_enabled:
              type: boolean
              description: Whether Acquia Cloud Free provisioning is currently enabled.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      type: oauth2
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          tokenUrl: https://accounts.acquia.com/api/token
          scopes: {}
    Codebase_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    MEO_Environment_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    Site_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
