openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Account API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Account
  x-displayName: Account
paths:
  /account:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns details about your account
      description: Returns details about your account.
      operationId: getAccount
      x-cli-name: accounts:find
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user'
              example:
                id: 1234567
                uuid: 82cff7ec-2f09-11e9-b210-d663bd873d93
                name: jane.doe
                first_name: Jane
                last_name: Doe
                last_login_at: 2017-03-28T13:07:54-0500
                created_at: '2016-07-17T20:35:25+00:00'
                mail: jane.doe@example.com
                phone:
                  office: null
                  mobile: '5555555555'
                  tfa: '5555555555'
                job_title: ''
                job_function: IT Executive
                company: Acquia, Inc.
                country: United States
                state: Massachusetts
                timezone: America/New_York
                picture_url: https://accounts.acquia.com/images/users/82cff7ec-2f09-11e9-b210-d663bd873d93/style/avatar
                features:
                - ci-pipelines
                - on-demand-environments
                metadata:
                  applications:
                    recent:
                    - uuid: 8b83a104-2f09-11e9-b210-d663bd873d93
                      recent_at: 2016-03-04T13:07:54-0500
                    - uuid: 8b83a104-2f09-11e9-b210-d663bd873d93
                      recent_at: 2016-03-04T12:01:07-0500
                    - uuid: 8b83a104-2f09-11e9-b210-d663bd873d93
                      recent_at: 2016-03-04T12:01:05-0500
                    starred:
                    - 987c5c48-2f09-11e9-b210-d663bd873d93
                    - 9b684e30-2f09-11e9-b210-d663bd873d93
                flags:
                  active: true
                  tfa: true
                  support: false
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account
                  invites:
                    href: https://cloud.acquia.com/api/account/invites
                  messages:
                    href: https://cloud.acquia.com/api/account/messages
                  tokens:
                    href: https://cloud.acquia.com/api/account/tokens
                  parent:
                    href: https://cloud.acquia.com/api/
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Does not exist:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
  /account/applications/{applicationUuid}/has-permission:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account has access to a specific application permission
      description: Returns whether your account has access to a specific application permission.
      operationId: getAccountApplicationHasPermission
      x-cli-name: accounts:application-has-permission
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_permission'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_has-permission'
              example:
                access: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/applications/27a861f0-2fdc-11e9-b210-d663bd873d93/has-permission?permission=deploy%20to%20prod
                  application:
                    href: https://cloud.acquia.com/api/applications/27a861f0-2fdc-11e9-b210-d663bd873d93
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Do not have permission:
                  value:
                    error: forbidden
                    message: You do not have the 'example permission' permission for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Permission not found:
                  value:
                    error: not_found
                    message: The permission you are trying to look up does not exist.
  /account/applications/{applicationUuid}/is-admin:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is an administrator for an application
      description: Returns whether your account is an administrator for an application.
      operationId: getAccountApplicationIsAdministrator
      x-cli-name: accounts:is-application-admin
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-administrator'
              example:
                admin: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/applications/27a861f0-2fdc-11e9-b210-d663bd873d93/is-admin
                  application:
                    href: https://cloud.acquia.com/api/applications/27a861f0-2fdc-11e9-b210-d663bd873d93
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Do not have permission:
                  value:
                    error: forbidden
                    message: You do not have permission to administer this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /account/applications/{applicationUuid}/is-owner:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is the owner for an application
      description: Returns whether your account is the owner for an application.
      operationId: getAccountApplicationIsOwner
      x-cli-name: accounts:is-application-owner
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-owner'
              example:
                owner: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/applications/27a861f0-2fdc-11e9-b210-d663bd873d93/is-owner
                  application:
                    href: https://cloud.acquia.com/api/applications/27a861f0-2fdc-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /account/applications/{applicationUuid}/actions/mark-recent:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Account
      summary: Marks an application as recently viewed
      description: Marks an application as recently viewed. UUIDs and timestamps of recent applications are present in the "account" endpoint.
      operationId: postAccountApplicationMarkRecent
      x-cli-name: accounts:application-mark-recent
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Marked as recently viewed:
                  value:
                    message: The application has been marked as recently viewed.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Does not exist:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Already on the recently viewed list:
                  value:
                    error: conflict
                    message: Unable to add an application to the recently viewed list.
  /account/applications/{applicationUuid}/actions/star:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Account
      summary: Stars an application
      description: Stars an application. UUIDs of starred applications are present in the "account" endpoint.
      operationId: postAccountApplicationStar
      x-cli-name: accounts:application-star
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Starred:
                  value:
                    message: The application has been starred.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Does not exist:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                User does not have access:
                  value:
                    error: not_found
                    message: The user does not have access to this application.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Unable to add:
                  value:
                    error: conflict
                    message: The application has already been starred by this user.
  /account/applications/{applicationUuid}/actions/unstar:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Account
      summary: Removes an application from the user's starred list
      description: Removes an application from the user's starred list. UUIDs of starred applications are present in the "account" endpoint.
      operationId: postAccountApplicationUnstar
      x-cli-name: accounts:application-unstar
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Starred:
                  value:
                    message: The application has been unstarred.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Does not exist:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                User does not have access:
                  value:
                    error: not_found
                    message: The user does not have access to this application.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Unable to add:
                  value:
                    error: conflict
                    message: The application is not currently starred by this user.
  /account/drush-aliases/download:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns the drush aliases as a compressed archive download
      description: Returns the drush aliases as a compressed archive download.
      operationId: getAccountDrushAliasesDownload
      x-cli-name: accounts:drush-aliases
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_drush-version'
      responses:
        '200':
          description: OK
          content:
            application/gzip:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_file'
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Version not supported:
                  value:
                    error: forbidden
                    message: Only Drush 8 and 9 are supported.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No Cloud API key found:
                  value:
                    error: not_found
                    message: No Cloud API key found for user with email address test@example.com.
                No applications found:
                  value:
                    error: not_found
                    message: No hosted applications found for user with email address test@example.com.
                No aliases found:
                  value:
                    error: not_found
                    message: No Drush aliases found for user with email address test@example.com.
                User not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
  /account/ides:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns a list of Cloud IDEs associated with the current user
      description: Returns a list of Cloud IDEs associated with the current user.
      operationId: getAccountIdes
      x-cli-name: accounts:ide-list
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ides'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/ides
                  parent:
                    href: https://cloud.acquia.com/api/account
                _embedded:
                  items:
                  - uuid: 9a83c081-ef78-4dbd-8852-11cc3eb248f7
                    label: IDE Label 1
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/9a83c081-ef78-4dbd-8852-11cc3eb248f7
                      web:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.web.ahdev.cloud
                      ide:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.ide.ahdev.cloud
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                  - uuid: feea197a-9503-4441-9f49-b4d420b0ecf8
                    label: IDE Label 2
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/feea197a-9503-4441-9f49-b4d420b0ecf8
                      web:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.web.ahdev.cloud
                      ide:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.ide.ahdev.cloud
                      application:
                        href: https://cloud.acquia.com/api/applications/cc26f963-6e9e-49df-a159-230f75e455aa
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                User not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
  /account/invites:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Gets a list of all organization admin and team invites that are pending for the…
      description: 'Gets a list of all organization admin and team invites that are pending for the current user.


        Filterable fields:

        * `mail`

        * `token`

        * `author`


        Sortable fields:

        * `mail`

        * `token`

        * `author`'
      operationId: getAccountInvites
      x-cli-name: accounts:invites-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_from'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_to'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_account-invites'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/invites
                  parent:
                    href: https://cloud.acquia.com/api/account
                _embedded:
                  items:
                  - applications:
                    - uuid: a6a494aa-1316-4867-b681-95e3d77a6b34
                      name: Example application
                    author:
                      uuid: 0f1915e8-cd84-4386-94b8-21926fc376f5
                      username: jane.doe
                      first_name: Jane
                      last_name: Doe
                      mail: jane.doe@example.com
                      picture_url: https://accounts.acquia.com/sites/default/files/avatars/123abc?mail=jane.doe@example.com
                    organization:
                      name: Organization Name
                      uuid: e83c3532-2fe0-11e9-b210-d663bd873d93
                    roles:
                    - uuid: fe79cb7a-2fe0-11e9-b210-d663bd873d93
                      name: Senior Developer
                    team:
                      uuid: 01d73cf8-2fe1-11e9-b210-d663bd873d93
                      name: Team Name
                    uuid: eb947b2c-2fe0-11e9-b210-d663bd873d93
                    email: invitee@example.com
                    created_at: '2012-05-15T12:00:00Z'
                    token: dd9ea69fdcb6bee08b31a858b85535ec
                    flags:
                      declined: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/invites/eb947b2c-2fe0-11e9-b210-d663bd873d93
                      organization:
                        href: https://cloud.acquia.com/api/organizations/e83c3532-2fe0-11e9-b210-d663bd873d93
                  - organization:
                      name: Organization Name
                      uuid: e83c3532-2fe0-11e9-b210-d663bd873d93
                    author:
                      uuid: 0f1915e8-cd84-4386-94b8-21926fc376f5
                      username: jane.doe
                      first_name: Jane
                      last_name: Doe
                      mail: jane.doe@example.com
                      picture_url: https://accounts.acquia.com/sites/default/files/avatars/123abc?mail=jane.doe@example.com
                    uuid: 0540f4ba-2fe1-11e9-b210-d663bd873d93
                    email: invitee@example.com
                    created_at: '2012-05-15T12:00:00Z'
                    token: dd9ea69fdcb6bee08b31a858b85535ec
                    flags:
                      declined: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/invites/0540f4ba-2fe1-11e9-b210-d663bd873d93
                      organization:
                        href: https://cloud.acquia.com/api/organizations/e83c3532-2fe0-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                User not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
  /account/messages:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns a list of messages associated with the current user
      description: 'Returns a list of messages associated with the current user.


        Filterable fields:

        * `title`

        * `message_type`

        * `display_mode`


        Sortable fields:

        * `title`

        * `message_type`

        * `display_mode`'
      operationId: getAccountMessages
      x-cli-name: accounts:messages-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_from'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_to'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ux-messages'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 2
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/messages
                  parent:
                    href: https://cloud.acquia.com/api/
                  filter:
                    href: https://cloud.acquia.com/api/messages{?filter}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/messages{?sort}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/messages{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/messages{?offset}
                    templated: true
                _embedded:
                  items:
                  - id: 883581
                    uuid: 17ff551f-a037-4c0a-a0cb-ad6616ab3aa3
                    title: Example title
                    body: null
                    url: null
                    filters:
                      type: alert
                      display_mode: bar
                      paths: []
                    flags:
                      dismissed: false
                      dismissible: true
                      active: true
                    weight: -1
                    start_at: '2019-07-07T09:45:00-04:00'
                    expire_at: '2019-07-15T09:45:00-04:00'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/messages/17ff551f-a037-4c0a-a0cb-ad6616ab3aa2
                      dismiss:
                        href: https://cloud.acquia.com/api/messages/17ff551f-a037-4c0a-a0cb-ad6616ab3aa2/actions/dismiss
                      follow:
                        href: https://cloud.acquia.com/api/messages/17ff551f-a037-4c0a-a0cb-ad6616ab3aa2/actions/follow
                  - id: 883581
                    uuid: 17ff551f-a037-4c0a-a0cb-ad6616ab3aa3
                    title: Another example title
                    body: null
                    url: null
                    filters:
                      type: alert
                      display_mode: bar
                      paths: []
                    flags:
                      dismissed: false
                      dismissible: true
                      active: true
                    weight: -1
                    start_at: '2019-07-07T09:45:00-04:00'
                    expire_at: '2019-07-15T09:45:00-04:00'
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/messages/17ff551f-a037-4c0a-a0cb-ad6616ab3aa2
                      dismiss:
                        href: https://cloud.acquia.com/api/messages/17ff551f-a037-4c0a-a0cb-ad6616ab3aa2/actions/dismiss
                      follow:
                        href: https://cloud.acquia.com/api/messages/17ff551f-a037-4c0a-a0cb-ad6616ab3aa2/actions/follow
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Messages not found:
                  value:
                    error: not_found
                    message: The messages you are trying to view do not exist, or you do not have permission to access them.
  /account/organizations/{organizationUuid}/is-admin:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is an administrator for an organization
      description: Returns whether your account is an administrator for an organization.
      operationId: getAccountOrganizationIsAdministrator
      x-cli-name: accounts:is-organization-admin
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-administrator'
              example:
                admin: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/organizations/2026962e-2fe4-11e9-b210-d663bd873d93/is-admin
                  organization:
                    href: https://cloud.acquia.com/api/organizations/2026962e-2fe4-11e9-b210-d663bd873d93
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Do not have permission:
                  value:
                    error: forbidden
                    message: You do not have permission to administer this organization.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /account/organizations/{organizationUuid}/is-owner:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is the owner for an organization
      description: Returns whether your account is the owner for an organization.
      operationId: getAccountOrganizationIsOwner
      x-cli-name: accounts:is-organization-owner
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-owner'
              example:
                owner: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/organizations/2026962e-2fe4-11e9-b210-d663bd873d93/is-owner
                  organization:
                    href: https://cloud.acquia.com/api/organizations/2026962e-2fe4-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /account/password:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Account
      summary: Verifies that the supplied password matches the current user's password
      description: Verifies that the supplied password matches the current user's password.
      operationId: postAccountPassword
      x-cli-name: accounts:password-check
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_password'
            example:
              password: mysupersecretpassword
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_password'
            example:
              password: mysupersecretpassword
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_password-validation'
              example:
                valid: true
  /account/ssh-keys:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Gets a list of SSH keys associated with the current user
      description: 'Gets a list of SSH keys associated with the current user.


        Filterable fields:

        * `label`


        Sortable fields:

        * `label`'
      operationId: getAccountSshKeys
      x-cli-name: accounts:ssh-keys-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_from'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_to'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ssh-keys'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/ssh-keys
                  sort:
                    href: https://cloud.acquia.com/api/account/ssh-keys{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/account/ssh-keys{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/account/ssh-keys{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/account
                _embedded:
                  items:
                  - uuid: 02905393-65d7-4bef-873b-24593f73d273
                    label: PC Home
                    fingerprint: 5d:23:fb:45:70:df:ef:ad:ca:bf:81:93:cd:50:26:28
                    created_at: '2017-05-09T20:30:35+00:00'
                    public_key: ssh-rsa AAAAB3NzaC1yc2EADHrfHY17SbrmAAABIwAAAQEAklOUpkTIpNLTGK9Tjom/BWDSUGPl+nafzlZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5HDTYW7hdI4yQVkbPppSwg0cda3Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== example@example.com
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/account/ssh-keys/02905393-65d7-4bef-873b-24593f73d273
                  - uuid: d40833b3-6ea4-4339-9e2c-4b78e700258b
                    label: Laptop Work
                    fingerprint: 5b:18:fb:50:55:df:cf:d5:bf:ea:81:23:ef:55:22:29
                    created_at: '2017-05-09T20:30:35+00:00'
                    public_key: ssh-rsa 1yc2EAAAABIwbrmTIpNLTGK9Tjom/BWDSUGPl+nafzlHDAAAQEAklOUpkDHrfHY17STYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4pSwg0cda3PbAAAAB3NzaCv7kOdJ/MTyBlWXFCRh9lFX5QVkbPp+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== example@example.com
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/account/ssh-keys/d40833b3-6ea4-4339-9e2c-4b78e700258b
                  - uuid: c40ee264-0023-4f60-815b-d20b44740746
                    label: PC Work
                    fingerprint: 7c:s3:ab:30:40:da:cf:c5:bf:ca:31:33:ed:58:23:21
                    created_at: '2017-05-09T20:30:35+00:00'
                    public_key: ssh-rsa A1yc2EAAAlOUpkDHrfHY17SbrmTIAAAB3NzaCom/BWDSUGPl+nafzlHDTYW7hdI4yQVkbPppSwg0cda3ABIwAAAQEAkPZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5bv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XAt3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/EnmZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbxNrRFi9wrf+M7Q== example@example.com
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/account/ssh-keys/c40ee264-0023-4f60-815b-d20b44740746
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                User not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
    post:
      tags:
      - Account
      summary: Installs a new SSH key for the current user
      description: Installs a new SSH key for the current user.
      operationId: postAccountSshKeys
      x-cli-name: accounts:ssh-key-create
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ssh-key-request'
            example:
              label: mykey
              public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChwPHzTTDKDpSbpa2+d22LcbQmsw92eLsUK3Fmei1fiGDkd34NsYCN8m7lsi3NbvdMS83CtPQPWiCveYPzFs1/hHc4PYj8opD2CNnr5iWVVbyaulCYHCgVv4aB/ojcexg8q483A4xJeF15TiCr/gu34rK6ucTvC/tn/rCwJBudczvEwt0klqYwv8Cl/ytaQboSuem5KgSjO3lMrb6CWtfSNhE43ZOw+UBFBqxIninN868vGMkIv9VY34Pwj54rPn/ItQd6Ef4B0KHHaGmzK0vfP+AK7FxNMoHnj3iYT33KZNqtDozdn5tYyH/bThPebEtgqUn+/w5l6wZIC/8zzvls/127ngHk+jNa0PlNyS2TxhPUK4NaPHIEnnrlp07JEYC4ImcBjaYCWAdcTcUkcJjwZQkN4bGmyO9cjICH98SdLD/HxqzTHeaYDbAX/Hu9HfaBb5dXLWsjw3Xc6hoVnUUZbMQyfgb0KgxDLh92eNGxJkpZiL0VDNOWCxDWsNpzwhLNkLqCvI6lyxiLaUzvJAk6dPaRhExmCbU1lDO2eR0FdSwC1TEhJOT9eDIK1r2hztZKs2oa5FNFfB/IFHVWasVFC9N2h/r/egB5zsRxC9MqBLRBq95NBxaRSFng6ML5WZSw41Qi4C/JWVm89rdj2WqScDHYyAdwyyppWU4T5c9Fmw== example@example.com
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ssh-key-request'
            example:
              label: mykey
              public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChwPHzTTDKDpSbpa2+d22LcbQmsw92eLsUK3Fmei1fiGDkd34NsYCN8m7lsi3NbvdMS83CtPQPWiCveYPzFs1/hHc4PYj8opD2CNnr5iWVVbyaulCYHCgVv4aB/ojcexg8q483A4xJeF15TiCr/gu34rK6ucTvC/tn/rCwJBudczvEwt0klqYwv8Cl/ytaQboSuem5KgSjO3lMrb6CWtfSNhE43ZOw+UBFBqxIninN868vGMkIv9VY34Pwj54rPn/ItQd6Ef4B0KHHaGmzK0vfP+AK7FxNMoHnj3iYT33KZNqtDozdn5tYyH/bThPebEtgqUn+/w5l6wZIC/8zzvls/127ngHk+jNa0PlNyS2TxhPUK4NaPHIEnnrlp07JEYC4ImcBjaYCWAdcTcUkcJjwZQkN4bGmyO9cjICH98SdLD/HxqzTHeaYDbAX/Hu9HfaBb5dXLWsjw3Xc6hoVnUUZbMQyfgb0KgxDLh92eNGxJkpZiL0VDNOWCxDWsNpzwhLNkLqCvI6lyxiLaUzvJAk6dPaRhExmCbU1lDO2eR0FdSwC1TEhJOT9eDIK1r2hztZKs2oa5FNFfB/IFHVWasVFC9N2h/r/egB5zsRxC9MqBLRBq95NBxaRSFng6ML5WZSw41Qi4C/JWVm89rdj2WqScDHYyAdwyyppWU4T5c9Fmw== example@example.com
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Adding SSH key.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/ssh-keys
                  parent:
                    href: https://cloud.acquia.com/api/account
                  notification:
                    href: https://cloud.acquia.com/api/notifications/5fef247f-3c99-42a2-bb3c-69b32a06e7e9
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Label is invalid:
                  value:
                    error: validation_failed
                    message:
                      public_key: 'The supplied label is invalid: it may only contain letters, numbers and underscores.'
                Public key must be RSA:
                  value:
                    error: validation_failed
                    message:
                      public_key: 'The supplied public key type is unsupported: it must be RSA (ssh-rsa).'
                Public key is invalid:
                  value:
                    error: validation_failed
                    message:
                      public_key: The supplied public key is invalid.
                Public key too short:
                  value:
                    error: validation_failed
                    message:
                      public_key: 'The supplied public key type is too short: it must be at least 4096 bits long.'
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Key with label already exists:
                  value:
                    error: conflict
                    message: An SSH key with this label already exists for this user.
                Key with public key already exists:
                  value:
                    error: conflict
                    message: An SSH key with this public key already exists for this user.
  /account/ssh-keys/{sshKeyUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Get an SSH key associated with the currently-logged in user
      description: Get an SSH key associated with the currently-logged in user.
      operationId: getAccountSshKey
      x-cli-name: accounts:ssh-key-find
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_ssh-key-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ssh-key'
              example:
                uuid: b2a53dfb-f4e2-4543-814d-7a9aa3793746
                label: PC Home
                fingerprint: 8d:13:fb:50:50:da:cf:c5:bf:ca:31:33:ed:51:27:24
                created_at: '2017-05-09T20:30:35+00:00'
                public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQChwPHzTTDKDpSbpa2+d22LcbQmsw92eLsUK3Fmei1fiGDkd34NsYCN8m7lsi3NbvdMS83CtPQPWiCveYPzFs1/hHc4PYj8opD2CNnr5iWVVbyaulCYHCgVv4aB/ojcexg8q483A4xJeF15TiCr/gu34rK6ucTvC/tn/rCwJBudczvEwt0klqYwv8Cl/ytaQboSuem5KgSjO3lMrb6CWtfSNhE43ZOw+UBFBqxIninN868vGMkIv9VY34Pwj54rPn/ItQd6Ef4B0KHHaGmzK0vfP+AK7FxNMoHnj3iYT33KZNqtDozdn5tYyH/bThPebEtgqUn+/w5l6wZIC/8zzvls/127ngHk+jNa0PlNyS2TxhPUK4NaPHIEnnrlp07JEYC4ImcBjaYCWAdcTcUkcJjwZQkN4bGmyO9cjICH98SdLD/HxqzTHeaYDbAX/Hu9HfaBb5dXLWsjw3Xc6hoVnUUZbMQyfgb0KgxDLh92eNGxJkpZiL0VDNOWCxDWsNpzwhLNkLqCvI6lyxiLaUzvJAk6dPaRhExmCbU1lDO2eR0FdSwC1TEhJOT9eDIK1r2hztZKs2oa5FNFfB/IFHVWasVFC9N2h/r/egB5zsRxC9MqBLRBq95NBxaRSFng6ML5WZSw41Qi4C/JWVm89rdj2WqScDHYyAdwyyppWU4T5c9Fmw== example@example.com
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/ssh-keys/b2a53dfb-f4e2-4543-814d-7a9aa3793746
                  parent:
                    href: https://cloud.acquia.com/api/account/ssh-keys
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                SSH key missing:
                  value:
                    error: not_found
                    message: The SSH key does not exist, or you do not have permission to access it.
                SSH key not found:
                  value:
                    error: not_found
                    message: The SSH key you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Account
      summary: Deletes an SSH key
      description: Deletes an SSH key.
      operationId: deleteAccountSshKey
      x-cli-name: accounts:ssh-key-delete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_ssh-key-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Removed key:
                  value:
                    message: Removed SSH key.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/account/ssh-keys/1acbb1a5-e864-4b8e-a3f9-b1ed462afd25
                      parent:
                        href: https://cloud.acquia.com/api/account/ssh-keys
                      notification:
                        href: https://cloud.acquia.com/api/notifications/519caf5f-007a-4562-a726-37624cff7fd8
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                SSH key missing:
                  value:
                    error: not_found
                    message: The SSH key does not exist, or you do not have permission to access it.
                SSH key does not exist:
                  value:
                    error: not_found
                    message: An SSH key with UUID 1df4cb00-2fe9-11e9-b210-d663bd873d93 does not exist.
  /account/subscriptions/{subscriptionUuid}/is-admin:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is an administrator for a subscription
      description: Returns whether your account is an administrator for a subscription.
      operationId: getAccountSubscriptionIsAdministrator
      x-cli-name: accounts:is-subscription-admin
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-administrator'
              example:
                admin: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/subscriptions/b7ff7510-2fe4-11e9-b210-d663bd873d93/is-admin
                  subscription:
                    href: https://cloud.acquia.com/api/subscriptions/b7ff7510-2fe4-11e9-b210-d663bd873d93
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Do not have permission:
                  value:
                    error: forbidden
                    message: You do not have permission to administer this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /account/subscriptions/{subscriptionUuid}/is-owner:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is the owner for a subscription
      description: Returns whether your account is the owner for a subscription.
      operationId: getAccountSubscriptionIsOwner
      x-cli-name: accounts:is-subscription-owner
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-owner'
              example:
                owner: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/subscriptions/b7ff7510-2fe4-11e9-b210-d663bd873d93/is-owner
                  subscription:
                    href: https://cloud.acquia.com/api/subscriptions/b7ff7510-2fe4-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /account/teams/{teamUuid}/has-permission:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account has access to a specific team permission
      description: Returns whether your account has access to a specific team permission.
      operationId: getAccountTeamHasPermission
      x-cli-name: accounts:has-team-permission
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_team-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_permission'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_has-permission'
              example:
                access: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/teams/e5b32204-2fe4-11e9-b210-d663bd873d93/has-permission?permission=deploy%20to%20prod
                  team:
                    href: https://cloud.acquia.com/api/teams/e5b32204-2fe4-11e9-b210-d663bd873d93
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Do not have permission:
                  value:
                    error: forbidden
                    message: You do not have the 'example permission' permission for this team.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Team not found:
                  value:
                    error: not_found
                    message: The team you are trying to access does not exist, or you do not have permission to access it.
                Permission not found:
                  value:
                    error: not_found
                    message: The permission you are trying to look up does not exist.
  /account/teams/{teamUuid}/is-admin:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is an administrator for a team
      description: Returns whether your account is an administrator for a team.
      operationId: getAccountTeamIsAdministrator
      x-cli-name: accounts:is-team-admin
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_team-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-administrator'
              example:
                admin: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/teams/e5b32204-2fe4-11e9-b210-d663bd873d93/is-admin
                  team:
                    href: https://cloud.acquia.com/api/teams/e5b32204-2fe4-11e9-b210-d663bd873d93
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Do not have permission:
                  value:
                    error: forbidden
                    message: You do not have permission to administer this team.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The team you are trying to access does not exist, or you do not have permission to access it.
  /account/teams/{teamUuid}/is-owner:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns whether your account is the owner for a team
      description: Returns whether your account is the owner for a team.
      operationId: getAccountTeamIsOwner
      x-cli-name: accounts:is-team-owner
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_team-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_is-owner'
              example:
                owner: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/teams/e5b32204-2fe4-11e9-b210-d663bd873d93/is-owner
                  team:
                    href: https://cloud.acquia.com/api/teams/e5b32204-2fe4-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The team you are trying to access does not exist, or you do not have permission to access it.
  /account/tokens:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Returns a list of metadata for API access tokens tied to your account
      description: Returns a list of metadata for API access tokens tied to your account.
      operationId: getAccountTokens
      x-cli-name: accounts:tokens-list
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_tokens'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/tokens
                  parent:
                    href: https://cloud.acquia.com/api/account
                _embedded:
                  items:
                  - uuid: 17feaf34-5d04-402b-9a67-15d5161d24e1
                    active: true
                    label: My First App
                    created_at: 2016-01-22T17:41:57-0500
                    flags:
                      active: true
                    revocation: null
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/account/tokens/17feaf34-5d04-402b-9a67-15d5161d24e1
                  - uuid: 81e8965d-0af0-460d-9e46-977dfcc38c29
                    active: true
                    label: My Second App
                    created_at: 2016-01-22T17:55:15-0500
                    flags:
                      active: true
                    revocation: null
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/account/tokens/81e8965d-0af0-460d-9e46-977dfcc38c29
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                User not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
    post:
      tags:
      - Account
      summary: Creates an API access token tied to your account
      description: Creates an API access token tied to your account.
      operationId: postAccountTokens
      x-cli-name: accounts:token-create
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_token-request'
            example:
              label: API token for My App
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_token-request'
            example:
              label: API token for My App
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '201':
          description: Created
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_token-creation'
              example:
                api_key: 137bd484-dcc8-4950-a784-1f01de7f6378
                api_secret: 4DmbUmGiUkafdjcZk2yV6u17jPmmunwt8/47mKdAQIc=
                client_id: 137bd484-dcc8-4950-a784-1f01de7f6378
                client_secret: 4DmbUmGiUkafdjcZk2yV6u17jPmmunwt8/47mKdAQIc=
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/tokens
                  parent:
                    href: https://cloud.acquia.com/api/account
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ab142771-826e-42b0-a53c-e112b70448d2
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The user does not exist, or you do not have access to it.
  /account/tokens/{tokenUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Account
      summary: Return details about a specific token
      description: Return details about a specific token.
      operationId: getAccountToken
      x-cli-name: accounts:token-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_token'
              example:
                uuid: 17feaf34-5d04-402b-9a67-15d5161d24e1
                active: true
                label: My App v1.0
                created_at: 2016-01-22T17:41:57-0500
                revocation: null
                flags:
                  active: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/tokens/17feaf34-5d04-402b-9a67-15d5161d24e1
                  parent:
                    href: https://cloud.acquia.com/api/account/tokens
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Token not found:
                  value:
                    error: not_found
                    message: The access token does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Account
      summary: Revokes an access token
      description: Revokes an access token. This action will prevent the access token from being able to authorize access to the API in the future.
      operationId: deleteAccountToken
      x-cli-name: accounts:token-delete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token-delete-reason'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The access token has been revoked.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/account/tokens/03c86402-5e3b-4212-b6fd-009d271da1d0
                  parent:
                    href: https://cloud.acquia.com/api/account/tokens
                  notification:
                    href: https://cloud.acquia.com/api/notifications/7815f68b-fc52-4dc8-bdde-04d0960943e9
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The access token does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Already revoked:
                  value:
                    error: conflict
                    message: The access token has already been revoked.
components:
  parameters:
    Acquia_Cloud_API_Documentation_sort:
      name: sort
      in: query
      description: 'A comma-delimited string with fields used for sorting. The order of the fields is significant. A leading - in the field indicates the field should be sorted in a descending order. Not all fields are sortable.

        '
      required: false
      schema:
        type: string
        minimum: 1
      example: field1,-field2
    Acquia_Cloud_API_Documentation_ssh-key-uuid:
      name: sshKeyUuid
      in: path
      description: The SSH key entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 981b7910-2fe9-11e9-b210-d663bd873d93
    Acquia_Cloud_API_Documentation_drush-version:
      name: version
      in: query
      description: Specifies the drush aliases formatting, either 8 (example.aliases.drushrc.php) or 9 (example.site.yaml)
      required: true
      schema:
        type: integer
        enum:
        - 8
        - 9
      example: 8
    Acquia_Cloud_API_Documentation_token-uuid:
      name: tokenUuid
      in: path
      description: The token entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 882f3258-2fe9-11e9-b210-d663bd873d93
    Acquia_Cloud_API_Documentation_offset:
      name: offset
      in: query
      description: An integer to signify the offset to paginate from.
      required: false
      schema:
        type: integer
      example: 10
    Acquia_Cloud_API_Documentation_subscription-uuid:
      name: subscriptionUuid
      in: path
      description: The subscription entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 0f3ad33e-2fe4-11e9-b210-d663bd873d93
    Acquia_Cloud_API_Documentation_application-uuid:
      name: applicationUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
    Acquia_Cloud_API_Documentation_permission:
      name: permission
      in: query
      description: Specifies the permission you wish to check access for.
      required: true
      schema:
        type: string
      example: deploy to prod
    Acquia_Cloud_API_Documentation_filter:
      name: filter
      in: query
      description: 'The filters query string parameter restricts the data returned from your request. Filtered queries restrict the rows that do (or do not) get included in the result by testing each row in the result against the filters. Not all fields are filterable.


        There are eight filter operators that can be used and they must be URL encoded in order to be included. The operators are:


        * Equals: `= (%3D)`

        * Does not equal: `!= (!%3D)`

        * Greater than: `> (%3E)`

        * Less than: `< (%3C)`

        * Greater than or equal to: `>= (%3E%3D)`

        * Less than or equal to: `<= (%3C%3D)`

        * Contains substring: `=@ (%3D@)`

        * Does not contain substring: `!@ (!@)`


        Filters can be combined using `OR` and `AND` boolean logic. The `OR` operator is defined using a comma (`,`) and the `AND` operator is defined using a semi-colon (`;`).


        Some examples:

        * `filter=field%3Dvalue` (`field` equals `''value''`)

        * `filter=field%3D@*partialmatch` (`field` ends with `''partialmatch''`)

        * `filter=field%3D@*partialmatch,field%3Dvalue` (`field` ends with `''partialmatch''` OR `field` equals `''value''`)

        * `filter=field%3D@*partialmatch,field%3Dvalue;field2%3C5` (`field` ends with `''partialmatch''` OR `field` equals `''value''` AND `field2` > `5`)

        '
      required: false
      schema:
        type: string
        minimum: 1
    Acquia_Cloud_API_Documentation_organization-uuid:
      name: organizationUuid
      in: path
      description: The organization entity's universally unique identifier.
      required: true
      schema:
        type: string
        minLength: 36
        maxLength: 36
        format: uuid
      example: 1e7efab9-0fac-4a2c-ad94-61efc78623ba
    Acquia_Cloud_API_Documentation_team-uuid:
      name: teamUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: 3eef5d81-62f4-429c-aa94-e17d05ab4740
    Acquia_Cloud_API_Documentation_token-delete-reason:
      name: tokenDeleteReason
      in: query
      description: Specifies the reason for the token revocation for future reference.
      schema:
        type: string
      example: The quick brown fox jumped over the lazy dog.
    Acquia_Cloud_API_Documentation_to:
      name: to
      in: query
      description: 'Optionally specifies absolute time period to retrieve results until. Requires ISO 8601 format.


        Some examples:

        * `2023-09-29`

        * `2023-09-29T00%3A00%3A00.000Z` (`2023-09-29T00:00:00.000Z`)

        '
      required: false
      schema:
        type: string
      example: '2023-09-29'
    Acquia_Cloud_API_Documentation_from:
      name: from
      in: query
      description: 'Specifies absolute time period to retrieve results from. Requires ISO 8601 format.


        Some examples:

        * `2023-09-01`

        * `2023-09-01T00%3A00%3A00.000Z` (`2023-09-01T00:00:00.000Z`)

        '
      required: false
      schema:
        type: string
      example: '2023-09-01'
    Acquia_Cloud_API_Documentation_limit:
      name: limit
      in: query
      description: The maximum number of items to return.
      required: false
      schema:
        type: integer
      example: 10
  schemas:
    Acquia_Cloud_API_Documentation_is-owner:
      type: object
      required:
      - owner
      - _links
      description: Determines if a user account is an owner.
      properties:
        owner:
          type: boolean
          description: Whether or not the user account is an owner.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_message-with-links:
      type: object
      required:
      - message
      - _links
      properties:
        message:
          type: string
          description: The human-friendly confirmation of the creation of the resource.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_ide:
      type: object
      required:
      - uuid
      - label
      - status
      - _links
      properties:
        uuid:
          type: string
          format: uuid
          description: The unique identifier of the Cloud IDE.
        label:
          type: string
          description: The human-friendly label of the Cloud IDE.
        status:
          type: string
          description: The current provisioning status of the Cloud IDE.
          enum:
          - active
          - provisioning
          - deleting
          - updating
          - provision-failed
          - update-failed
          - delete-failed
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          properties:
            owner:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user-profile'
    Acquia_Cloud_API_Documentation_user:
      type: object
      required:
      - uuid
      - name
      - first_name
      - last_name
      - last_login_at
      - created_at
      - mail
      - phone
      - job_title
      - job_function
      - company
      - country
      - timezone
      - picture_url
      - flags
      - _links
      description: The response for a user object.
      properties:
        id:
          deprecated: true
          type: integer
          description: The internal database ID (uid) of the user.
        uuid:
          type: string
          format: uuid
          description: The UUID for the user.
        name:
          type: string
          description: The user name.
        first_name:
          type: string
          description: The first name of the user.
        last_name:
          type: string
          description: The last name of the user.
        last_login_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The date/time of the last login for the user.
        created_at:
          type: string
          format: date-time
          description: The date/time when the user was created.
        mail:
          type: string
          format: email
          description: The e-mail address of the user.
        phone:
          type: object
          description: The telephone numbers for the user.
          properties:
            office:
              type:
              - string
              - 'null'
              description: The office telephone number for the user.
            tfa:
              type:
              - string
              - 'null'
              description: The tfa backup telephone number for the user.
        job_title:
          type: string
          description: The job title of the user.
        job_function:
          type: string
          description: The job function of the user.
          enum:
          - --
          - Business Executive
          - IT Executive
          - IT Architect or IT Operations
          - Product or Digital Marketing
          - Website Design or Development
        company:
          type: string
          description: The company of the user.
        country:
          type: string
          description: The country of the user.
          enum:
          - --
          - United States
          - Afghanistan
          - Albania
          - Algeria
          - American Samoa
          - Andorra
          - Angola
          - Anguilla
          - Antigua and Barbuda
          - Argentina
          - Armenia
          - Ascension Island
          - Australia
          - Austria
          - Azerbaijan
          - Bahamas
          - Bahrain
          - Bangladesh
          - Barbados
          - Belarus
          - Belgium
          - Belize
          - Benin
          - Bermuda
          - Bhutan
          - Bolivia
          - Bosnia and Herzegovina
          - Botswana
          - Brazil
          - British Indian Ocean Territory
          - Brunei Darussalam
          - Bulgaria
          - Burkina Faso
          - Burundi
          - Cambodia
          - Cameroon
          - Canada
          - Cape Verde
          - Cayman Islands
          - Central African Republic
          - Chad
          - Chile
          - China
          - Colombia
          - Comoros
          - Congo
          - Cook Islands
          - Costa Rica
          - Cote D Ivoire
          - Croatia
          - Cuba
          - Cyprus
          - Czech Republic
          - Denmark
          - Djibouti
          - Dominica
          - Dominican Republic
          - Ecuador
          - Egypt
          - El Salvador
          - Equatorial Guinea
          - Eritrea
          - Estonia
          - Ethiopia
          - Falkland Islands
          - Faroe Islands
          - Federated States of Micronesia
          - Fiji
          - Finland
          - France
          - French Guiana
          - French Polynesia
          - Gabon
          - Georgia
          - Germany
          - Ghana
          - Greece
          - Greenland
          - Grenada
          - Guadeloupe
          - Guatemala
          - Guam
          - Guinea
          - Guinea Bissau
          - Guyana
          - Haiti
          - Holy See (Vatican City)
          - Honduras
          - Hong Kong
          - Hungary
          - Iceland
          - India
          - Indonesia
          - Iran
          - Ireland
          - Isle of Man
          - Israel
          - Italy
          - Jamaica
          - Japan
          - Jordan
          - Kazakhstan
          - Kenya
          - Kiribati
          - Korea
          - Kuwait
          - Kyrgyzstan
          - Laos
          - Latvia
          - Lebanon
          - Lesotho
          - Liberia
          - Libya
          - Liechtenstein
          - Lithuania
          - Luxembourg
          - Macau
          - Macedonia
          - Madagascar
          - Malawi
          - Malaysia
          - Maldives
          - Mali
          - Malta
          - Marshall Islands
          - Martinique
          - Mauritius
          - Mayotte
          - Mexico
          - Moldova
          - Monaco
          - Mongolia
          - Montenegro
          - Montserrat
          - Morocco
          - Mozambique
          - Myanmar
          - Namibia
          - Nauru
          - Nepal
          - Netherlands
          - Netherlands Antilles
          - New Caledonia
          - New Zealand
          - Nicaragua
          - Niger
          - Nigeria
          - Niue
          - Norfolk Island
          - Northern Mariana Islands
          - Norway
          - Oman
          - Pakistan
          - Palau
          - Palestine
          - Panama
          - Papua New Guinea
          - Paraguay
          - Peru
          - Philippines
          - Pitcairn
          - Poland
          - Portugal
          - Puerto Rico
          - Qatar
          - Reunion
          - Romania
          - Russian Federation
          - Rwanda
          - Saint Vincent and the Grenadines
          - San Marino
          - Sao Tome and Principe
          - Saudi Arabia
          - Senegal
          - Serbia
          - Seychelles
          - Sierra Leone
          - Singapore
          - Slovakia
          - Slovenia
          - Solomon Islands
          - Somalia
          - South Africa
          - South Georgia
          - Spain
          - Sri Lanka
          - St. Kitts and Nevis
          - St. Lucia
          - St. Pierre and Miquelon
          - Sudan
          - Suriname
          - Swaziland
          - Sweden
          - Switzerland
          - Syrian Arab Republic
          - Taiwan
          - Tajikistan
          - Tanzania
          - Thailand
          - The Gambia
          - Togo
          - Tokelau
          - Tonga
          - Trinidad and Tobago
          - Tunisia
          - Turkey
          - Turkmenistan
          - Turks and Caicos Islands
          - Tuvalu
          - Uganda
          - Ukraine
          - United Arab Emirates
          - United Kingdom
          - Uruguay
          - Uzbekistan
          - Vanuatu
          - Venezuela
          - Viet Nam
          - Virgin Islands
          - Western Samoa
          - Yemen
          - Yugoslavia
          - Zaire
          - Zambia
          - Zimbabwe
        state:
          type: string
          description: The state of the user, if in the United States.
          enum:
          - Alabama
          - Alaska
          - American Samoa
          - Arizona
          - Arkansas
          - California
          - Colorado
          - Connecticut
          - Delaware
          - District of Columbia
          - Florida
          - Georgia
          - Hawaii
          - Idaho
          - Illinois
          - Indiana
          - Iowa
          - Kansas
          - Kentucky
          - Louisiana
          - Maine
          - Maryland
          - Massachusetts
          - Michigan
          - Minnesota
          - Mississippi
          - Missouri
          - Montana
          - Nebraska
          - Nevada
          - New Hampshire
          - New Jersey
          - New Mexico
          - New York
          - North Carolina
          - North Dakota
          - Northern Mariana Islands
          - Ohio
          - Oklahoma
          - Oregon
          - Pennsylvania
          - Rhode Island
          - South Carolina
          - South Dakota
          - Tennessee
          - Texas
          - U.S. Virgin Islands
          - Utah
          - Vermont
          - Virginia
          - Washington
          - West Virginia
          - Wisconsin
          - Wyoming
        timezone:
          type: string
          description: The timezone of the user.
        picture_url:
          type: string
          format: uri
          description: The user's picture url.
        features:
          deprecated: true
          type: array
          description: The various feature flags for the user.
          items:
            type: string
            enum:
            - ci-pipelines
            - n3-disabled
            - n3-hybrid-mode
            - on-demand-environments
            - php7
            - php71
            - platform
        flags:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user-flags'
        metadata:
          deprecated: true
          type: object
          description: Metadata related to the user.
          properties:
            applications:
              type: object
              description: An array of application metadata for the user.
              properties:
                recent:
                  type: array
                  description: An array containing recent visited application information.
                  items:
                    type: object
                    properties:
                      uuid:
                        type: string
                        format: uuid
                        description: The application UUID.
                      recent_at:
                        type: string
                        format: date-time
                        description: The date-time when the application was accessed.
                starred:
                  type: array
                  description: An array containing starred application UUIDs.
                  items:
                    type: string
                    format: uuid
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_ux-message:
      type: object
      required:
      - id
      - uuid
      - title
      - body
      - url
      - filters
      - flags
      - weight
      - start_at
      - expire_at
      - _links
      properties:
        id:
          type: integer
          description: The message identifier.
        uuid:
          type: string
          description: The message unique identifier.
          format: uuid
        title:
          type: string
          description: The message title.
        body:
          type:
          - string
          - 'null'
          description: The message body.
        url:
          type:
          - string
          - 'null'
          format: uri
          description: The message url.
        filters:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ux-message-filters'
        flags:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ux-message-flags'
        weight:
          type: integer
          description: The message priority weight.
        start_at:
          type: string
          format: date-time
          description: The UTC timestamp of when the message started.
        expire_at:
          type: string
          format: date-time
          description: The UTC timestamp of when the message expires.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_password:
      type: object
      required:
      - password
      description: Describes the request body for a password.
      properties:
        password:
          type: string
          description: The password to verify.
    Acquia_Cloud_API_Documentation_ssh-key-request:
      type: object
      required:
      - label
      - public_key
      description: Describes the request body for an SSH key.
      properties:
        label:
          type: string
          description: The SSH key label.
        public_key:
          type: string
          description: The public key.
    Acquia_Cloud_API_Documentation_invite:
      type: object
      required:
      - uuid
      - email
      - created_at
      - token
      - flags
      - author
      - _links
      description: Details an invite.
      properties:
        uuid:
          type: string
          description: The unique identifier of the Invite.
          format: uuid
        email:
          type: string
          description: The invitee email address.
          format: email
        created_at:
          type: string
          description: The invite creation time.
          format: date-time
        token:
          type: string
          description: The invite token.
        flags:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_invite-flags'
        author:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user-stub'
        organization:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-stub'
        team:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_team-stub'
        applications:
          type: array
          description: List of applications the invite will grant the invitee.
          items:
            $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application-stub'
        roles:
          type: array
          description: List of roles the invite will grant the invitee.
          items:
            $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_role-stub'
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_message:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A simple message returned from the response.
    Acquia_Cloud_API_Documentation_token:
      type: object
      required:
      - uuid
      - active
      - label
      - revocation
      - flags
      - created_at
      - _links
      description: Details a token.
      properties:
        uuid:
          type: string
          format: uuid
          description: The token UUID.
        active:
          type: boolean
          description: Whether or not this token is active.
        label:
          type: string
          description: The human-readable name for this token.
        revocation:
          type:
          - string
          - 'null'
          description: If set, the reason why this token was revoked.
        flags:
          type: object
          description: Flags detailing the token's status.
          properties:
            active:
              type: boolean
              description: Whether or not this token is active.
        created_at:
          type: string
          format: date-time
          description: The creation date and time.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_role-stub:
      type: object
      required:
      - uuid
      - name
      properties:
        uuid:
          type: string
          description: The role unique identifier.
          format: uuid
        name:
          type: string
          description: The role name.
    Acquia_Cloud_API_Documentation_organization-stub:
      type: object
      required:
      - uuid
      - name
      properties:
        uuid:
          type: string
          format: uuid
          description: The organization's UUID.
        name:
          type: string
          description: The human-readable organization name.
    Acquia_Cloud_API_Documentation_token-creation:
      type: object
      required:
      - client_id
      - client_secret
      - _links
      description: Details about a created user access token.
      properties:
        api_key:
          deprecated: true
          type: string
          description: The API key.
        api_secret:
          deprecated: true
          type: string
          description: The API key secret.
        client_id:
          type: string
          description: The API client id.
        client_secret:
          type: string
          description: The API client secret.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_ux-message-flags:
      type: object
      description: An array of various flags associated with a message.
      properties:
        dismissed:
          type: boolean
        dismissible:
          type: boolean
        active:
          type: boolean
    Acquia_Cloud_API_Documentation_links:
      type: object
      required:
      - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
          - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Acquia_Cloud_API_Documentation_ssh-keys:
      type: object
      required:
      - total
      - _links
      - _embedded
      description: A collection of SSH keys.
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of SSH keys matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ssh-key'
    Acquia_Cloud_API_Documentation_password-validation:
      type: object
      description: The password validation response.
      properties:
        valid:
          type: boolean
          description: Whether or not the password is valid.
    Acquia_Cloud_API_Documentation_is-administrator:
      type: object
      required:
      - admin
      - _links
      description: Determines if a user account is an administrator.
      properties:
        admin:
          type: boolean
          description: Whether or not the user account is an administrator.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_ides:
      type: object
      required:
      - total
      - _links
      - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of Cloud IDEs matching the request parameters.
          required:
          - items
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ide'
    Acquia_Cloud_API_Documentation_validation-error:
      type: object
      required:
      - error
      - message
      description: A validation error.
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: object
          description: The validation error message keyed by its field or group name.
          additionalProperties:
            type: string
    Acquia_Cloud_API_Documentation_ssh-key:
      type: object
      required:
      - uuid
      - label
      - public_key
      - fingerprint
      - created_at
      - _links
      description: Details an SSH key.
      properties:
        uuid:
          type: string
          description: The unique identifier of the SSH key.
          format: uuid
        label:
          type: string
          description: The human-readable key label.
        public_key:
          type: string
          description: The public key.
          minLength: 64
        fingerprint:
          type: string
          description: The public key fingerprint.
        created_at:
          type: string
          format: date-time
          description: The key creation date.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_file:
      type: string
      description: A binary file response.
      format: binary
    Acquia_Cloud_API_Documentation_has-permission:
      type: object
      description: Determines if a user account has a specific permission.
      required:
      - access
      - _links
      properties:
        access:
          type: boolean
          description: Whether or not the user account has the specific permission.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_tokens:
      type: object
      required:
      - total
      - _links
      - _embedded
      description: A collection of tokens.
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of tokens matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_token'
    Acquia_Cloud_API_Documentation_ux-messages:
      type: object
      required:
      - total
      - _links
      - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of application messages matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ux-message'
    Acquia_Cloud_API_Documentation_token-request:
      type: object
      required:
      - label
      description: Describes the request body for a token.
      properties:
        label:
          type: string
          description: The label to give to the token for future reference.
          minLength: 1
    Acquia_Cloud_API_Documentation_user-stub:
      type: object
      required:
      - uuid
      - first_name
      - last_name
      - mail
      - picture_url
      - username
      properties:
        uuid:
          type: string
          format: uuid
          description: The user's UUID.
        first_name:
          type: string
          description: The user's first name.
        last_name:
          type: string
          description: The user's last name.
        mail:
          type: string
          format: email
          description: The user's email address.
        picture_url:
          type:
          - string
          - 'null'
          format: uri
          description: The URI for the user's picture.
        username:
          type: string
          description: The user's internal user name.
    Acquia_Cloud_API_Documentation_error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
    Acquia_Cloud_API_Documentation_ux-message-filters:
      type: object
      description: Defines where a message should appear.
      properties:
        paths:
          type: array
          description: Collection of paths.
          items:
            type: string
            description: Paths where a message should appear.
        display_mode:
          type: string
          description: How the message should be displayed.
          enum:
          - bar
          - list
        type:
          type: string
          description: The message type.
          enum:
          - alert
          - general
          - new
          - warning
    Acquia_Cloud_API_Documentation_invite-flags:
      type: object
      description: An array of various flags providing more context for the Invite response object.
      properties:
        declined:
          type: boolean
    Acquia_Cloud_API_Documentation_account-invites:
[...]
