openapi: 3.0.0
info:
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
  description: "Acquia Cloud API\n\n# Compatibility\n\n## Stability\n\nThe response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.\n\nThere are three levels of stability:\n\n* `prototype`: A prototype resource is experimental and major changes are likely. A prototype resource may not reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one week notice\n    * Deprecated resources will remain available for at least one month after deprecation\n* `development`: A resource that is unlikely to change, but is still being worked on, will be marked as in development. These resources are very likely to reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one month notice\n    * Deprecated resources will remain available for at least six months after deprecation\n* `production`: A production resource will not introduce breaking changes within a version, and any breaking changes between versions will be communicated ahead of time.\n\n## Deprecation\n\nOver time, endpoints may become obsolete and will be removed in the future. These endpoints will be marked with an `X-CloudAPI-Deprecated` header indicating the version in which they were deprecated and the reason for the deprecation. Deprecated endpoints may be removed in the next version of the resource.\n\n## Versioning\n\nAll resource endpoints are versioned within the API. Endpoints that have reached production will not introduce breaking changes between versions. Non-production endpoints will not version for changes.\n\nA specific version of an endpoint can be requested via the `Accept` header:\n\n    Accept: application/hal+json, version=2\n\nIf the version is not specified, the latest version of the endpoint will be used.\n\nStarting with version 3, we will support the current version of an endpoint and the previous version. Version 1 of the API is [provided elsewhere](https://cloudapi.acquia.com/).\n\n## Errors\n\nSome endpoints will return a 503 status when dependent services are unavailable:\n\n    application/hal+json\n    {\n        \"error\": \"system\",\n        \"message\": \"This action is currently unavailable. Please try again later.\"\n    }\n\n## Authentication\n\nAll Acquia Cloud API calls require authentication to work properly.\n\nLearn more: <a href='https://docs.acquia.com/acquia-cloud/develop/api/auth/' target='_blank'>https://docs.acquia.com/acquia-cloud/develop/api/auth/</a>\n\n### Example implementation\n\nAn example PHP script for making authenticated API requests can be found <a href='https://docs.acquia.com/resources/useful-references' target='_blank'>here</a>. This script uses the <a href='https://oauth2-client.thephpleague.com/' target='_blank'>League/oauth2-client</a> library, installed via Composer.\n"
  title: Acquia Cloud API Account Applications API
  version: 2.0.0
  x-logo:
    altText: Acquia Cloud
    backgroundColor: '#FFFFFF'
    url: assets/cloud-platform.svg
servers: []
tags:
- name: Applications
paths:
  /applications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Applications contains the code, files, and databases required to run sites. You have access to an application if you are a member of a team that has access to an application, or if you are an administrator or owner of the organization that the application belongs to. A subscription may contain one or more applications.


        Filterable fields:

        * `label`

        * <s>`name`</s> (Deprecated)

        * `organization_name`

        * <s>`hosting`</s> (Deprecated) Use URL encoded colon (%3A) to separate realm and sitegroup, e.g. network%3An3 instead of network:n3


        Sortable fields:

        * `label`

        * <s>`name`</s>  (Deprecated)

        * `organization_name`

        '
      operationId: getApplications
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                    flags:
                      remote_admin: true
                    hosting:
                      id: devcloud:devcloud2
                      type: acp
                    id: 241643
                    name: Sample application 1
                    organization:
                      name: Sample organization
                      uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                    status: normal
                    subscription:
                      name: Sample subscription
                      uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                    tags:
                    - _links:
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                      color: blue
                      name: tag-1
                    - _links:
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                      color: green
                      name: tag-2
                    type: drupal
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d471
                    flags:
                      remote_admin: false
                    hosting:
                      id: devcloud:devcloud2
                      type: free
                    id: 954291
                    name: Sample application 2
                    organization:
                      name: Sample organization
                      uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                    status: provisioning
                    subscription:
                      name: Sample subscription
                      uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                    tags:
                    - _links:
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                      color: blue
                      name: tag-1
                    - _links:
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                      color: green
                      name: tag-2
                    type: node
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d471
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/
                  self:
                    href: https://cloud.acquia.com/api/applications?limit=10
                  sort:
                    href: https://cloud.acquia.com/api/applications{?sort}
                    templated: true
                pagination:
                  limit: 10
                  offset: 0
                  total: 2
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_applications'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: forbidden
                    message: You do not have permission to view applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return a List of Applications the Current User Has Access To.
      tags:
      - Applications
      x-cli-name: applications:list
  /applications/{applicationUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: A specific application.
      operationId: getApplicationByUuid
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  organization:
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/6a907396-abfd-4d01-9da6-64c8efc04519
                    name: Sample organization
                    uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                  subscription:
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/f47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample subscription
                    uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                  tags:
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                      self:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                    color: blue
                    name: tag-1
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                      self:
                        href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                    color: green
                    name: tag-2
                _links:
                  code:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/code
                  databases:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases
                  environments:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/environments
                  events:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/events
                  features:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/features
                  ides:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/ides
                  parent:
                    href: https://cloud.acquia.com/api/applications
                  permissions:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/permissions
                  search:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/search
                  self:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a
                  settings:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/settings
                  tasks:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/tasks
                  teams:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/teams
                flags:
                  remote_admin: true
                hosting:
                  id: devcloud:devcloud2
                  type: acp
                id: 2416431
                name: Sample application
                organization:
                  name: Sample organization
                  uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                status: normal
                subscription:
                  name: Sample subscription
                  uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                type: drupal
                uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application'
          description: OK
        '404':
          content:
            application/hal+json:
              example:
                error: not_found
                message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Details About a Specific Application.
      tags:
      - Applications
      x-cli-name: applications:find
    put:
      description: Renames a specific application.
      operationId: putApplicationByUuid
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        content:
          application/hal+json:
            example:
              name: My new application name
            schema:
              properties:
                name:
                  description: The new name of the application.
                  maxLength: 255
                  minLength: 1
                  type: string
              type: object
          application/x-www-form-urlencoded:
            example:
              name: My new application name
            schema:
              properties:
                name:
                  description: The new name of the application.
                  type: string
              type: object
        required: true
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/27698331-bcf9-48e9-9f12-931ac88f446f
                  parent:
                    href: https://cloud.acquia.com/api/applications
                  self:
                    href: https://cloud.acquia.com/api/applications/db1d0e46-6799-4208-9786-c7e64150a7c7
                message: Application renamed.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '400':
          content:
            application/hal+json:
              examples:
                Name already in use:
                  value:
                    error: validation_failed
                    message:
                      name: You already have an application with this name.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              example:
                error: forbidden
                message: You do not have permission to modify this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No application:
                  value:
                    error: not_found
                    message: The application with UUID a47ac10b-58cc-4372-a567-0e02b2c3d470 does not exist.
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Name in use:
                  value:
                    error: conflict
                    message: The new application name is the same as the old application name. No action taken.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Renames an Application.
      tags:
      - Applications
      x-cli-name: applications:rename
  /applications/{applicationUuid}/artifacts:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Returns a list of this application''s build artifacts. Only available for Node.js applications.


        Filterable fields:

        * `created`

        * `name`


        Sortable fields:

        * `created`

        * `name`

        '
      operationId: getArtifactsByApplicationUuid
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/1
                    created_at: '2012-05-15T12:00:00Z'
                    id: 1
                    name: master@e5a80b9e0a2bdb1df32c6cdfce54deb70cc20ad2
                    state: ready
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/2
                    created_at: '2012-05-15T12:00:00Z'
                    id: 2
                    name: master@a265389db6a6918cf4e51edbe5f06d7e1578175c
                    state: pending-upload
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/3
                    created_at: '2012-05-15T12:00:00Z'
                    id: 3
                    name: master@e7157f36e5fb82317ffee2fc2d70302cdad0c60c
                    state: deleted
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts
                  sort:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts{?sort}
                    templated: true
                total: 3
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_artifacts'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Application type:
                  value:
                    error: not_found
                    message: Artifacts are only available for Node.js applications.
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Application Artifacts.
      tags:
      - Applications
      x-cli-name: applications:artifact-list
  /applications/{applicationUuid}/artifacts/{artifactId}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'A specific artifact.

        '
      operationId: getArtifactByApplicationUuidAndId
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_artifact-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/artifacts/1
                created_at: '2012-05-15T12:00:00Z'
                id: 1
                name: master@e5a80b9e0a2bdb1df32c6cdfce54deb70cc20ad2
                state: ready
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_artifact'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Application type:
                  value:
                    error: not_found
                    message: Artifacts are only available for Node.js applications.
                No application:
                  value:
                    error: not_found
                    message: The application with UUID a47ac10b-58cc-4372-a567-0e02b2c3d470 does not exist.
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                No artifact:
                  value:
                    error: not_found
                    message: The build artifact you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Return Details About a Specific Artifact.
      tags:
      - Applications
      x-cli-name: applications:artifact-find
  /applications/{applicationUuid}/code:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Returns a list of branches and release (repository) tags in this application''s version control system.


        Filterable fields:

        * `name`


        Sortable fields:

        * `name`

        '
      operationId: getCodeByApplicationUuid
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - flags:
                      tag: false
                    name: master
                  - flags:
                      tag: false
                    name: feature-branch
                  - flags:
                      tag: true
                    name: tags/2014-09-03
                  - flags:
                      tag: true
                    name: tags/2014-09-03.0
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/code
                total: 4
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                No VCS Settings:
                  value:
                    error: not_found
                    message: No version control system settings found on non-hosted application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Application Branches and Release Tags.
      tags:
      - Applications
      x-cli-name: applications:vcs-info
  /applications/{applicationUuid}/code-studio:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    delete:
      description: Removes the Code Studio project from an application.
      operationId: deleteCodeStudioProject
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/e0c0ec4d-cb4d-4b9a-92ed-503d1e8dae4a
                  self:
                    href: https://cloud.acquia.com/api/applications/98529a07-5f07-4c4d-836b-03c9226c03fd/code-studio
                message: The Code Studio project is being removed from the Application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to remove the Code Studio project from this Application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Removes the Code Studio Project from an Application.
      tags:
      - Applications
    get:
      description: Return details about the Code Studio project for an application.
      operationId: getCodeStudioProject
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  application:
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c
                    name: My Application
                    uuid: 906c1ad5-f367-4127-b529-9dbe29bc5c1c
                _links:
                  application:
                    href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c
                  applications:
                    href: https://cloud.acquia.com/api/applications
                  code-studio:
                    href: https://code.acquia.com/path/to/project
                  code-studio-api:
                    href: https://code.acquia.com/api/v4/path/to/project
                  parent:
                    href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c
                  self:
                    href: https://cloud.acquia.com/api/applications/906c1ad5-f367-4127-b529-9dbe29bc5c1c/code-studio
                application_id: 906c1ad5-f367-4127-b529-9dbe29bc5c1c
                status: active
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-project'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Code Studio not enabled for application:
                  value:
                    error: not_found
                    message: Code Studio is not enabled for this application.
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Returns Details About the Code Studio Project for an Application.
      tags:
      - Applications
    post:
      description: Creates the Code Studio project for an application.
      operationId: postCodeStudioProject
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/e0c0ec4d-cb4d-4b9a-92ed-503d1e8dae4a
                  self:
                    href: https://cloud.acquia.com/api/applications/98529a07-5f07-4c4d-836b-03c9226c03fd/code-studio
                message: A Code Studio project is being created for the Application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to create a Code Studio project for this Application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Creates the Code Studio Project for an Application.
      tags:
      - Applications
  /applications/{applicationUuid}/databases:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Filterable fields:

        * `name`


        Sortable fields:

        * `name`

        '
      operationId: getApplicationDatabases
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - name: database1
                  - name: database2
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a
                  self:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases
                  sort:
                    href: https://cloud.acquia.com/api/applications/185f07c7-9c4f-407b-8968-67892ebcb38a/databases{?sort}
                    templated: true
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application-databases'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                No data or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Non-hosted application:
                  value:
                    error: not_found
                    message: Databases do not exist on non-hosted applications.
                Not available on Node.js:
                  value:
                    error: not_found
                    message: Databases do not exist on Node.js applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Returns a List Database Names for the Application.
      tags:
      - Applications
      x-cli-name: applications:database-list
    post:
      description: This action will create a new database within each environment of the application.
      operationId: postApplicationDatabaseCreate
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        content:
          application/hal+json:
            example:
              name: my_db_name
            schema:
              description: Application database name.
              properties:
                name:
                  description: The database name.
                  maxLength: 63
                  minLength: 1
                  type: string
              required:
              - name
              type: object
          application/x-www-form-urlencoded:
            example:
              name: my_db_name
            schema:
              description: Application database name.
              properties:
                name:
                  description: The database name.
                  maxLength: 63
                  minLength: 1
                  type: string
              required:
              - name
              type: object
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/6992a41d-a953-4ded-ae99-41d2f4d62f69
                  parent:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1
                  self:
                    href: https://cloud.acquia.com/api/applications/a027502b-ad6c-a48e-a7e8-aa0def7d25e1/databases
                message: The database is being created.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Name already in use:
                  value:
                    error: validation_failed
                    message:
                      name: A database with that name already exists. Please choose another name.
                Name can only be alphanumeric and underscores:
                  value:
                    error: validation_failed
                    message:
                      name: The database name can only contain alphanumeric characters and underscores.
                Name cannot be default:
                  value:
                    error: validation_failed
                    message:
                      name: The database name cannot be "default".
                Name cannot exceed 63 characters in length:
                  value:
                    error: validation_failed
                    message:
                      general: The database name cannot exceed 63 characters in length.
                Not available on Site Factory applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases cannot be added on Acquia Cloud Site Factory applications.
                Only available for hosted applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be added on Acquia-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                ACSF application:
                  value:
                    error: forbidden
                    message: Databases cannot be added to Acquia Cloud Site Factory applications.
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to add a database to this application.
                Node.js application:
                  value:
                    error: forbidden
                    message: Databases cannot be added on Node.js applications.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Databases cannot be added to non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Creates a Database.
      tags:
      - Applications
      x-cli-name: applications:database-create
  /applications/{applicationUuid}/databases/{name}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    delete:
      description: This action will delete the database in ALL environments within this application.
      operationId: postApplicationDatabaseDelete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_name'
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/a90295b6-f50f-4670-8ca4-bb936a55c3a3
                  parent:
                    href: https://cloud.acquia.com/api/applications/f75e226b-2d8c-48c7-b3a7-614bb440272d/databases
                  self:
                    href: https://cloud.acquia.com/api/applications/f75e226b-2d8c-48c7-b3a7-614bb440272d/databases/testdatabase
                message: The database is being deleted.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Can only be erased on free tier applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia Free Tier applications.
                Can only be erased on hosted applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia-hosted applications.
                Cannot delete default:
                  value:
                    error: validation_failed
                    message:
                      name: The database is a default database, and cannot be removed.
                Does not belong to application:
                  value:
                    error: validation_failed
                    message:
                      name: The database does not belong to this application, and cannot be removed.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                ACSF application:
                  value:
                    error: forbidden
                    message: Databases cannot be deleted on Acquia Cloud Site Factory applications.
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this database.
                Node.js application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on Node.js applications.
                Non hosted application:
                  value:
                    error: forbidden
                    message: Databases cannot be deleted on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Drops (deletes) a Database.
      tags:
      - Applications
      x-cli-name: applications:database-delete
  /applications/{applicationUuid}/databases/{name}/actions/erase:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: This action will delete all tables of the database in ALL environments within this application.
      operationId: postApplicationDatabaseErase
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_name'
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/a90295b6-f50f-4670-8ca4-bb936a55c3a3
                  parent:
                    href: https://cloud.acquia.com/api/applications/da1c0a8e-ff69-45db-88fc-acd6d2affbb7/databases/test_database/actions
                  self:
                    href: https://cloud.acquia.com/api/applications/da1c0a8e-ff69-45db-88fc-acd6d2affbb7/databases/test_database/actions/erase
                message: The database is being erased.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Can only be erased on free tier applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia Free Tier applications.
                Can only be erased on hosted applications:
                  value:
                    error: validation_failed
                    message:
                      general: Databases can only be erased on Acquia-hosted applications.
                Does not belong to application:
                  value:
                    error: validation_failed
                    message:
                      name: The database does not belong to this application, and cannot be removed.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                ACF only:
                  value:
                    error: forbidden
                    message: Only Acquia Cloud Free subscriptions can erase databases.
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to erase this database.
                Node.js application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on Node.js applications.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on non-hosted applications.
                Service Management-enabled application:
                  value:
                    error: forbidden
                    message: Databases cannot be erased on Service Management-enabled applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Erases (truncates) a Database.
      tags:
      - Applications
      x-cli-name: applications:database-erase
  /applications/{applicationUuid}/email/domains:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Returns a list of email domains associated with the application and domains that have been verified at the subscription level.
      operationId: getApplicationEmailDomains
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - domain_name: example.com
                    flags:
                      associated: true
                    health:
                      code: '200'
                      details: ''
                      summary: OK
                    uuid: 123e4567-e89b-12d3-a456-426614174000
                  - domain_name: example2.com
                    flags:
                      associated: true
                    health:
                      code: '200'
                      details: ''
                      summary: OK
                    uuid: 123e4567-e89b-12d3-a456-426614174000
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/applications123e4567-e89b-12d3-a456-426614174000/email/domains{?offset}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email
                  self:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains
                  sort:
                    href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/email/domains{?sort}
                    templated: true
                pagination:
                  limit: 2
                  offset: 0
                  total: 2
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_email-domains'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage email domains for this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                No data or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Returns a List of Email Domains Associated with the Application.
      tags:
      - Applications
      x-cli-name: applications:email-domains-list
  /applications/{applicationUuid}/email/domains/{domainRegistrationUuid}/actions/associate:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Associates an email domain with an Application.
      operationId: postApplicationAssociateEmailDomain
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              examples:
                Associate Domain:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
                      parent:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains//123e4567-e89b-12d3-a456-426614174000
                      self:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains//123e4567-e89b-12d3-a456-426614174000/actions/associate
                    message: The domain has been associated with the application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to associate domains with this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to associate a domain registration with does not exist or you do not have permission to access it.
                Domain not found:
                  value:
                    error: not_found
                    message: The domain registration you are trying to associate does not exist or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Already associated:
                  value:
                    error: conflict
                    message: The domain example.com is already associated with this application.
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Associates an Email Domain with an Application.
      tags:
      - Applications
      x-cli-name: applications:post-associate-email-domain
  /applications/{applicationUuid}/email/domains/{domainRegistrationUuid}/actions/disassociate:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Disassociates an email domain with an Application.
      operationId: postApplicationDisassociateEmailDomain
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              examples:
                Disassociate Domain:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
                      parent:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                      self:
                        href: https://cloud.acquia.com/api/applications/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000/actions/dissasociate
                    message: The domain has been disassociated from the application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to disassociate domains from this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to disassociate a domain registration from does not exist or you do not have permission to access it.
                Domain not found:
                  value:
                    error: not_found
                    message: The domain registration you are trying to disassociate does not exist or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Domain minimum:
                  value:
                    error: conflict
                    message: The application must have at least one associated domain while Platform Email is enabled on an environment.
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
                Not associated:
                  value:
                    error: conflict
                    message: The domain example.com is not associated with this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Disassociates an Email Domain with an Application.
      tags:
      - Applications
      x-cli-name: applications:post-disassociate-email-domains
  /applications/{applicationUuid}/environments:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Returns a list of environments within this application.
      operationId: getApplicationEnvironments
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                    active_domain: example.com
                    application:
                      name: Sample Drupal application
                      uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    artifact: null
                    balancer: balancers
                    configuration:
                      operating_system: precise
                      php:
                        apcu: 32
                        client_max_body_size: 128
                        interned_strings_buffer: 16
                        max_execution_time: 300
                        max_input_vars: 1000
                        max_post_size: 256
                        memcached_limit: 64
                        memory_limit: 128
                        opcache: 96
                        upload_max_filesize: 256
                        version: '8.3'
                    default_domain: sitedev.hosted.acquia-sites.com
                    domains:
                    - sitedev.hosted.acquia-sites.com
                    - example.com
                    flags:
                      cde: false
                      cdn: false
                      email: false
                      hsd: false
                      livedev: false
                      multi_region: false
                      multicert: false
                      production: false
                      production_mode: false
                      remote_admin: false
                      varnish: true
                      varnish_over_ssl: false
                    id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                    image_url: null
                    ips:
                    - 10.0.1.5
                    label: Dev
                    name: dev
                    platform: cloud
                    region: us-east-1
                    size: medium
                    ssh_url: site.dev@sitedev.ssh.hosted.acquia-sites.com
                    status: normal
                    type: drupal
                    vcs:
                      path: master
                      type: git
                      url: site@svn-3.hosted.acquia-sites.com:site.git
                    weight: 0
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/15-a47ac10b-58cc-4372-a567-0e02b2c3d470
                    active_domain: example.com
                    application:
                      name: Sample SiteFactory application
                      uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    artifact: null
                    balancer: balancers
                    configuration: null
                    default_domain: siteprod.hosted.acquia-sites.com
                    domains:
                    - siteprod.hosted.acquia-sites.com
                    - example.com
                    flags:
                      cde: false
                      cdn: false
                      email: false
                      hsd: false
                      livedev: false
                      multi_region: false
                      multicert: false
                      production: true
                      production_mode: true
                      remote_admin: false
                      varnish: true
                      varnish_over_ssl: false
                    gardener:
                      multi-site: prod.example.com/admin/gardens/staging
                      site-update: prod.example.com/admin/gardens/site-update
                    id: 15-a47ac10b-58cc-4372-a567-0e02b2c3d470
                    image_url: null
                    ips:
                    - 10.0.1.1
                    - 10.0.1.2
                    label: Production
                    name: prod
                    platform: cloud
                    region: us-east-1
                    size: medium
                    ssh_url: site.prod@siteprod.ssh.hosted.acquia-sites.com
                    status: normal
                    type: drupal
                    vcs:
                      path: tags/01-01-2015
                      type: git
                      url: site@svn-3.hosted.acquia-sites.com:site.git
                    weight: 0
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/32-a47ac10b-58cc-4372-a567-0e02b2c3d470
                    active_domain: test.example.com
                    application:
                      name: Sample Node application
                      uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    artifact:
                      id: 1
                      name: Example artifact
                    balancer: balancers
                    configuration:
                      node:
                        version: 6.11.1
                      operating_system: precise
                    default_domain: sitetest.hosted.acquia-sites.com
                    domains:
                    - sitetest.hosted.acquia-sites.com
                    - test.example.com
                    flags:
                      cde: false
                      cdn: false
                      email: false
                      hsd: false
                      livedev: false
                      multi_region: false
                      multicert: false
                      production: false
                      production_mode: false
                      remote_admin: false
                      varnish: true
                      varnish_over_ssl: false
                    id: 32-a47ac10b-58cc-4372-a567-0e02b2c3d470
                    image_url: null
                    ips: []
                    label: Stage
                    name: test
                    platform: cloud
                    region: us-east-1
                    size: medium
                    ssh_url: site.test@sitetest.ssh.hosted.acquia-sites.com
                    status: normal
                    type: node
                    vcs:
                      path: null
                      type: git
                      url: qa10@svn-3.networkdev.ahserversdev.com:qa10.git
                    weight: 20
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/environments{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/environments{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/environments
                  sort:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/environments{?sort}
                    templated: true
                total: 3
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environments'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: No environments exist on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Returns a List of Environments Within This Application by its UUID.
      tags:
      - Applications
      x-cli-name: applications:environment-list
    post:
      description: Add a new continuous delivery environment.
      operationId: postApplicationEnvironments
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        content:
          application/hal+json:
            example:
              branch: my-feature-branch
              databases:
              - database1
              - database2
              label: CD label
            schema:
              properties:
                branch:
                  description: The name of the branch or tag that the continuous delivery environment will have.
                  type: string
                databases:
                  description: An array containing the names of the databases to add to the continuous delivery environment.
                  items:
                    type: string
                  type: array
                label:
                  description: The new environment label.
                  type: string
              required:
              - label
              - branch
              - databases
              type: object
          application/x-www-form-urlencoded:
            schema:
              example:
                branch: my-feature-branch
                databases:
                - database1
                - database2
                label: CD label
              properties:
                branch:
                  description: The name of the branch or tag that the continuous delivery environment will have.
                  type: string
                databases:
                  description: The names of the databases to add to the continuous delivery environment.
                  items:
                    type: string
                  type: array
                label:
                  description: The new environment label.
                  type: string
              required:
              - label
              - branch
              - databases
              type: object
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Adding environment:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/23d9184d-40b8-4f21-a3d5-416aef9bcd39
                      parent:
                        href: https://cloud.acquia.com/api/applications/896f142a-2c14-45ff-9b1f-41bcb2b5de8d/environments
                      self:
                        href: https://cloud.acquia.com/api/applications/896f142a-2c14-45ff-9b1f-41bcb2b5de8d/environments
                    message: Adding an environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Application does not support CD environments:
                  value:
                    error: validation_failed
                    message:
                      general: This application does not support CD environments.
                Application is at capacity:
                  value:
                    error: validation_failed
                    message:
                      general: This application already has the maximum number of CD environments.
                Application is not hosted by Acquia:
                  value:
                    error: validation_failed
                    message:
                      general: Environments can only be added on Acquia-hosted applications.
                Databases do not exist:
                  value:
                    error: validation_failed
                    message:
                      general: One or more of the databases you have specified do not exist in this application.
                Label already exists:
                  value:
                    error: validation_failed
                    message:
                      label: Another environment within this application already has this label.
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Too many databases exist:
                  value:
                    error: validation_failed
                    message:
                      general: You cannot provision more than 3 databases on your new environment.
                Too many databases provided:
                  value:
                    error: validation_failed
                    message:
                      general: Please specify 3 or fewer databases to provision on your environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Application is not hosted by Acquia:
                  value:
                    error: forbidden
                    message: CD environments cannot be added to non-hosted applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to add an environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Add a New Continuous Delivery Environment to an Application by the Application UUID.
      tags:
      - Applications
      x-cli-name: applications:environment-create
  /applications/{applicationUuid}/features:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Returns a list of feature flags for this application.

        '
      operationId: getApplicationFeatures
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - description: Allows access to Some feature.
                    label: Some feature.
                    name: feature-name
                  - description: Allows access to Example feature.
                    label: Example feature.
                    name: example-feature
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470/features
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application-features'
          description: OK
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Application Features.
      tags:
      - Applications
      x-cli-name: applications:feature-list
  /applications/{applicationUuid}/ides:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Returns a list of Cloud IDEs associated with this application.
      operationId: getApplicationIdes
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _embedded:
                      owner:
                        created_at: '2016-08-14T17:38:59-04:00'
                        email: user.name@example.com
                        first_name: First
                        last_login_at: '2019-01-31T10:53:11-05:00'
                        last_name: Last
                        picture_url: https://accounts.acquia.com/path/to/image.png
                        username: user.name
                        uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                    _links:
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                      ide:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.ides.acquia.com
                      self:
                        href: https://cloud.acquia.com/api/ides/9a83c081-ef78-4dbd-8852-11cc3eb248f7
                      web:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.web.ahdev.cloud
                    label: IDE Label 1
                    status: active
                    uuid: 9a83c081-ef78-4dbd-8852-11cc3eb248f7
                  - _embedded:
                      owner:
                        created_at: '2016-08-14T17:38:59-04:00'
                        email: user.name@example.com
                        first_name: First
                        last_login_at: '2019-01-31T10:53:11-05:00'
                        last_name: Last
                        picture_url: https://accounts.acquia.com/path/to/image.png
                        username: user.name
                        uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                    _links:
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                      ide:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.ides.acquia.com
                      self:
                        href: https://cloud.acquia.com/api/ides/feea197a-9503-4441-9f49-b4d420b0ecf8
                      web:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.web.ahdev.cloud
                    label: IDE Label 2
                    status: active
                    uuid: feea197a-9503-4441-9f49-b4d420b0ecf8
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/applications/feea197a-9503-4441-9f49-b4d420b0ecf8
                  self:
                    href: https://cloud.acquia.com/api/applications/feea197a-9503-4441-9f49-b4d420b0ecf8/ides
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ides'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Returns a List of Cloud IDEs Associated with This Application.
      tags:
      - Applications
      x-cli-name: applications:ide-list
    post:
      description: Creates a new Cloud IDE.
      operationId: postApplicationsIde
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      requestBody:
        content:
          application/hal+json:
            example:
              label: My new IDE
            schema:
              properties:
                label:
                  description: The label of the Cloud IDE.
                  maxLength: 255
                  minLength: 1
                  type: string
              required:
              - label
              type: object
          application/x-www-form-urlencoded:
            example:
              label: My new IDE
            schema:
              properties:
                label:
                  description: The label of the Cloud IDE.
                  maxLength: 255
                  minLength: 1
                  type: string
              required:
              - label
              type: object
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                IDE created:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/e47da6d7-371e-4bb9-a7fe-d9ab8aa899c3
                      parent:
                        href: https://cloud.acquia.com/api/ides
                      self:
                        href: https://cloud.acquia.com/api/ides/1792767d-1ee3-4b5f-83a8-334dfdc2b8a3
                    message: The Cloud IDE is being created.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Bad IDE label:
                  value:
                    error: validation_error
                    message:
                      name: A Cloud IDE labeled My new IDE already exists.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '404':
          content:
            application/hal+json:
              examples:
                No user:
                  value:
                    error: not_found
                    message: The Application with UUID 3c6a3d3e-c3ee-4fee-97d6-9074971feb76 does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Creates a New Cloud IDE.
      tags:
      - Applications
      x-cli-name: ide:create
  /applications/{applicationUuid}/messages:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Filterable fields:

        * `title`

        * `message_type`

        * `display_mode`


        Sortable fields:

        * `title`

        * `message_type`

        * `display_mode`

        '
      operationId: getApplicationMessages
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_from'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_to'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      dismiss:
                        href: https://cloud.acquia.com/api/messages/77fedb64-b8c0-4712-90e3-f39b4716e623/actions/dismiss
                      follow:
                        href: https://cloud.acquia.com/api/messages/77fedb64-b8c0-4712-90e3-f39b4716e623/actions/follow
                      self:
                        href: https://cloud.acquia.com/api/messages/77fedb64-b8c0-4712-90e3-f39b4716e623
                    body: This is the body of <strong>the</strong> IPM.
                    expire_at: '2015-12-05T13:30:00-05:00'
                    filters:
                      display_mode: bar
                      paths:
                      - /some/random/path
                      - /other/random/path
                      type: general
                    flags:
                      active: true
                      dismissed: false
                      dismissible: true
                    id: 123
                    start_at: '2015-11-05T00:30:00-05:00'
                    title: IPM Title
                    url: http://www.acquia.com
                    uuid: 77fedb64-b8c0-4712-90e3-f39b4716e623
                    weight: -1
                  - _links:
                      dismiss:
                        href: https://cloud.acquia.com/api/messages/c5328e00-282a-4bec-a3c8-4322d97545b2/actions/dismiss
                      follow:
                        href: https://cloud.acquia.com/api/messages/c5328e00-282a-4bec-a3c8-4322d97545b2/actions/follow
                      self:
                        href: https://cloud.acquia.com/api/messages/c5328e00-282a-4bec-a3c8-4322d97545b2
                    body: IPM <strong>Message</strong> 2 body
                    expire_at: '2016-11-07T17:30:00-05:00'
                    filters:
                      display_mode: bar
                      paths: []
                      type: new
                    flags:
                      active: true
                      dismissed: false
                      dismissible: true
                    id: 234
                    start_at: '2015-11-07T17:30:00-05:00'
                    title: IPM Message 2
                    url: http://www.google.ca
                    uuid: c5328e00-282a-4bec-a3c8-4322d97545b2
                    weight: 0
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages{?limit}
                    templated: true
                  self:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages
                  sort:
                    href: https://cloud.acquia.com/api/applications/a838f9a8-11e2-c374-6954-6931d150b259/messages{?sort}
                    templated: true
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ux-messages'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Returns a List of Messages Associated with This Application.
      tags:
      - Applications
      x-cli-name: applications:message-list
  /applications/{applicationUuid}/metrics/usage:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Retrieves traversal links for an application's usage data.
      operationId: getApplicationsUsageLinks
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  data:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/data
                  data-by-environment:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/data-by-environment
                  parent:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics
                  self:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                  views:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/views
                  views-by-environment:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/views-by-environment
                  visits:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/visits
                  visits-by-environment:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/visits-by-environment
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_usage'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Retrieves Traversal Links for Detailed Metrics on Usage (views and Visits) of Your Application.
      tags:
      - Applications
      x-cli-name: applications:usage-links
  /applications/{applicationUuid}/metrics/usage/data:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Filterable fields:

        * `metric` - One of: {`views`, `visits`}

        * `environment`

        '
      operationId: getApplicationsUsageData
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_resolution'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                      self:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/views
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '9'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 124-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 125-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                    metric: views
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                      self:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/visits
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '3'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 124-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 125-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                    metric: visits
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/data{?filter}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                  self:
                    href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/data
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application-usage-metrics'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this application.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Retrieves Aggregate Usage Data for an Application, Filterable by Views or Visits and by Environment.
      tags:
      - Applications
      x-cli-name: applications:usage-data
  /applications/{applicationUuid}/metrics/usage/data-by-environment:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Filterable fields:

        * `metric` - One of: {`views`, `visits`}

        * `environment`

        '
      operationId: getApplicationsUsageDataByEnvironment
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_application-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_resolution'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                      self:
                        href: https://cloud.acquia.com/api/environments/123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/views
                    datapoints: []
                    last_data_at: null
                    metadata:
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                    metric: views
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                      self:
[...]
