openapi: 3.0.0
info:
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
  description: "Acquia Cloud API\n\n# Compatibility\n\n## Stability\n\nThe response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.\n\nThere are three levels of stability:\n\n* `prototype`: A prototype resource is experimental and major changes are likely. A prototype resource may not reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one week notice\n    * Deprecated resources will remain available for at least one month after deprecation\n* `development`: A resource that is unlikely to change, but is still being worked on, will be marked as in development. These resources are very likely to reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one month notice\n    * Deprecated resources will remain available for at least six months after deprecation\n* `production`: A production resource will not introduce breaking changes within a version, and any breaking changes between versions will be communicated ahead of time.\n\n## Deprecation\n\nOver time, endpoints may become obsolete and will be removed in the future. These endpoints will be marked with an `X-CloudAPI-Deprecated` header indicating the version in which they were deprecated and the reason for the deprecation. Deprecated endpoints may be removed in the next version of the resource.\n\n## Versioning\n\nAll resource endpoints are versioned within the API. Endpoints that have reached production will not introduce breaking changes between versions. Non-production endpoints will not version for changes.\n\nA specific version of an endpoint can be requested via the `Accept` header:\n\n    Accept: application/hal+json, version=2\n\nIf the version is not specified, the latest version of the endpoint will be used.\n\nStarting with version 3, we will support the current version of an endpoint and the previous version. Version 1 of the API is [provided elsewhere](https://cloudapi.acquia.com/).\n\n## Errors\n\nSome endpoints will return a 503 status when dependent services are unavailable:\n\n    application/hal+json\n    {\n        \"error\": \"system\",\n        \"message\": \"This action is currently unavailable. Please try again later.\"\n    }\n\n## Authentication\n\nAll Acquia Cloud API calls require authentication to work properly.\n\nLearn more: <a href='https://docs.acquia.com/acquia-cloud/develop/api/auth/' target='_blank'>https://docs.acquia.com/acquia-cloud/develop/api/auth/</a>\n\n### Example implementation\n\nAn example PHP script for making authenticated API requests can be found <a href='https://docs.acquia.com/resources/useful-references' target='_blank'>here</a>. This script uses the <a href='https://oauth2-client.thephpleague.com/' target='_blank'>League/oauth2-client</a> library, installed via Composer.\n"
  title: Acquia Cloud API Account Distributions API
  version: 2.0.0
  x-logo:
    altText: Acquia Cloud
    backgroundColor: '#FFFFFF'
    url: assets/cloud-platform.svg
servers: []
tags:
- name: Distributions
paths:
  /distributions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Returns a list of Drupal distributions that are available for installation in an Acquia Cloud environment.

        '
      operationId: getDistributions
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/distributions/drupal7
                    description: Acquia Drupal makes building your Drupal website easier by including both the current Drupal core along with a collection of essential modules.
                    drupal_version: Drupal 7
                    flags:
                      $visible: true
                      default: true
                    image_url: https://www.acquia.com/path/to/img/drupal7.png
                    name: drupal7
                    title: Acquia Drupal
                    update_urls:
                      gz: http://www.acquia.com/path/to/archive/drupal7-update.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal7-update.zip
                    urls:
                      gz: http://www.acquia.com/path/to/archive/drupal7.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal7.zip
                    version: 7.38.44-6261
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/distributions/drupal8
                    description: Acquia Drupal makes building your Drupal website easier by including both the current Drupal core along with a collection of essential modules.
                    drupal_version: Drupal 8
                    flags:
                      $visible: false
                      default: false
                    image_url: https://www.acquia.com/path/to/img/drupal8.png
                    name: drupal8
                    title: Acquia Drupal
                    update_urls:
                      gz: http://www.acquia.com/path/to/archive/drupal8-update.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal8-update.zip
                    urls:
                      gz: http://www.acquia.com/path/to/archive/drupal8.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal8.zip
                    version: 8.0.0-beta14
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/
                  self:
                    href: https://cloud.acquia.com/api/distributions
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_distributions'
          description: OK
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return a List of Drupal Distributions.
      tags:
      - Distributions
      x-cli-name: distributions:list
  /distributions/{name}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'A specific distribution.

        '
      operationId: getDistributionByName
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_name'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  gz:
                    href: http://www.acquia.com/path/to/archive/drupal8.tar.gz
                  parent:
                    href: https://cloud.acquia.com/api/distributions
                  self:
                    href: https://cloud.acquia.com/api/distributions/drupal8
                  update_gz:
                    href: http://www.acquia.com/path/to/archive/drupal8-update.tar.gz
                  update_zip:
                    href: http://www.acquia.com/path/to/archive/drupal8-update.zip
                  zip:
                    href: http://www.acquia.com/path/to/archive/drupal8.zip
                description: Acquia Drupal makes building your Drupal website easier by including both the current Drupal core along with a collection of essential modules.
                drupal_version: Drupal 8
                flags:
                  $visible: true
                  default: false
                image_url: https://www.acquia.com/path/to/img/drupal8.png
                name: drupal8
                title: Acquia Drupal
                update_urls:
                  gz: http://www.acquia.com/path/to/archive/drupal8-update.tar.gz
                  zip: http://www.acquia.com/path/to/archive/drupal8-update.zip
                urls:
                  gz: http://www.acquia.com/path/to/archive/drupal8.tar.gz
                  zip: http://www.acquia.com/path/to/archive/drupal8.zip
                version: 8.0.0-beta14
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_distribution'
          description: OK
        '404':
          content:
            application/hal+json:
              example:
                error: not_found
                message: The distribution you are trying to access does not exist.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Details About a Specific Drupal Distribution.
      tags:
      - Distributions
      x-cli-name: distributions:find
components:
  parameters:
    Acquia_Cloud_API_Documentation_name:
      description: A name that uniquely identifies an entity.
      example: drupal8
      in: path
      name: name
      required: true
      schema:
        type: string
  schemas:
    Acquia_Cloud_API_Documentation_distribution:
      properties:
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        description:
          description: The verbose description of the distribution.
          type: string
        drupal_version:
          description: The Drupal version string of the distribution.
          type: string
        flags:
          description: Flags for this distribution.
          properties:
            default:
              description: Whether this distribution is the default.
              type: boolean
          type: object
        image_url:
          description: The URI for the logo image for this distribution.
          format: uri
          type: string
        name:
          description: The name of the distribution.
          type: string
        title:
          description: The title of the distribution.
          type: string
        update_urls:
          description: The update URLs for the distribution.
          properties:
            gz:
              description: The URI for the gzip compressed update.
              format: uri
              type: string
            zip:
              description: The URI for the zip compressed update.
              format: uri
              type: string
          type: object
        urls:
          description: The URLs for the distribution.
          properties:
            gz:
              description: The URI for the gzip compressed distribution.
              format: uri
              type: string
            zip:
              description: The URI for the zip compressed distribution.
              format: uri
              type: string
          type: object
        version:
          description: The full version string of the distribution.
          type: string
      required:
      - name
      - urls
      - update_urls
      - title
      - version
      - drupal_version
      - description
      - image_url
      - flags
      - _links
      type: object
    Acquia_Cloud_API_Documentation_error:
      properties:
        error:
          description: The error summary.
          type: string
        message:
          description: The long description for the returned error.
          type: string
      required:
      - error
      - message
      type: object
    Acquia_Cloud_API_Documentation_links:
      description: HAL links about the current resource.
      properties:
        self:
          description: A link to this page.
          properties:
            href:
              description: The URI for this page.
              format: uri
              type: string
          required:
          - href
          type: object
      required:
      - self
      type: object
    Acquia_Cloud_API_Documentation_distributions:
      properties:
        _embedded:
          description: A collection of distributions.
          properties:
            items:
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_distribution'
              type: array
          type: object
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        total:
          description: The number of items returned in the collection.
          type: integer
      type: object
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://accounts.acquia.com/api/token
      type: oauth2
    Codebase_Service_JWT:
      description: Value for the Authorization header parameter.
      in: header
      name: Authorization
      type: apiKey
    MEO_Environment_Service_JWT:
      description: Value for the Authorization header parameter.
      in: header
      name: Authorization
      type: apiKey
    Site_Service_JWT:
      description: Value for the Authorization header parameter.
      in: header
      name: Authorization
      type: apiKey
