openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Environments API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Environments
  x-displayName: Environments
paths:
  /environments/{environmentId}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Return details about a specific environment
      description: 'Return details about a specific environment.


        To find your environment ID via API:


        1. Make a request to GET `/api/applications/[uuid]/environments`.

        2. Find the entry that matches your environment. If you don''t know the application UUID, first make a request to GET `/api/applications`.


        To find your environment ID via cloud.acquia.com:


        1. Open https://cloud.acquia.com.

        2. Navigate to your application.

        3. Navigate to the environment.

        4. See the environment ID in the browser URL.

        For example, in this URL `https://cloud.acquia.com/app/develop/applications/53785bca-1946-4adc-a022-e50d24686c20/environments/289576-53785bca-1946-4adc-a022-e50d24686c20`, the environment id is `289576-53785bca-1946-4adc-a022-e50d24686c20`.'
      operationId: getEnvironment
      x-cli-name: environments:find
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment'
              example:
                id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                label: Dev
                name: dev
                application:
                  name: Sample application
                  uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                domains:
                - sitedev.hosted.acquia-sites.com
                - example.com
                active_domain: example.com
                default_domain: sitedev.hosted.acquia-sites.com
                image_url: null
                ssh_url: site.dev@sitedev.ssh.hosted.acquia-sites.com
                ips:
                - 10.0.1.5
                region: us-east-1
                balancer: balancers
                platform: cloud
                status: normal
                type: drupal
                size: medium
                weight: 0
                vcs:
                  type: git
                  path: master
                  url: site@svn-3.hosted.acquia-sites.com:site.git
                flags:
                  cde: false
                  cdn: false
                  cloud-actions: false
                  eips: false
                  email: false
                  hsd: false
                  livedev: false
                  multicert: false
                  multi_region: false
                  production: false
                  production_mode: false
                  remote_admin: false
                  varnish: true
                  varnish_over_ssl: false
                configuration:
                  operating_system: precise
                  php:
                    version: '8.3'
                    memory_limit: 128
                    opcache: 96
                    apcu: 64
                    interned_strings_buffer: 16
                    client_max_body_size: 128
                    max_execution_time: 300
                    max_post_size: 256
                    max_input_vars: 1000
                    upload_max_filesize: 128
                    memcached_limit: 64
                gardener:
                  site-update: example.com/admin/gardens/site-update
                  multi-site: example.com/admin/gardens/staging
                artifact: null
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  parent:
                    href: https://cloud.acquia.com/api/environments
                  available-runtimes:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/available-runtimes
                  cdn:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/cdn
                  cloud-actions:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/cloud-actions
                  crons:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons
                  databases:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases
                  dns:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/dns
                  domains:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/domains
                  eips:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/eips
                  logs:
                    href: https://cloud.acquia.com/api/environments/8-185f07c7-9c4f-407b-8968-67892ebcb38a/logs
                  metrics:
                    href: https://cloud.acquia.com/api/environments/8-185f07c7-9c4f-407b-8968-67892ebcb38a/metrics
                  search:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/search
                  servers:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/servers
                  ssl:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/ssl
                  variables:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/variables
                _embedded:
                  application:
                    name: Sample application
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
    put:
      tags:
      - Environments
      summary: Modifies configuration settings for an environment
      description: Modifies configuration settings for an environment. Note that some settings cannot be configured for certain subscriptions.
      operationId: putEnvironment
      x-cli-name: environments:update
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment-configuration'
            example:
              version: '8.3'
              max_execution_time: 10
              memory_limit: 192
              apcu: 32
              client_max_body_size: 192
              max_input_vars: 1000
              max_post_size: 256
              memcached_limit: 128
              upload_max_filesize: 192
              operating_system: focal
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment-configuration'
            example:
              version: '8.3'
              max_execution_time: 10
              memory_limit: 192
              apcu: 32
              client_max_body_size: 192
              max_input_vars: 1000
              max_post_size: 256
              memcached_limit: 128
              upload_max_filesize: 192
              operating_system: focal
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The environment configuration is being updated.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/12-d314739e-296f-11e9-b210-d663bd873d93
                  notification:
                    href: https://cloud.acquia.com/api/notifications/737a97a4-4c02-47e4-9924-d008de1aa7e5
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                No changes requested:
                  value:
                    error: forbidden
                    message:
                      system: No environment configuration changes are specified.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this environment.
                Cannot delete CD environments on non-hosted applications:
                  value:
                    error: forbidden
                    message: CD environments cannot be deleted on non-hosted applications.
                Cannot delete environments on Node.js applications:
                  value:
                    error: forbidden
                    message: Environments cannot be deleted on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Not available for static applications:
                  value:
                    error: not_available
                    message: Environment configuration cannot be modified for static applications.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Conflict:
                  value:
                    error: conflict
                    message: operating_system cannot be configured on this environment.
    delete:
      tags:
      - Environments
      summary: Deletes a CD environment
      description: Deletes a CD environment.
      operationId: deleteEnvironment
      x-cli-name: environments:delete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              example:
                message: The environment is being deleted.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-a027502b-ad6c-a48e-a7e8-aa0def7d25e1
                  notification:
                    href: https://cloud.acquia.com/api/notifications/6992a41d-a953-4ded-ae99-41d2f4d62f69
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this environment.
                Cannot delete CD environments on non-hosted applications:
                  value:
                    error: forbidden
                    message: CD environments cannot be deleted on non-hosted applications.
                Cannot delete environments for managed applications:
                  value:
                    error: forbidden
                    message: Environments cannot be deleted for Service Management-enabled applications.
                Cannot delete environments on Node.js applications:
                  value:
                    error: forbidden
                    message: Environments cannot be deleted on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Environment Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
    options:
      tags:
      - Environments
      summary: Displays environment options
      description: Displays environment options.
      operationId: optionsEnvironment
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment-options'
              example:
                total: 10
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-569086da-2b1f-11e9-b210-d663bd873d93
                  parent:
                    href: https://cloud.acquia.com/api/environments
                  sort:
                    href: https://cloud.acquia.com/api/environments/24-569086da-2b1f-11e9-b210-d663bd873d93{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/environments/24-569086da-2b1f-11e9-b210-d663bd873d93{?filter}
                    templated: true
                _embedded:
                  items:
                  - name: apcu
                    minimum: 32
                    maximum: 512
                    default: 32
                    step: 1
                  - name: interned_strings_buffer
                    minimum: 8
                    maximum: 32
                    default: 8
                    step: 1
                  - name: client_max_body_size
                    minimum: 0
                    maximum: 1024
                    default: 256
                    step: 1
                  - name: max_execution_time
                    minimum: 1
                    maximum: 300
                    default: 300
                    step: 1
                  - name: max_input_vars
                    minimum: 500
                    maximum: 20000
                    default: 1000
                    step: 1
                  - name: max_post_size
                    minimum: 64
                    maximum: 1024
                    default: 256
                    step: 1
                  - name: upload_max_filesize
                    minimum: 0
                    maximum: 1024
                    default: 256
                    step: 1
                  - name: memory_limit
                    minimum: 128
                    maximum: 1024
                    default: 128
                    step: 1
                  - name: memcached_limit
                    minimum: 0
                    maximum: 12288
                    default: 64
                    step: 64
                  - name: opcache
                    minimum: 96
                    maximum: 512
                    default: 96
                    step: 1
                  - name: operating_system
                    minimum: null
                    maximum: null
                    default: null
                    step: null
                  - name: version
                    minimum: null
                    maximum: null
                    default: null
                    step: null
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No environment or permission:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/actions/clear-caches:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Clears the caches for one or more domains attached to this environment
      description: Clear caches for Varnish and Platform CDN (if Platform CDN is enabled).
      operationId: postEnvironmentsClearCaches
      x-cli-name: environments:clear-caches
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              required:
              - domains
              properties:
                domains:
                  type: array
                  description: A list of domains to clear the caches for.
                  items:
                    type: string
                    format: hostname
            example:
              domains:
              - domain1.example.com
              - domain2.example.com
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Clearing cache:
                  value:
                    message: Caches are being cleared.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/12-d314739e-296f-11e9-b210-d663bd873d93/actions/clear-caches
                      notification:
                        href: https://cloud.acquia.com/api/notifications/42b56cff-0b55-4bdf-a949-1fd0fca61c6c
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to clear caches on this environment.
                Can only be cleared on hosting applications:
                  value:
                    error: forbidden
                    message: Caches cannot be cleared on non-hosted applications.
                Cannot be cleared for Node.js applications:
                  value:
                    error: forbidden
                    message: Caches cannot be cleared on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/actions/change-label:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Change the label for an environment
      deprecated: true
      description: Change the label for an environment.
      operationId: postChangeEnvironmentLabel
      x-cli-name: environments:label-update
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - label
              properties:
                label:
                  type: string
                  description: The new environment label.
            example:
              label: New Label
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - label
              properties:
                label:
                  type: string
                  description: The new environment label.
            example:
              label: New Label
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Changing label:
                  value:
                    message: Changing environment label.
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Label already used:
                  value:
                    error: validation_failed
                    message:
                      label: Another environment within this application already has this label.
        '403':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to change the label for this environment.
                Labels can only be changed on hosted applications:
                  value:
                    error: forbidden
                    message: Environment labels cannot be changed on non-hosted applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/artifacts/actions/switch:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Deploys an artifact to this environment
      description: Deploys an artifact to this environment.
      operationId: postDeployArtifact
      x-cli-name: environments:artifact-deploy
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - artifact_id
              properties:
                artifact_id:
                  type: string
                  description: The id of the artifact to deploy.
            example:
              artifact_id: '123'
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - artifact_id
              properties:
                artifact_id:
                  type: string
                  description: The id of the artifact to deploy.
            example:
              artifact_id: '123'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Deploying artifact:
                  value:
                    message: Deploying artifact.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/642-99d416c4-88b5-48c0-ae8e-4719007d7b8d/artifacts/actions/switch
                      notification:
                        href: https://cloud.acquia.com/api/notifications/737a97a4-4c02-47e4-9924-d008de1aa7e5
        '400':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Only ready artifacts can be deployed:
                  value:
                    error: validation_failed
                    message:
                      artifact_id: Only artifacts that are in the 'ready' state can be deployed.
        '403':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy an artifact to this environment.
                Cannot be deployed on non-hosted applications:
                  value:
                    error: forbidden
                    message: Artifacts cannot be deployed on non-hosted applications.
                Cannot be deployed on managed applications:
                  value:
                    error: forbidden
                    message: Artifacts cannot be deployed on Service Management-enabled applications.
                Cannot be deployed on Node.js applications:
                  value:
                    error: forbidden
                    message: Artifacts can only be deployed on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: conflict
                    message: The artifact with ID 123 does not belong to this application and cannot be deployed.
  /environments/{environmentId}/operating-systems:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Return a list of operating systems
      description: Returns a list of operating systems.
      operationId: getOperatingSystems
      x-cli-name: environments:operating-systems-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_operating-systems'
              example:
                versions:
                - name: xenial
                  label: Ubuntu 16.04 (Xenial Xerus)
                  version: 16.0.4
                  available: true
                - name: focal
                  version: '20.04'
                  label: Ubuntu 20.04 (Focal Fossa)
                  available: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/operating-systems
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The operating systems you are trying to access do not exist, or you do not have permission to access them.
  /environments/{environmentId}/available-runtimes:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Return a list of runtimes
      description: Returns a list of available runtimes.
      operationId: getAvailableRuntimes
      x-cli-name: environments:runtime-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_available-runtimes'
              example:
                runtime: php
                versions:
                - '8.2'
                - '8.3'
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/available-runtimes
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
                Do not exist on non-hosted applications:
                  value:
                    error: not_found
                    message: Available runtimes do not exist on non-hosted applications.
                Not found or insufficient permissions:
                  value:
                    error: not_found
                    message: The available runtimes you are trying to access do not exist, or you do not have permission to access them.
  /environments/{environmentId}/cdn:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Returns the CDN status for an environment
      description: Returns the CDN status for an environment. The CDN must be enabled for the status to be displayed.
      operationId: getCdnByEnvironmentId
      x-cli-name: environments:cdn-find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_cdn'
              example:
                status: active
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/cdn
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                CDN not found:
                  value:
                    error: not_found
                    message: The CDN you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Environments
      summary: Enables a CDN for an environment
      description: Enables a CDN for an environment.
      operationId: postCdnByEnvironmentId
      x-cli-name: environments:cdn-enable
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Provisioning Platform CDN.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4/cdn
                  parent:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ea01b886-40bb-c028-b3de-4353e25fa462
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have sufficient permission to enable CDN for this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Environment Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not supported:
                  value:
                    error: conflict
                    message: This environment does not support Platform CDN.
                Already enabled:
                  value:
                    error: conflict
                    message: Platform CDN is already enabled for this environment.
    delete:
      tags:
      - Environments
      summary: Disables a CDN for an environment
      description: Disables a CDN for an environment.
      operationId: deleteCdnByEnvironmentId
      x-cli-name: environments:cdn-disable
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Deprovisioning Platform CDN.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4/cdn
                  parent:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ea01b886-40bb-c028-b3de-4353e25fa462
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have sufficient permission to disable CDN for this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Environment not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not supported:
                  value:
                    error: conflict
                    message: This environment does not support Platform CDN.
                Not enabled:
                  value:
                    error: conflict
                    message: Platform CDN is not enabled for this environment.
  /environments/{environmentId}/cloud-actions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Returns a list of Cloud Actions
      description: Returns a list of Cloud Actions on an environment.
      operationId: getEnvironmentCloudActions
      x-cli-name: environments:cloud-actions-find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_cloud-actions'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27
                  sort:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions{?filter}
                    templated: true
                _embedded:
                  items:
                  - id: f668295f-cbba-472d-8b75-c76ab89e553a
                    label: Backup all databases
                    description: Backs up all environment databases
                    type: pre-deployment
                    flags:
                      enabled: false
                      default: true
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/f668295f-cbba-472d-8b75-c76ab89e553a
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                  - id: fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70
                    label: Turn on Drupal maintenance mode
                    description: Turns on maintenance mode on the Drupal site
                    type: pre-deployment
                    flags:
                      enabled: false
                      default: true
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                  - id: 102590e4-382b-4726-8b3f-855d5ca4225d
                    label: Clear all Drupal caches
                    description: Clears all Drupal caches
                    type: pre-deployment
                    flags:
                      enabled: false
                      default: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/102590e4-382b-4726-8b3f-855d5ca4225d
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
                Cloud Actions unavailable:
                  value:
                    error: not_found
                    message: Cloud Actions are not available for this environment.
    put:
      tags:
      - Environments
      summary: Modifies an existing list of Cloud Actions
      description: Modifies an existing list of Cloud Actions on an environment.
      operationId: putEnvironmentCloudActions
      x-cli-name: environments:cloud-actions-update
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cloud-actions'
            example:
              cloud-actions:
                fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70: true
                9440be70-c042-47ae-9134-e85acbbd6edf: false
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cloud-actions'
            example:
              cloud-actions:
                fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70: true
                9440be70-c042-47ae-9134-e85acbbd6edf: false
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Cloud Actions have been updated.
                notification: 42047305-e30c-4c7e-931f-5407ce55a9e9
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27
                  notification:
                    href: https://cloud.acquia.com/api/notifications/42047305-e30c-4c7e-931f-5407ce55a9e9
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/cloud-actions/actions/disable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Disables Cloud Actions
      description: Disables Cloud Actions on an environment.
      operationId: postEnvironmentCloudActionsDisable
      x-cli-name: environments:cloud-actions-disable
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Cloud Actions have been disabled.
                notification: 2d49d11c-f81d-46dd-89f2-fb7f2f54335f
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27
                  notification:
                    href: https://cloud.acquia.com/api/notifications/2d49d11c-f81d-46dd-89f2-fb7f2f54335f
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/cloud-actions/actions/enable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Enables Cloud Actions
      description: Enables Cloud Actions on an environment.
      operationId: postEnvironmentCloudActionsEnable
      x-cli-name: environments:cloud-actions-enable
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Cloud Actions have been enabled.
                notification: 003e8200-6105-48bc-80a7-6ba378ac8e91
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions/enable
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions
                  notification:
                    href: https://cloud.acquia.com/api/notifications/003e8200-6105-48bc-80a7-6ba378ac8e91
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/cloud-actions/actions/reset:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Resets Cloud Actions
      description: Resets Cloud Actions to the default on an environment.
      operationId: postEnvironmentCloudActionsReset
      x-cli-name: environments:cloud-actions-reset
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Cloud Actions have been reset to the default.
                notification: e5a15d33-ee5a-4af1-bfeb-4e76b3d33b4b
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions/reset
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions
                  notification:
                    href: https://cloud.acquia.com/api/notifications/e5a15d33-ee5a-4af1-bfeb-4e76b3d33b4b
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
  /environments/{environmentId}/code:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Deploys code to this environment
      description: Deploys code to this environment.
      operationId: postEnvironmentsDeployCode
      x-cli-name: environments:code-deploy
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_deploy-code'
            example:
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
              message: Optional commit message
              cloud-actions: []
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_deploy-code'
            example:
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
              message: Optional commit message
              cloud-actions: []
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Code being deployed:
                  value:
                    message: Deploying code.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/code
                      notification:
                        href: https://cloud.acquia.com/api/notifications/a49eeebb-0929-444a-972c-07b94ce93ab9
                      parent:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Can only be deployed to environment within same application:
                  value:
                    error: validation_failed
                    message:
                      source: Code can only be deployed from an environment within the same application.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy code to this environment.
                Cannot deploy code on non-hosted applications:
                  value:
                    error: forbidden
                    message: Code cannot be deployed on non-hosted applications.
                Cannot deploy code on Node.js applications:
                  value:
                    error: forbidden
                    message: Code cannot be deployed on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Cannot be deployed to itself:
                  value:
                    error: conflict
                    message: Code cannot be deployed from an environment to itself.
  /environments/{environmentId}/code/actions/switch:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Switches code on this environment to a different branch or release tag
      description: Switches code on this environment to a different branch or release tag.
      operationId: postEnvironmentsSwitchCode
      x-cli-name: environments:code-switch
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_switch-code'
            example:
              branch: my-feature-branch
              cloud-actions: []
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_switch-code'
            example:
              branch: my-feature-branch
              cloud-actions: []
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Switching code:
                  value:
                    message: Switching code.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/861-ddccebef-eb2f-48ce-a92f-e0a16a3a0b53/code/actions/switch
                      notification:
                        href: https://cloud.acquia.com/api/notifications/bfd9a39b-a85e-4de3-8a70-042d1c7e607a
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Branch does not exist:
                  value:
                    error: validation_failed
                    message:
                      branch: The branch or tag "my-feature-branch" does not exist within this environment.
                Invalid branch name:
                  value:
                    error: validation_failed
                    message:
                      branch: The branch name contains invalid characters.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy code to this environment.
                Cannot deploy code on non-hosted applications:
                  value:
                    error: forbidden
                    message: Code cannot be deployed on non-hosted applications.
                Cannot deploy code on Node.js applications:
                  value:
                    error: forbidden
                    message: Code cannot be switched on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
  /environments/{environmentId}/code/actions/import:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Imports a site to this environment
      description: Imports a site to this environment.
      operationId: postEnvironmentsImportSite
      x-cli-name: environments:site-import
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_import-site'
            example:
              url: http://www.example.com/path/to/site.tar.gz
              name: Drupal 8
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_import-site'
            example:
              url: http://www.example.com/path/to/site.tar.gz
              name: Drupal 8
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Site is being imported:
                  value:
                    message: The site is being imported.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/code/actions/import
                      notification:
                        href: https://cloud.acquia.com/api/notifications/d82a122d-b7b8-46fc-9999-39cb824fac8d
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Invalid URL:
                  value:
                    error: validation_failed
                    message:
                      url: Invalid URL format.
                Cannot be imported on application:
                  value:
                    error: validation_failed
                    message:
                      general: Sites cannot be imported on this application.
                File format not supported:
                  value:
                    error: validation_failed
                    message:
                      general: The installation file is not supported. It must be a Drush make file (.make) or a Gzip-compressed tar archive (.tar.gz or .tgz).
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy code to this environment.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: conflict
                    message: Sites cannot be imported on this environment.
  /environments/{environmentId}/crons:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Return environment cron jobs
      operationId: getCronJobsByEnvironmentId
      x-cli-name: environments:cron-job-list
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: Returns a list of the cron jobs on an environment.
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_crons'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                _embedded:
                  items:
                  - id: e82b77cc-a9ed-4458-b12c-d87af1a795ad
                    server:
                      id: '18'
                      name: web-18
                    command: /usr/local/bin/drush cc all
                    minute: '25'
                    hour: '7'
                    day_month: '*'
                    month: '*'
                    day_week: '*'
                    label: Clear drush caches
                    flags:
                      enabled: true
                      system: false
                      on_any_web: false
                    environment:
                      id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons/e82b77cc-a9ed-4458-b12c-d87af1a795ad
                  - id: 8eea655e-71be-4c71-bf5b-9c5c9a5c5b43
                    server:
                      id: '6'
                      name: web-6
                    command: /usr/local/bin/drush -r /var/www/html/qa3/docroot ah-db-backup dbname
                    minute: '12'
                    hour: '9'
                    day_month: '*'
                    month: '*'
                    day_week: '*'
                    label: Run backup
                    flags:
                      enabled: false
                      system: true
                      on_any_web: false
                    environment:
                      id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons/8eea655e-71be-4c71-bf5b-9c5c9a5c5b43
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Non-hosted application:
                  value:
                    error: not_found
                    message: Cron jobs do not exist on non-hosted applications.
    post:
      tags:
      - Environments
      summary: Creates a scheduled job with cron
      description: Creates a scheduled job with cron on an environment.
      operationId: postEnvironmentCrons
      x-cli-name: environments:cron-create
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_post-cron'
            example:
              command: /usr/local/bin/drush cc all
              frequency: '*/30 * * * *'
              label: My New Cron
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_post-cron'
            example:
              command: /usr/local/bin/drush cc all
              frequency: '*/30 * * * *'
              label: My New Cron
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Adding cron:
                  value:
                    message: Creating a new cron.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/936a55fd-29eb-4317-bb6e-ad2a94b24589
                      parent:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons
                      notification:
                        href: https://cloud.acquia.com/api/notifications/01fde3bb-b65f-4629-b761-9072a35e8e50
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Label in use:
                  value:
                    error: validation_failed
                    message:
                      name: The label for the cron is already used by another cron. Please choose another label.
                Invalid frequency:
                  value:
                    error: validation_failed
                    message:
                      frequency: The cron frequency does not appear to be valid.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to create a cron in this environment.
                Node.js application:
                  value:
                    error: forbidden
                    message: Cron jobs are not available for Node.js applications.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be created on non-hosted applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Environment not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
                Cron not found:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be updated.
  /environments/{environmentId}/crons/{cronId}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Return details about a specific cron job
      description: Return details about a specific cron job by environment ID and cron job ID.
      operationId: getCron
      x-cli-name: environments:cron-find
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_cron'
              example:
                id: e82b77cc-a9ed-4458-b12c-d87af1a795ad
                server:
                  id: '18'
                  name: web-18
                command: /usr/local/bin/drush cc all
                minute: '25'
                hour: '7'
                day_month: '*'
                month: '*'
                day_week: '*'
                label: Clear drush caches
                flags:
                  enabled: true
                  system: false
                  on_any_web: true
                environment:
                  id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  name: dev
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons/e82b77cc-a9ed-4458-b12c-d87af1a795ad
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Non-hosted application:
                  value:
                    error: not_found
                    message: Cron jobs do not exist on non-hosted applications.
    put:
      tags:
      - Environments
      summary: Modify an existing scheduled job
      description: Modify an existing scheduled job on an environment.
      operationId: putCron
      x-cli-name: environments:cron-update
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cron'
            example:
              command: /usr/local/bin/drush7 cc all
              frequency: '*/5 * * * *'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cron'
            example:
              command: /usr/local/bin/drush7 cc all
              frequency: '*/5 * * * *'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Update cron:
                  value:
                    message: Updating cron.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/2582
                      parent:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons
                      notification:
                        href: https://cloud.acquia.com/api/notifications/ba232d96-dfe7-4850-9ca7-02e01a04f58d
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to modify this cron.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs are not available on non-hosted applications.
                Node.js applications:
                  value:
                    error: forbidden
                    message: Cron jobs are not available for Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be updated.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Label in use:
                  value:
                    error: conflict
                    message:
                      name: The label for the cron is already used by another cron. Please choose another label.
                Invalid frequency:
                  value:
                    error: validation_failed
                    message:
                      frequency: The cron frequency does not appear to be valid.
    delete:
      tags:
      - Environments
      summary: Deletes a cron job
      description: Deletes a cron job.
      operationId: postEnvironmentCronDelete
      x-cli-name: environments:cron-delete
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Deleting cron:
                  value:
                    message: Deleting cron.
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/1891
                      parent:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons
                      notification:
                        href: https://cloud.acquia.com/api/notifications/767cee8d-05f6-4761-a3dc-755957dfc9e6
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this cron.
                Non hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be deleted on non-hosted applications.
                Node.js application:
                  value:
                    error: forbidden
                    message: Cron jobs are not available for Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No environment or permission:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be removed.
  /environments/{environmentId}/crons/{cronId}/actions/enable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Enables a cron job
      description: Enables a cron job.
      operationId: postEnvironmentCronEnable
      x-cli-name: environments:cron-enable
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The cron is being enabled.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/1889/actions/enable
                  parent:
                    href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/1889/actions
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ceda2e82-54b7-4181-ae97-6a3163b187b8
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to modify this cron.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be enabled on non-hosted applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No cron or permission:
                  value:
                    error: not_found
                    message: The cron you are trying to access does not exist, or you do not have permission to access it.
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be enabled.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Action currently unavailable:
                  value:
                    error: conflict
                    message: The cron is already enabled. No action taken.
  /environments/{environmentId}/crons/{cronId}/actions/disable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Environments
      summary: Disables a cron job
      description: Disables a cron job.
      operationId: postEnvironmentCronDisable
      x-cli-name: environments:cron-disable
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The cron is being disabled.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/crons/1234/actions/disable
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/crons/1234/actions
                  notification:
                    href: https://cloud.acquia.com/api/notifications/7b37b885-8ae4-454b-b8fa-ffaeff54f6a4
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to modify this cron.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be disabled on non-hosted applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No cron or permission:
                  value:
                    error: not_found
                    message: The cron you are trying to access does not exist, or you do not have permission to access it.
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be disabled.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Action currently unavailable:
                  value:
                    error: conflict
                    message: The cron is already disabled. No action taken.
  /environments/{environmentId}/databases:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Returns a list of databases
      description: 'Returns a list of databases.


        Filterable fields:

        * `name`

        * `id`


        Sortable fields:

        * `name`

        * `id`'
      operationId: getEnvironmentsDatabases
      x-cli-name: environments:database-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_databases'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases
                  sort:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                _embedded:
                  items:
                  - id: 14
                    name: my_db
                    user_name: my_db_user
                    password: supersecretdbpassword1!
                    url: mysql://my_db_user:supersecretdbpassword1!@dbhost.example.com/my_db
                    db_host: dbhost.example.com
                    ssh_host: sshhost.example.com
                    flags:
                      default: true
                    environment:
                      id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases/14
                  - id: 15
                    name: my_db_stage
                    user_name: my_db_user
                    password: supersecretdbpassword1!
                    url: mysql://my_db_user:supersecretdbpassword1!@dbhost.example.com/my_db_stage
                    db_host: dbhost.example.com
                    ssh_host: sshhost.example.com
                    flags:
                      default: false
                    environment:
                      id: 25-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/25-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases/15
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Do not exist on non-hosted applications:
                  value:
                    error: not_found
                    message: Databases do not exist on non-hosted applications.
                Do not exist on Node.js applications:
                  value:
                    error: not_available
                    message: Databases do not exist on Node.js applications
    post:
      tags:
      - Environments
      summary: Copies a database to this environment
      description: Copies a database to this environment.
      operationId: postEnvironmentsDatabases
      x-cli-name: environments:database-copy
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - name
              - source
              properties:
                name:
                  type: string
                  description: The name of the database to copy to the selected environment.
                source:
                  type: string
                  description: The ID of the environment to copy the database from.
                  minLength: 38
            example:
              name: db_name
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              - source
              properties:
                name:
                  type: string
                  description: The name of the database to copy to the selected environment.
                source:
                  type: string
                  description: The ID of the environment to copy the database from.
                  minLength: 38
            example:
              name: db_name
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              examples:
                Database being copied:
                  value:
                    message: The database is being copied
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/databases
                      notification:
                        href: https://cloud.acquia.com/api/notifications/a49eeebb-0929-444a-972c-07b94ce93ab9
                      parent:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
                Database does not exist in environment:
                  value:
                    error: validation_failed
                    message:
                      database: The database does not exist in this environment.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to copy this database.
                Action not available on non-hosted applications:
                  value:
                    error: forbidden
                    message: Databases cannot be copied on non-hosted applications.
                Action not available on Node.js applications:
                  value:
                    error: forbidden
                    message: Databases cannot be copied on Node.js applications.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Cannot be copied to itself:
                  value:
                    error: conflict
                    message: A database cannot be copied from an environment to itself.
                Must belong to same application:
                  value:
                    error: conflict
                    message: The environments do not belong to the same application.
                Cannot be copied to production:
                  value:
                    error: conflict
                    message: A database cannot be copied to an environment that is currently in production mode.
  /environments/{environmentId}/databases/{databaseName}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Environments
      summary: Return details about a specific database
[...]
