openapi: 3.0.0
info:
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
  description: "Acquia Cloud API\n\n# Compatibility\n\n## Stability\n\nThe response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.\n\nThere are three levels of stability:\n\n* `prototype`: A prototype resource is experimental and major changes are likely. A prototype resource may not reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one week notice\n    * Deprecated resources will remain available for at least one month after deprecation\n* `development`: A resource that is unlikely to change, but is still being worked on, will be marked as in development. These resources are very likely to reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one month notice\n    * Deprecated resources will remain available for at least six months after deprecation\n* `production`: A production resource will not introduce breaking changes within a version, and any breaking changes between versions will be communicated ahead of time.\n\n## Deprecation\n\nOver time, endpoints may become obsolete and will be removed in the future. These endpoints will be marked with an `X-CloudAPI-Deprecated` header indicating the version in which they were deprecated and the reason for the deprecation. Deprecated endpoints may be removed in the next version of the resource.\n\n## Versioning\n\nAll resource endpoints are versioned within the API. Endpoints that have reached production will not introduce breaking changes between versions. Non-production endpoints will not version for changes.\n\nA specific version of an endpoint can be requested via the `Accept` header:\n\n    Accept: application/hal+json, version=2\n\nIf the version is not specified, the latest version of the endpoint will be used.\n\nStarting with version 3, we will support the current version of an endpoint and the previous version. Version 1 of the API is [provided elsewhere](https://cloudapi.acquia.com/).\n\n## Errors\n\nSome endpoints will return a 503 status when dependent services are unavailable:\n\n    application/hal+json\n    {\n        \"error\": \"system\",\n        \"message\": \"This action is currently unavailable. Please try again later.\"\n    }\n\n## Authentication\n\nAll Acquia Cloud API calls require authentication to work properly.\n\nLearn more: <a href='https://docs.acquia.com/acquia-cloud/develop/api/auth/' target='_blank'>https://docs.acquia.com/acquia-cloud/develop/api/auth/</a>\n\n### Example implementation\n\nAn example PHP script for making authenticated API requests can be found <a href='https://docs.acquia.com/resources/useful-references' target='_blank'>here</a>. This script uses the <a href='https://oauth2-client.thephpleague.com/' target='_blank'>League/oauth2-client</a> library, installed via Composer.\n"
  title: Acquia Cloud API Account Subscriptions API
  version: 2.0.0
  x-logo:
    altText: Acquia Cloud
    backgroundColor: '#FFFFFF'
    url: assets/cloud-platform.svg
servers: []
tags:
- name: Subscriptions
  x-displayName: Subscriptions
paths:
  /subscriptions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Return a list of subscription.
      description: 'Filterable fields:

        * `from`

        * `to`

        * `sort`

        * `filter`

        * `limit`

        * `offset`


        Sortable fields:

        * `from`

        * `to`

        * `sort`

        * `filter`

        * `limit`

        * `offset`

        '
      operationId: getSubscriptions
      x-cli-name: subscriptions:list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_from'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_to'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscriptions'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions
                  sort:
                    href: https://cloud.acquia.com/api/subscriptions{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/subscriptions{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/
                _embedded:
                  items:
                  - id: 123
                    uuid: faa297f3-f59a-4abc-8d71-904f51bcb1c5
                    name: Acquia Cloud Free Subscription
                    start_at: '2011-03-28T00:00:00'
                    expire_at: '2015-11-11T00:00:00'
                    product:
                      id: 1890149
                      name: Acquia Cloud Free
                      type: free
                    applications_total: 3
                    applications_used: 1
                    organization:
                      uuid: 39f38840-c494-4622-80a5-fc40269cb42d
                      name: Acquia Inc.
                    flags:
                      active: true
                      expired: true
                      zuora: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/faa297f3-f59a-4abc-8d71-904f51bcb1c5
                    _embedded:
                      organization:
                        uuid: 39f38840-c494-4622-80a5-fc40269cb42d
                        name: Acquia Inc.
                        _links:
                          self:
                            href: https://cloud.acquia.com/api/organizations/39f38840-c494-4622-80a5-fc40269cb42d
                          parent:
                            href: https://cloud.acquia.com/api/organizations
                  - id: 222
                    uuid: 36496037-6eb5-482d-8549-e45e1718f2b7
                    name: My Acquia Subscription
                    start_at: '2012-05-15T12:00:00Z'
                    expire_at: '2015-05-15T12:00:00Z'
                    product:
                      id: 8999
                      name: Enterprise
                      type: enterprise
                    applications_total: 5
                    applications_used: 2
                    organization:
                      uuid: 93c97126-2870-47f0-9ffd-9a92033c443e
                      name: My Organization
                    flags:
                      active: true
                      expired: true
                      zuora: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/36496037-6eb5-482d-8549-e45e1718f2b7
                    _embedded:
                      organization:
                        uuid: 93c97126-2870-47f0-9ffd-9a92033c443e
                        name: My Organization
                        _links:
                          self:
                            href: https://cloud.acquia.com/api/organizations/93c97126-2870-47f0-9ffd-9a92033c443e
                          parent:
                            href: https://cloud.acquia.com/api/organizations
                  - id: 333
                    uuid: 2d92f652-882c-458a-8183-4d9cef7c2fde
                    name: My Acquia Subscription 2
                    start_at: '2012-05-15T12:00:00Z'
                    expire_at: '2015-05-15T12:00:00Z'
                    product:
                      id: 8999
                      name: Enterprise
                      type: enterprise
                    applications_total: 5
                    applications_used: 2
                    organization:
                      uuid: 93c97126-2870-47f0-9ffd-9a92033c443e
                      name: My Organization
                    flags:
                      active: true
                      expired: true
                      zuora: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/2d92f652-882c-458a-8183-4d9cef7c2fde
                    _embedded:
                      organization:
                        uuid: 93c97126-2870-47f0-9ffd-9a92033c443e
                        name: My Organization
                        _links:
                          self:
                            href: https://cloud.acquia.com/api/organizations/93c97126-2870-47f0-9ffd-9a92033c443e
                          parent:
                            href: https://cloud.acquia.com/api/organizations
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: You do not have permission to view subscriptions.
  /subscriptions/{subscriptionUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Return details about a specific subscription.
      description: Return details about a specific subscription.
      operationId: getSubscription
      x-cli-name: subscriptions:find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription'
              example:
                id: 329876
                uuid: 8533debb-ae4e-427b-aa34-731719b4201a
                name: My Subscription
                start_at: '2015-05-13T00:00:00'
                expire_at: '2018-05-12T00:00:00'
                product:
                  id: 8999
                  name: Enterprise
                  type: enterprise
                applications_total: 10
                applications_used: 0
                organization:
                  uuid: 93c97126-2870-47f0-9ffd-9a92033c443e
                  name: My Organization
                flags:
                  active: true
                  expired: true
                  zuora: false
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a
                  applications:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/applications
                  entitlements:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/entitlements
                  ides:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/ides
                  shield-acl:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/shield-acl
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions
                _embedded:
                  organization:
                    uuid: 93c97126-2870-47f0-9ffd-9a92033c443e
                    name: My Organization
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/93c97126-2870-47f0-9ffd-9a92033c443e
                      parent:
                        href: https://cloud.acquia.com/api/organizations
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
    put:
      tags:
      - Subscriptions
      summary: Modifies a subscription.
      description: Modifies a subscription.
      operationId: putSubscription
      x-cli-name: subscriptions:update
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new subscription name.
                  maxLength: 255
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Subscription updated:
                  value:
                    message: Subscription updated.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Validation failed:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/applications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Provides a list of applications that are a part of the subscription.
      description: 'Filterable fields:

        * `from`

        * `to`

        * `sort`

        * `filter`

        * `limit`

        * `offset`


        Sortable fields:

        * `from`

        * `to`

        * `sort`

        * `filter`

        * `limit`

        * `offset`

        '
      operationId: getSubscriptionApplications
      x-cli-name: subscriptions:application-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription-applications'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 10
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/applications
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a
                  sort:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/applications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/applications{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/applications{?limit}
                    templated: true
                _embedded:
                  items:
                  - id: 241643
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample application 1
                    hosting:
                      type: acp
                      id: devcloud:devcloud2
                    subscription:
                      uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: Sample subscription
                    organization:
                      uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                      name: Sample organization
                    flags:
                      remote_admin: true
                    status: normal
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  - id: 954291
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d471
                    name: Sample application 2
                    hosting:
                      type: free
                      id: devcloud:devcloud2
                    subscription:
                      uuid: f47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: Sample subscription
                    organization:
                      uuid: 6a907396-abfd-4d01-9da6-64c8efc04519
                      name: Sample organization
                    flags:
                      remote_admin: false
                    status: provisioning
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d471
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: You do not have permission to view applications.
  /subscriptions/{subscriptionUuid}/code-studio:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves Code Studio metadata for a subscription.
      description: Retrieves Code Studio metadata for a subscription.
      operationId: getCodeStudioSubscriptionMetadata
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-subscription-metadata'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio
                  subscription:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                  users:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users
                  applications:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/applications
                  code-studio:
                    href: https://code.acquia.com
                  code-studio-api:
                    href: https://code.acquia.com/api/v4
                _embedded:
                  subscription:
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                    uuid: e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                    name: My Subscription
                status: active
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
    options:
      tags:
      - Subscriptions
      summary: Displays Code Studio options for a subscription.
      description: Displays Code Studio options for a subscription.
      operationId: optionsCodeStudio
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-options'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                roles:
                  a9bdb481-63f4-4770-93ee-bf6c630238cf: Guest
                  c6c76597-dd30-4149-8a76-3c58d764bc66: Reporter
                  4a996644-5a6e-4403-9306-6c08cb212ee1: Developer
                  90abb6cc-f609-41db-a92d-1900b1c7d93f: Maintainer
                  e62722c0-64dc-4d87-88ac-9f7bef645572: Owner
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/code-studio/actions/enable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Subscriptions
      summary: Enables Code Studio for a subscription.
      description: Enables and provisions Code Studio at the subscription level.
      operationId: postEnableCodeStudio
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/actions/enable
                  notification:
                    href: https://cloud.acquia.com/api/notifications/34c7ed7e-2db8-433f-b6a8-96bc1080e3c9
                notification_id: 34c7ed7e-2db8-433f-b6a8-96bc1080e3c9
                message: Code Studio has been enabled for the Subscription.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to enable Code Studio for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/code-studio/applications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves a list of Code Studio enabled applications for a subscription.
      description: Retrieves a list of Code Studio enabled applications for a subscription.
      operationId: getCodeStudioApplications
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-applications'
              example:
                total: 1
                pagination:
                  limit: 10
                  total: 1
                  offset: 0
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                  code-studio:
                    href: https://code.acquia.com
                  code-studio-api:
                    href: https://code.acquia.com/api/v4
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/applications?offset=1
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/applications?offset=1{&filter}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/applications?offset=1{&sort}
                    templated: true
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/b91be25b-8eba-4ff7-94c8-d51637da2343
                      project:
                        href: https://cloud.acquia.com/api/applications/b91be25b-8eba-4ff7-94c8-d51637da2343/code-studio
                      parent:
                        href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342
                    _embedded:
                      project:
                        _links:
                          self:
                            href: https://cloud.acquia.com/api/applications/b91be25b-8eba-4ff7-94c8-d51637da2343/code-studio
                          parent:
                            href: https://cloud.acquia.com/api/applications/b91be25b-8eba-4ff7-94c8-d51637da2343
                          code-studio:
                            href: https://code.acquia.com/path/to/project
                          code-studio-api:
                            href: https://code.acquia.com/api/v4/path/to/project
                        application_id: b91be25b-8eba-4ff7-94c8-d51637da2343
                        status: active
                    uuid: b91be25b-8eba-4ff7-94c8-d51637da2343
                    name: My Application
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/code-studio/users:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves a list of users assigned to Code Studio for a subscription.
      description: Retrieves a list of users assigned to Code Studio for a subscription.
      operationId: getCodeStudioUsers
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-users'
              example:
                total: 1
                pagination:
                  limit: 10
                  total: 1
                  offset: 0
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users
                  code-studio:
                    href: https://code.acquia.com
                  code-studio-api:
                    href: https://code.acquia.com/api/v4
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users{?filter}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users{?sort}
                    templated: true
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users/cc27c5b6-d641-4e72-8897-75874ecf82e6
                      parent:
                        href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users
                      code-studio:
                        href: https://code.acquia.com
                      code-studio-api:
                        href: https://code.acquia.com/api/v4
                    uuid: cc27c5b6-d641-4e72-8897-75874ecf82e6
                    first_name: Jane
                    last_name: Doe
                    mail: jane.doe@test.com
                    role: b3d8e9f1-8cb6-43c0-b579-0c465f5fdf49
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Subscriptions
      summary: Assigns a user to a Code Studio seat for a subscription.
      description: Assigns a user to Code Studio seat for a subscription.
      operationId: postCodeStudioUsers
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: The ID of the user to assign.
                role:
                  type: string
                  description: The ID of the Code Studio role to assign to the user.
            example:
              user_id: 0b9bea4e-f469-44dd-a4b6-965aad734198
              role: ba8e9a8b-5e98-43b0-a0ec-40b2a813879a
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users
                  notification:
                    href: https://cloud.acquia.com/api/notifications/4e3cae56-5547-4ac7-b552-5dc87b50a8d3
                message: A Code Studio user has been added to the Subscription.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to add a Code Studio user to this Subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/code-studio/users/{userUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves details about a specific Code Studio user.
      description: Retrieves details about a specific Code Studio user.
      operationId: getCodeStudioUser
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_code-studio-user'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users/bd06a2fe-a103-400e-b397-b4d27538e1b3
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users
                  code-studio:
                    href: https://code.acquia.com
                  code-studio-api:
                    href: https://code.acquia.com/api/v4
                uuid: bd06a2fe-a103-400e-b397-b4d27538e1b3
                first_name: Jane
                last_name: Doe
                mail: jane.doe@test.com
                role: 90ad1576-84d9-43e5-b9db-0aad54dd5ade
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: forbidden
                    message: Code Studio is not available for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
                Code Studio user not found:
                  value:
                    error: not_found
                    message: The Code Studio user you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Subscriptions
      summary: Unassigns a user from a Code Studio seat.
      description: Unassigns a user from a Code Studio seat.
      operationId: deleteCodeStudioUser
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/e5bfb18f-2c6c-4534-bb9b-15ba73e17342/code-studio/users
                  notification:
                    href: https://cloud.acquia.com/api/notifications/4e3cae56-5547-4ac7-b552-5dc87b50a8d3
                message: The Code Studio user is being removed from the Subscription.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to remove the Code Studio user from this Subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/domains:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Returns a list of Domains registered with this subscription.
      description: Returns a list of Domains registered with this subscription.
      operationId: getSubscriptionDomainRegistrations
      x-cli-name: subscriptions:domain-registrations-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_domain-registrations'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 2
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000
                  limit:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains{?offset}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains{?filter}
                    templated: true
                _embedded:
                  items:
                  - uuid: 123e4567-e89b-12d3-a456-426614174000
                    domain_name: example.com
                    health:
                      code: '404'
                      details: Acquia could not verify the presence of the required DKIM/SPF/TXT DNS record.
                      summary: Missing DNS record
                    dns_records:
                    - type: TXT
                      name: _amazonses.example.com
                      value: AB/CD4Hef1+c0D7+wYS2xQ+EBr3HZiXRWDJHrjEWOhs=
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required TXT DNS record
                        summary: Missing DNS record
                    - type: TXT
                      name: _acquiaplatform.example.com
                      value: aGh54oW35sd5LMGhas1fWrnRrticnsdndf,43=
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required TXT DNS record
                        summary: Missing DNS record
                    - type: MX
                      name: mail.example.com
                      value: 10 feedback-smtp.us-east-1.amazonses.com
                      health:
                        code: '202'
                        details: Acquia is in the process of verifying SPF DNS records.
                        summary: Verification pending
                    - type: TXT
                      name: mail.example.com
                      value: v=spf1 include:amazonses.com ~all
                      health:
                        code: '202'
                        details: Acquia is in the process of verifying SPF DNS records.
                        summary: Verification pending
                    - type: CNAME
                      name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example.com
                      value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required DKIM DNS record
                        summary: Missing DNS record
                    - type: CNAME
                      name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example.com
                      value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required DKIM DNS record
                        summary: Missing DNS record
                    - type: CNAME
                      name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example.com
                      value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required DKIM DNS record
                        summary: Missing DNS record
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                      parent:
                        href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains
                  - uuid: 123e4567-e89b-12d3-a456-426614174000
                    domain_name: example2.com
                    health:
                      code: '404'
                      details: Acquia could not verify the presence of the required DKIM/SPF/TXT DNS record.
                      summary: Missing DNS record
                    dns_records:
                    - type: TXT
                      name: _amazonses.example2.com
                      value: AB/CD4Hef1+c0D7+wYS2xQ+EBr3HZiXRWDJHrjEWOhs=
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required TXT DNS record
                        summary: Missing DNS record
                    - type: TXT
                      name: _acquiaplatform.example2.com
                      value: aGh54oW35sd5LMGhas1fWrnRrticnsdndf,43=
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required TXT DNS record
                        summary: Missing DNS record
                    - type: MX
                      name: mail.example2.com
                      value: 10 feedback-smtp.us-east-1.amazonses.com
                      health:
                        code: '202'
                        details: Acquia is in the process of verifying SPF DNS records.
                        summary: Verification pending
                    - type: TXT
                      name: mail.example2.com
                      value: v=spf1 include:amazonses.com ~all
                      health:
                        code: '202'
                        details: Acquia is in the process of verifying SPF DNS records.
                        summary: Verification pending
                    - type: CNAME
                      name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example2.com
                      value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required DKIM DNS record
                        summary: Missing DNS record
                    - type: CNAME
                      name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example2.com
                      value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required DKIM DNS record
                        summary: Missing DNS record
                    - type: CNAME
                      name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example2.com
                      value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                      health:
                        code: '404'
                        details: Acquia could not verify the presence of the required DKIM DNS record
                        summary: Missing DNS record
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                      parent:
                        href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage domain registrations for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Subscriptions
      summary: Registers a Domain with this subscription.
      description: Registers a Domain with this subscription.
      operationId: postSubscriptionDomainRegistration
      x-cli-name: subscriptions:post-domain-registration
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  format: hostname
                  description: The domain name to add.
                  minLength: 3
                  maxLength: 253
            example:
              domain: example.com
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: The domain name to add.
                  minLength: 3
                  maxLength: 253
            example:
              domain: example.com
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The domain has been registered.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains
                  notification:
                    href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage domain registrations for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
                No domain or permission:
                  value:
                    error: not_found
                    message: The domain registration you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
                Domain limit:
                  value:
                    error: conflict
                    message: The maximum number of domains for Platform Email have been registered.
  /subscriptions/{subscriptionUuid}/domains/{domainRegistrationUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Returns a speicific Domain registered with this subscription.
      description: Returns a speicific Domain registered with this subscription.
      operationId: getSubscriptionDomainRegistration
      x-cli-name: subscriptions:get-domain-registration
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_domain-registration'
              example:
                uuid: 123e4567-e89b-12d3-a456-426614174000
                domain_name: example.com
                health:
                  code: '404'
                  details: Acquia could not verify the presence of the required DKIM/SPF/TXT DNS record.
                  summary: Missing DNS record
                dns_records:
                - type: TXT
                  name: _amazonses.example.com
                  value: AB/CD4Hef1+c0D7+wYS2xQ+EBr3HZiXRWDJHrjEWOhs=
                  health:
                    code: '404'
                    details: Acquia could not verify the presence of the required TXT DNS record
                    summary: Missing DNS record
                - type: TXT
                  name: _acquiaplatform.example.com
                  value: aGh54oW35sd5LMGhas1fWrnRrticnsdndf,43=
                  health:
                    code: '404'
                    details: Acquia could not verify the presence of the required TXT DNS record
                    summary: Missing DNS record
                - type: MX
                  name: mail.example.com
                  value: 10 feedback-smtp.us-east-1.amazonses.com
                  health:
                    code: '202'
                    details: Acquia is in the process of verifying SPF DNS records.
                    summary: Verification pending
                - type: TXT
                  name: mail.example.com
                  value: v=spf1 include:amazonses.com ~all
                  health:
                    code: '202'
                    details: Acquia is in the process of verifying SPF DNS records.
                    summary: Verification pending
                - type: CNAME
                  name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example.com
                  value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                  health:
                    code: '404'
                    details: Acquia could not verify the presence of the required DKIM DNS record
                    summary: Missing DNS record
                - type: CNAME
                  name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example.com
                  value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                  health:
                    code: '404'
                    details: Acquia could not verify the presence of the required DKIM DNS record
                    summary: Missing DNS record
                - type: CNAME
                  name: abcdefgh1ijkl2mnopq34rstuvwxyz._domainkey.example.com
                  value: abcdefgh1ijkl2mnopq34rstuvwxyz.dkim.amazonses.com
                  health:
                    code: '404'
                    details: Acquia could not verify the presence of the required DKIM DNS record
                    summary: Missing DNS record
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
                No domain or permission:
                  value:
                    error: not_found
                    message: The domain registration you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Subscriptions
      summary: Unregisters a Domain registered with this subscription.
      description: Unregisters a Domain registered with this subscription.
      operationId: deleteSubscriptionDomainRegistration
      x-cli-name: subscriptions:delete-domain-registration
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The domain has been unregistered from the subscription.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains
                  notification:
                    href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to remove domains from this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
                No domain or permission:
                  value:
                    error: not_found
                    message: The domain you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
                Domain not registered:
                  value:
                    error: conflict
                    message: example.com is not registered with this subscription.
  /subscriptions/{subscriptionUuid}/domains/{domainRegistrationUuid}/actions/verify:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Subscriptions
      summary: Triggers re-verification and update to the domain verification status.
      description: Triggers re-verification and update to the domain verification status.
      operationId: postSubscriptionVerifyDomainRegistration
      x-cli-name: subscriptions:post-verify-domain-registration
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_domain-registration-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: The domain status is being verified.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000/actions/verify
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/123e4567-e89b-12d3-a456-426614174000/domains/123e4567-e89b-12d3-a456-426614174000
                  notification:
                    href: https://cloud.acquia.com/api/notifications/123e4567-e89b-12d3-a456-426614174000
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No domain or permission:
                  value:
                    error: not_found
                    message: The domain registration you are trying to access does not exist, or you do not have permission to access it.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription with UUID 123e4567-e89b-12d3-a456-426614174000 does not exist.
                No domain or permission:
                  value:
                    error: not_found
                    message: The domain registration you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No entitlement:
                  value:
                    error: conflict
                    message: Platform Email is not available for this subscription.
                Verification already pending:
                  value:
                    error: conflict
                    message: This domain cannot be reverified at this time.
  /subscriptions/{subscriptionUuid}/entitlements:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Provides a list of entitlements that are a part of the subscription.
      description: Provides a list of entitlements that are a part of the subscription.
      operationId: getSubscriptionEntitlements
      x-cli-name: subscriptions:entitlements-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_entitlements'
              example:
                _embedded:
                  items:
                  - name: cde
                    offering_ids:
                    - b2a188df-00b7-47bf-a664-66835cde53b0
                    expires_at: '2023-05-16T11:15:05+00:00'
                    flags:
                      trial: true
                    properties:
                      databases_total: 3
                      total: 10
                      used: 1
                  - name: pipelines
                    offering_ids:
                    - b2a188df-00b7-47bf-a664-66835cde53b0
                    expires_at: '2023-05-16T11:15:05+00:00'
                    flags:
                      trial: true
                    properties: []
                  - name: newrelic
                    offering_ids:
                    - b2a188df-00b7-47bf-a664-66835cde53b0
                    expires_at: '2023-05-16T11:15:05+00:00'
                    flags:
                      trial: true
                    properties:
                      id: 03816870a4724c900292bc9f0955a315
                      level: pro
                  - name: log-forwarding
                    offering_ids:
                    - b2a188df-00b7-47bf-a664-66835cde53b0
                    expires_at: '2023-05-16T11:15:05+00:00'
                    flags:
                      trial: true
                    properties: []
                  - name: shield
                    offering_ids:
                    - b2a188df-00b7-47bf-a664-66835cde53b0
                    expires_at: '2023-05-16T11:15:05+00:00'
                    flags:
                      trial: true
                    properties: []
                  - name: consumption-based-pricing
                    offering_ids:
                    - b2a188df-00b7-47bf-a664-66835cde53b0
                    expires_at: '2023-05-16T11:15:05+00:00'
                    flags:
                      trial: true
                    properties:
                      visits: 10000000
                      views: 500000000
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a/entitlements
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/8533debb-ae4e-427b-aa34-731719b4201a
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/ides:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Returns a list of Cloud IDEs associated with this subscription.
      description: Returns a list of Cloud IDEs associated with this subscription.
      operationId: getSubscriptionIdes
      x-cli-name: subscriptions:ide-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_ides'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/5d278c52-4876-4c70-a666-d671f77a602d/ides
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/5d278c52-4876-4c70-a666-d671f77a602d
                _embedded:
                  items:
                  - uuid: 9a83c081-ef78-4dbd-8852-11cc3eb248f7
                    label: IDE Label 1
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/9a83c081-ef78-4dbd-8852-11cc3eb248f7
                      web:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.web.ahdev.cloud
                      ide:
                        href: https://9a83c081-ef78-4dbd-8852-11cc3eb248f7.ides.acquia.com
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                    _embedded:
                      owner:
                        uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                        first_name: First
                        last_name: Last
                        last_login_at: '2019-01-31T10:53:11-05:00'
                        created_at: '2016-08-14T17:38:59-04:00'
                        email: user.name@example.com
                        picture_url: https://accounts.acquia.com/path/to/image.png
                        username: user.name
                  - uuid: feea197a-9503-4441-9f49-b4d420b0ecf8
                    label: IDE Label 2
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/ides/feea197a-9503-4441-9f49-b4d420b0ecf8
                      web:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.web.ahdev.cloud
                      ide:
                        href: https://feea197a-9503-4441-9f49-b4d420b0ecf8.ides.acquia.com
                      application:
                        href: https://cloud.acquia.com/api/applications/461fe350-7988-42b3-a73e-cffcdbb94199
                    _embedded:
                      owner:
                        uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                        first_name: First
                        last_name: Last
                        last_login_at: '2019-01-31T10:53:11-05:00'
                        created_at: '2016-08-14T17:38:59-04:00'
                        email: user.name@example.com
                        picture_url: https://accounts.acquia.com/path/to/image.png
                        username: user.name
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No subscription or permission:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/metrics/usage:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves traversal links for a subscription's usage data.
      description: Retrieves traversal links for a subscription's usage data.
      operationId: getSubscriptionsUsageLinks
      x-cli-name: subscriptions:usage-links
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_usage'
              example:
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics
                  data:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data
                  data-by-application:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data-by-application
                  views:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views
                  views-by-application:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views-by-application
                  visits:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits
                  visits-by-application:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits-by-application
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Subscription not found:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/metrics/usage/data:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves aggregate usage data for a subscription.
      description: 'Filterable fields:

        * `metric` - One of: {`views`, `visits`}

        * `application`

        * `from`

        * `to`

        '
      operationId: getSubscriptionsUsageData
      x-cli-name: subscriptions:usage-data
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_resolution'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription-usage-metrics'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data{?filter}
                    templated: true
                _embedded:
                  items:
                  - metric: views
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '9'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views
                      parent:
                        href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
                  - metric: visits
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '3'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits
                      parent:
                        href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this subscription.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The subscription you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/metrics/usage/data-by-application:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves usage data for a subscription, broken down by application.
      description: 'Filterable fields:

        * `metric` - One of: {`views`, `visits`}

        * `application`

        '
      operationId: getSubscriptionsUsageDataByApplication
      x-cli-name: subscriptions:usage-data-by-application
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_resolution'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription-usage-metrics'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 2
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data-by-application
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
                  limit:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data-by-application{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data-by-application{?offset}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/data-by-application{?filter}
                    templated: true
                _embedded:
                  items:
                  - metric: views
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '9'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 124-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 125-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/views
                      parent:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
                  - metric: visits
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '3'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 124-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 125-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/visits
                      parent:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/metrics/usage/{usageMetric}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves aggregate usage metric data for a subscription.
      description: 'Filterable fields:

        * `application`

        '
      operationId: getSubscriptionsUsageMetricData
      x-cli-name: subscriptions:usage-metric-data
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_usage-metric'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription-usage-metric'
              example:
                metric: views
                datapoints:
                - - '2019-03-13T00:00:00+00:00'
                  - '9'
                - - '2019-03-14T00:00:00+00:00'
                  - '1'
                last_data_at: '2019-03-14T00:00:00+00:00'
                metadata:
                  subscription:
                    uuids:
                    - 9567a611-4cdd-4586-8b3f-f3980a87e471
                  application:
                    uuids:
                    - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/metrics/usage/views-by-application:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves views data for a subscription, broken down by application.
      description: 'Filterable fields:

        * `application`

        '
      operationId: getSubscriptionsUsageViewsDataByApplication
      x-cli-name: subscriptions:usage-views-data-by-application
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_resolution'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription-usage-metrics'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 2
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views-by-application
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
                  limit:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views-by-application{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views-by-application{?offset}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/views-by-application{?filter}
                    templated: true
                _embedded:
                  items:
                  - metric: views
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '9'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 124-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 125-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/views
                      parent:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/metrics/usage/visits-by-application:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Retrieves visits data for a subscription, broken down by application.
      description: 'Filterable fields:

        * `application`

        '
      operationId: getSubscriptionsUsageVisitsDataByApplication
      x-cli-name: subscriptions:usage-visits-data-by-application
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter-usage-metrics'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_resolution'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_subscription-usage-metrics'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 2
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits-by-application
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage
                  limit:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits-by-application{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits-by-application{?offset}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/subscriptions/9567a611-4cdd-4586-8b3f-f3980a87e471/metrics/usage/visits-by-application{?filter}
                    templated: true
                _embedded:
                  items:
                  - metric: visits
                    datapoints:
                    - - '2019-03-13T00:00:00+00:00'
                      - '3'
                    - - '2019-03-14T00:00:00+00:00'
                      - '1'
                    last_data_at: '2019-03-14T00:00:00+00:00'
                    metadata:
                      subscription:
                        uuids:
                        - 9567a611-4cdd-4586-8b3f-f3980a87e471
                      application:
                        uuids:
                        - 1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                      environment:
                        ids:
                        - 123-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 124-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                        - 125-1df8bff7-ffda-4571-b64a-f90f60f4dbf8
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage/visits
                      parent:
                        href: https://cloud.acquia.com/api/applications/1df8bff7-ffda-4571-b64a-f90f60f4dbf8/metrics/usage
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to view usage metrics for this application.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
  /subscriptions/{subscriptionUuid}/shield-acl:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Subscriptions
      summary: Provides a list of Shield ACL rules.
      description: Provides a list of Shield ACL rules.
      operationId: getShieldAcl
      x-cli-name: subscriptions:shield-acl-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_subscription-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_shield-acl-collection'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/subscriptions/abcd1234-58cc-4372-a567-0e02b2c3d470/shield-acl
                  parent:
                    href: https://cloud.acquia.com/api/subscriptions/abcd1234-58cc-4372-a567-0e02b2c3d470
                _embedded:
                  items:
                  - uuid: d5afa695-92a0-401b-b973-1f09992d6ba2
                    subscription:
                      uuid: 720d4df4-7469-47f2-9e42-a6a5152761bf
                      name: Example Subscription
                    description: My rule 1
                    service: ssh
                    addresses:
                    - 127.0.0.82/32
                    - 127.0.0.83/32
                    action: allow
                    status: active
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/subscriptions/720d4df4-7469-47f2-9e42-a6a5152761bf/shield-acl/d5afa695-92a0-401b-b973-1f09992d6ba2
                      parent:
[...]
