openapi: 3.0.0
info:
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
  description: "Acquia Cloud API\n\n# Compatibility\n\n## Stability\n\nThe response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.\n\nThere are three levels of stability:\n\n* `prototype`: A prototype resource is experimental and major changes are likely. A prototype resource may not reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one week notice\n    * Deprecated resources will remain available for at least one month after deprecation\n* `development`: A resource that is unlikely to change, but is still being worked on, will be marked as in development. These resources are very likely to reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one month notice\n    * Deprecated resources will remain available for at least six months after deprecation\n* `production`: A production resource will not introduce breaking changes within a version, and any breaking changes between versions will be communicated ahead of time.\n\n## Deprecation\n\nOver time, endpoints may become obsolete and will be removed in the future. These endpoints will be marked with an `X-CloudAPI-Deprecated` header indicating the version in which they were deprecated and the reason for the deprecation. Deprecated endpoints may be removed in the next version of the resource.\n\n## Versioning\n\nAll resource endpoints are versioned within the API. Endpoints that have reached production will not introduce breaking changes between versions. Non-production endpoints will not version for changes.\n\nA specific version of an endpoint can be requested via the `Accept` header:\n\n    Accept: application/hal+json, version=2\n\nIf the version is not specified, the latest version of the endpoint will be used.\n\nStarting with version 3, we will support the current version of an endpoint and the previous version. Version 1 of the API is [provided elsewhere](https://cloudapi.acquia.com/).\n\n## Errors\n\nSome endpoints will return a 503 status when dependent services are unavailable:\n\n    application/hal+json\n    {\n        \"error\": \"system\",\n        \"message\": \"This action is currently unavailable. Please try again later.\"\n    }\n\n## Authentication\n\nAll Acquia Cloud API calls require authentication to work properly.\n\nLearn more: <a href='https://docs.acquia.com/acquia-cloud/develop/api/auth/' target='_blank'>https://docs.acquia.com/acquia-cloud/develop/api/auth/</a>\n\n### Example implementation\n\nAn example PHP script for making authenticated API requests can be found <a href='https://docs.acquia.com/resources/useful-references' target='_blank'>here</a>. This script uses the <a href='https://oauth2-client.thephpleague.com/' target='_blank'>League/oauth2-client</a> library, installed via Composer.\n"
  title: Acquia Cloud API Account Environments API
  version: 2.0.0
  x-logo:
    altText: Acquia Cloud
    backgroundColor: '#FFFFFF'
    url: assets/cloud-platform.svg
servers: []
tags:
- name: Environments
paths:
  /environments/{environmentId}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    delete:
      description: Deletes a CD environment.
      operationId: deleteEnvironment
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/6992a41d-a953-4ded-ae99-41d2f4d62f69
                  self:
                    href: https://cloud.acquia.com/api/environments/123-a027502b-ad6c-a48e-a7e8-aa0def7d25e1
                message: The environment is being deleted.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
          description: Accepted
        '403':
          content:
            application/hal+json:
              examples:
                Cannot delete CD environments on non-hosted applications:
                  value:
                    error: forbidden
                    message: CD environments cannot be deleted on non-hosted applications.
                Cannot delete environments for managed applications:
                  value:
                    error: forbidden
                    message: Environments cannot be deleted for Service Management-enabled applications.
                Cannot delete environments on Node.js applications:
                  value:
                    error: forbidden
                    message: Environments cannot be deleted on Node.js applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Application Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
                Environment Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Deletes a CD Environment.
      tags:
      - Environments
      x-cli-name: environments:delete
    get:
      description: 'Return details about a specific environment.


        To find your environment ID via API:


        1. Make a request to GET `/api/applications/[uuid]/environments`.

        2. Find the entry that matches your environment. If you don''t know the application UUID, first make a request to GET `/api/applications`.


        To find your environment ID via cloud.acquia.com:


        1. Open [https://cloud.acquia.com](https://cloud.acquia.com).

        2. Navigate to your application.

        3. Navigate to the environment.

        4. See the environment ID in the browser URL.

        For example, in this URL `https://cloud.acquia.com/app/develop/applications/53785bca-1946-4adc-a022-e50d24686c20/environments/289576-53785bca-1946-4adc-a022-e50d24686c20`, the environment id is `289576-53785bca-1946-4adc-a022-e50d24686c20`.

        '
      operationId: getEnvironment
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  application:
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample application
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                _links:
                  available-runtimes:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/available-runtimes
                  cdn:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/cdn
                  cloud-actions:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/cloud-actions
                  crons:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons
                  databases:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases
                  dns:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/dns
                  domains:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/domains
                  eips:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/eips
                  logs:
                    href: https://cloud.acquia.com/api/environments/8-185f07c7-9c4f-407b-8968-67892ebcb38a/logs
                  metrics:
                    href: https://cloud.acquia.com/api/environments/8-185f07c7-9c4f-407b-8968-67892ebcb38a/metrics
                  parent:
                    href: https://cloud.acquia.com/api/environments
                  search:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/search
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  servers:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/servers
                  ssl:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/ssl
                  variables:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/variables
                active_domain: example.com
                application:
                  name: Sample application
                  uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                artifact: null
                balancer: balancers
                configuration:
                  operating_system: precise
                  php:
                    apcu: 64
                    client_max_body_size: 128
                    interned_strings_buffer: 16
                    max_execution_time: 300
                    max_input_vars: 1000
                    max_post_size: 256
                    memcached_limit: 64
                    memory_limit: 128
                    opcache: 96
                    upload_max_filesize: 128
                    version: '8.3'
                default_domain: sitedev.hosted.acquia-sites.com
                domains:
                - sitedev.hosted.acquia-sites.com
                - example.com
                flags:
                  cde: false
                  cdn: false
                  cloud-actions: false
                  eips: false
                  email: false
                  hsd: false
                  livedev: false
                  multi_region: false
                  multicert: false
                  production: false
                  production_mode: false
                  remote_admin: false
                  varnish: true
                  varnish_over_ssl: false
                gardener:
                  multi-site: example.com/admin/gardens/staging
                  site-update: example.com/admin/gardens/site-update
                id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                image_url: null
                ips:
                - 10.0.1.5
                label: Dev
                name: dev
                platform: cloud
                region: us-east-1
                size: medium
                ssh_url: site.dev@sitedev.ssh.hosted.acquia-sites.com
                status: normal
                type: drupal
                vcs:
                  path: master
                  type: git
                  url: site@svn-3.hosted.acquia-sites.com:site.git
                weight: 0
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Details About a Specific Environment.
      tags:
      - Environments
      x-cli-name: environments:find
    options:
      description: Displays environment options.
      operationId: optionsEnvironment
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - default: 32
                    maximum: 512
                    minimum: 32
                    name: apcu
                    step: 1
                  - default: 8
                    maximum: 32
                    minimum: 8
                    name: interned_strings_buffer
                    step: 1
                  - default: 256
                    maximum: 1024
                    minimum: 0
                    name: client_max_body_size
                    step: 1
                  - default: 300
                    maximum: 300
                    minimum: 1
                    name: max_execution_time
                    step: 1
                  - default: 1000
                    maximum: 20000
                    minimum: 500
                    name: max_input_vars
                    step: 1
                  - default: 256
                    maximum: 1024
                    minimum: 64
                    name: max_post_size
                    step: 1
                  - default: 256
                    maximum: 1024
                    minimum: 0
                    name: upload_max_filesize
                    step: 1
                  - default: 128
                    maximum: 1024
                    minimum: 128
                    name: memory_limit
                    step: 1
                  - default: 64
                    maximum: 12288
                    minimum: 0
                    name: memcached_limit
                    step: 64
                  - default: 96
                    maximum: 512
                    minimum: 96
                    name: opcache
                    step: 1
                  - default: null
                    maximum: null
                    minimum: null
                    name: operating_system
                    step: null
                  - default: null
                    maximum: null
                    minimum: null
                    name: version
                    step: null
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/environments/24-569086da-2b1f-11e9-b210-d663bd873d93{?filter}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/environments
                  self:
                    href: https://cloud.acquia.com/api/environments/24-569086da-2b1f-11e9-b210-d663bd873d93
                  sort:
                    href: https://cloud.acquia.com/api/environments/24-569086da-2b1f-11e9-b210-d663bd873d93{?sort}
                    templated: true
                total: 10
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment-options'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                No environment or permission:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Displays Environment Options.
      tags:
      - Environments
    put:
      description: Modifies configuration settings for an environment. Note that some settings cannot be configured for certain subscriptions.
      operationId: putEnvironment
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              apcu: 32
              client_max_body_size: 192
              max_execution_time: 10
              max_input_vars: 1000
              max_post_size: 256
              memcached_limit: 128
              memory_limit: 192
              operating_system: focal
              upload_max_filesize: 192
              version: '8.3'
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment-configuration'
          application/x-www-form-urlencoded:
            example:
              apcu: 32
              client_max_body_size: 192
              max_execution_time: 10
              max_input_vars: 1000
              max_post_size: 256
              memcached_limit: 128
              memory_limit: 192
              operating_system: focal
              upload_max_filesize: 192
              version: '8.3'
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_environment-configuration'
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/737a97a4-4c02-47e4-9924-d008de1aa7e5
                  self:
                    href: https://cloud.acquia.com/api/environments/12-d314739e-296f-11e9-b210-d663bd873d93
                message: The environment configuration is being updated.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                No changes requested:
                  value:
                    error: forbidden
                    message:
                      system: No environment configuration changes are specified.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Cannot delete CD environments on non-hosted applications:
                  value:
                    error: forbidden
                    message: CD environments cannot be deleted on non-hosted applications.
                Cannot delete environments on Node.js applications:
                  value:
                    error: forbidden
                    message: Environments cannot be deleted on Node.js applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not available for static applications:
                  value:
                    error: not_available
                    message: Environment configuration cannot be modified for static applications.
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Conflict:
                  value:
                    error: conflict
                    message: operating_system cannot be configured on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Modifies Configuration Settings for an Environment.
      tags:
      - Environments
      x-cli-name: environments:update
  /environments/{environmentId}/actions/change-label:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      deprecated: true
      description: Change the label for an environment.
      operationId: postChangeEnvironmentLabel
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              label: New Label
            schema:
              properties:
                label:
                  description: The new environment label.
                  type: string
              required:
              - label
              type: object
          application/x-www-form-urlencoded:
            example:
              label: New Label
            schema:
              properties:
                label:
                  description: The new environment label.
                  type: string
              required:
              - label
              type: object
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Changing label:
                  value:
                    message: Changing environment label.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Label already used:
                  value:
                    error: validation_failed
                    message:
                      label: Another environment within this application already has this label.
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to change the label for this environment.
                Labels can only be changed on hosted applications:
                  value:
                    error: forbidden
                    message: Environment labels cannot be changed on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Bad Request
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Change the Label for an Environment.
      tags:
      - Environments
      x-cli-name: environments:label-update
  /environments/{environmentId}/actions/clear-caches:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Clear caches for Varnish and Platform CDN (if Platform CDN is enabled).
      operationId: postEnvironmentsClearCaches
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              domains:
              - domain1.example.com
              - domain2.example.com
            schema:
              properties:
                domains:
                  description: A list of domains to clear the caches for.
                  items:
                    format: hostname
                    type: string
                  type: array
              required:
              - domains
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Clearing cache:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/42b56cff-0b55-4bdf-a949-1fd0fca61c6c
                      self:
                        href: https://cloud.acquia.com/api/environments/12-d314739e-296f-11e9-b210-d663bd873d93/actions/clear-caches
                    message: Caches are being cleared.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '403':
          content:
            application/hal+json:
              examples:
                Can only be cleared on hosting applications:
                  value:
                    error: forbidden
                    message: Caches cannot be cleared on non-hosted applications.
                Cannot be cleared for Node.js applications:
                  value:
                    error: forbidden
                    message: Caches cannot be cleared on Node.js applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to clear caches on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Clears the Caches for One or More Domains Attached to This Environment.
      tags:
      - Environments
      x-cli-name: environments:clear-caches
  /environments/{environmentId}/artifacts/actions/switch:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Deploys an artifact to this environment.
      operationId: postDeployArtifact
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              artifact_id: '123'
            schema:
              properties:
                artifact_id:
                  description: The id of the artifact to deploy.
                  type: string
              required:
              - artifact_id
              type: object
          application/x-www-form-urlencoded:
            example:
              artifact_id: '123'
            schema:
              properties:
                artifact_id:
                  description: The id of the artifact to deploy.
                  type: string
              required:
              - artifact_id
              type: object
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Deploying artifact:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/737a97a4-4c02-47e4-9924-d008de1aa7e5
                      self:
                        href: https://cloud.acquia.com/api/environments/642-99d416c4-88b5-48c0-ae8e-4719007d7b8d/artifacts/actions/switch
                    message: Deploying artifact.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Only ready artifacts can be deployed:
                  value:
                    error: validation_failed
                    message:
                      artifact_id: Only artifacts that are in the 'ready' state can be deployed.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Forbidden
        '403':
          content:
            application/hal+json:
              examples:
                Cannot be deployed on Node.js applications:
                  value:
                    error: forbidden
                    message: Artifacts can only be deployed on Node.js applications.
                Cannot be deployed on managed applications:
                  value:
                    error: forbidden
                    message: Artifacts cannot be deployed on Service Management-enabled applications.
                Cannot be deployed on non-hosted applications:
                  value:
                    error: forbidden
                    message: Artifacts cannot be deployed on non-hosted applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy an artifact to this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Bad Request
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: conflict
                    message: The artifact with ID 123 does not belong to this application and cannot be deployed.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Deploys an Artifact to This Environment.
      tags:
      - Environments
      x-cli-name: environments:artifact-deploy
  /environments/{environmentId}/available-runtimes:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Returns a list of available runtimes.
      operationId: getAvailableRuntimes
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
                  self:
                    href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/available-runtimes
                runtime: php
                versions:
                - '8.2'
                - '8.3'
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_available-runtimes'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Do not exist on non-hosted applications:
                  value:
                    error: not_found
                    message: Available runtimes do not exist on non-hosted applications.
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
                Not found or insufficient permissions:
                  value:
                    error: not_found
                    message: The available runtimes you are trying to access do not exist, or you do not have permission to access them.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Return a List of Runtimes.
      tags:
      - Environments
      x-cli-name: environments:runtime-list
  /environments/{environmentId}/cdn:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    delete:
      description: Disables a CDN for an environment.
      operationId: deleteCdnByEnvironmentId
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ea01b886-40bb-c028-b3de-4353e25fa462
                  parent:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4
                  self:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4/cdn
                message: Deprovisioning Platform CDN.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have sufficient permission to disable CDN for this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Environment not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Not enabled:
                  value:
                    error: conflict
                    message: Platform CDN is not enabled for this environment.
                Not supported:
                  value:
                    error: conflict
                    message: This environment does not support Platform CDN.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Disables a CDN for an Environment.
      tags:
      - Environments
      x-cli-name: environments:cdn-disable
    get:
      description: Returns the CDN status for an environment. The CDN must be enabled for the status to be displayed.
      operationId: getCdnByEnvironmentId
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/cdn
                status: active
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_cdn'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                CDN not found:
                  value:
                    error: not_found
                    message: The CDN you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Returns the CDN Status for an Environment.
      tags:
      - Environments
      x-cli-name: environments:cdn-find
    post:
      description: Enables a CDN for an environment.
      operationId: postCdnByEnvironmentId
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ea01b886-40bb-c028-b3de-4353e25fa462
                  parent:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4
                  self:
                    href: https://cloud.acquia.com/api/environments/8237-8675-93b8-4f45-cf515fec-e016647b53d4/cdn
                message: Provisioning Platform CDN.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have sufficient permission to enable CDN for this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Environment Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Already enabled:
                  value:
                    error: conflict
                    message: Platform CDN is already enabled for this environment.
                Not supported:
                  value:
                    error: conflict
                    message: This environment does not support Platform CDN.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Enables a CDN for an Environment.
      tags:
      - Environments
      x-cli-name: environments:cdn-enable
  /environments/{environmentId}/cloud-actions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Returns a list of Cloud Actions on an environment.
      operationId: getEnvironmentCloudActions
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                      self:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/f668295f-cbba-472d-8b75-c76ab89e553a
                    description: Backs up all environment databases
                    flags:
                      default: true
                      enabled: false
                    id: f668295f-cbba-472d-8b75-c76ab89e553a
                    label: Backup all databases
                    type: pre-deployment
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                      self:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70
                    description: Turns on maintenance mode on the Drupal site
                    flags:
                      default: true
                      enabled: false
                    id: fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70
                    label: Turn on Drupal maintenance mode
                    type: pre-deployment
                  - _links:
                      parent:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                      self:
                        href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/102590e4-382b-4726-8b3f-855d5ca4225d
                    description: Clears all Drupal caches
                    flags:
                      default: false
                      enabled: false
                    id: 102590e4-382b-4726-8b3f-855d5ca4225d
                    label: Clear all Drupal caches
                    type: pre-deployment
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions{?filter}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                  sort:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions{?sort}
                    templated: true
                total: 3
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_cloud-actions'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Cloud Actions unavailable:
                  value:
                    error: not_found
                    message: Cloud Actions are not available for this environment.
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Returns a List of Cloud Actions.
      tags:
      - Environments
      x-cli-name: environments:cloud-actions-find
    put:
      description: Modifies an existing list of Cloud Actions on an environment.
      operationId: putEnvironmentCloudActions
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              cloud-actions:
                9440be70-c042-47ae-9134-e85acbbd6edf: false
                fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70: true
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cloud-actions'
          application/x-www-form-urlencoded:
            example:
              cloud-actions:
                9440be70-c042-47ae-9134-e85acbbd6edf: false
                fb4aa87a-8be2-42c6-bdf0-ef9d09a3de70: true
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cloud-actions'
        required: true
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/42047305-e30c-4c7e-931f-5407ce55a9e9
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                message: Cloud Actions have been updated.
                notification: 42047305-e30c-4c7e-931f-5407ce55a9e9
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Modifies an Existing List of Cloud Actions.
      tags:
      - Environments
      x-cli-name: environments:cloud-actions-update
  /environments/{environmentId}/cloud-actions/actions/disable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Disables Cloud Actions on an environment.
      operationId: postEnvironmentCloudActionsDisable
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/2d49d11c-f81d-46dd-89f2-fb7f2f54335f
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions
                message: Cloud Actions have been disabled.
                notification: 2d49d11c-f81d-46dd-89f2-fb7f2f54335f
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Disables Cloud Actions.
      tags:
      - Environments
      x-cli-name: environments:cloud-actions-disable
  /environments/{environmentId}/cloud-actions/actions/enable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Enables Cloud Actions on an environment.
      operationId: postEnvironmentCloudActionsEnable
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/003e8200-6105-48bc-80a7-6ba378ac8e91
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions/enable
                message: Cloud Actions have been enabled.
                notification: 003e8200-6105-48bc-80a7-6ba378ac8e91
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Enables Cloud Actions.
      tags:
      - Environments
      x-cli-name: environments:cloud-actions-enable
  /environments/{environmentId}/cloud-actions/actions/reset:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Resets Cloud Actions to the default on an environment.
      operationId: postEnvironmentCloudActionsReset
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/e5a15d33-ee5a-4af1-bfeb-4e76b3d33b4b
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/cloud-actions/actions/reset
                message: Cloud Actions have been reset to the default.
                notification: e5a15d33-ee5a-4af1-bfeb-4e76b3d33b4b
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: OK
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to manage Cloud Actions on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Resets Cloud Actions.
      tags:
      - Environments
      x-cli-name: environments:cloud-actions-reset
  /environments/{environmentId}/code:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Deploys code to this environment.
      operationId: postEnvironmentsDeployCode
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              cloud-actions: []
              message: Optional commit message
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_deploy-code'
          application/x-www-form-urlencoded:
            example:
              cloud-actions: []
              message: Optional commit message
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_deploy-code'
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Code being deployed:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/a49eeebb-0929-444a-972c-07b94ce93ab9
                      parent:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
                      self:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/code
                    message: Deploying code.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Can only be deployed to environment within same application:
                  value:
                    error: validation_failed
                    message:
                      source: Code can only be deployed from an environment within the same application.
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Cannot deploy code on Node.js applications:
                  value:
                    error: forbidden
                    message: Code cannot be deployed on Node.js applications.
                Cannot deploy code on non-hosted applications:
                  value:
                    error: forbidden
                    message: Code cannot be deployed on non-hosted applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy code to this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Cannot be deployed to itself:
                  value:
                    error: conflict
                    message: Code cannot be deployed from an environment to itself.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Deploys Code to This Environment.
      tags:
      - Environments
      x-cli-name: environments:code-deploy
  /environments/{environmentId}/code/actions/import:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Imports a site to this environment.
      operationId: postEnvironmentsImportSite
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              name: Drupal 8
              url: http://www.example.com/path/to/site.tar.gz
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_import-site'
          application/x-www-form-urlencoded:
            example:
              name: Drupal 8
              url: http://www.example.com/path/to/site.tar.gz
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_import-site'
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Site is being imported:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/d82a122d-b7b8-46fc-9999-39cb824fac8d
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/code/actions/import
                    message: The site is being imported.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Cannot be imported on application:
                  value:
                    error: validation_failed
                    message:
                      general: Sites cannot be imported on this application.
                File format not supported:
                  value:
                    error: validation_failed
                    message:
                      general: The installation file is not supported. It must be a Drush make file (.make) or a Gzip-compressed tar archive (.tar.gz or .tgz).
                Invalid URL:
                  value:
                    error: validation_failed
                    message:
                      url: Invalid URL format.
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy code to this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: conflict
                    message: Sites cannot be imported on this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Imports a Site to This Environment.
      tags:
      - Environments
      x-cli-name: environments:site-import
  /environments/{environmentId}/code/actions/switch:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Switches code on this environment to a different branch or release tag.
      operationId: postEnvironmentsSwitchCode
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              branch: my-feature-branch
              cloud-actions: []
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_switch-code'
          application/x-www-form-urlencoded:
            example:
              branch: my-feature-branch
              cloud-actions: []
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_switch-code'
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Switching code:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/bfd9a39b-a85e-4de3-8a70-042d1c7e607a
                      self:
                        href: https://cloud.acquia.com/api/environments/861-ddccebef-eb2f-48ce-a92f-e0a16a3a0b53/code/actions/switch
                    message: Switching code.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Branch does not exist:
                  value:
                    error: validation_failed
                    message:
                      branch: The branch or tag "my-feature-branch" does not exist within this environment.
                Invalid branch name:
                  value:
                    error: validation_failed
                    message:
                      branch: The branch name contains invalid characters.
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Cannot deploy code on Node.js applications:
                  value:
                    error: forbidden
                    message: Code cannot be switched on Node.js applications.
                Cannot deploy code on non-hosted applications:
                  value:
                    error: forbidden
                    message: Code cannot be deployed on non-hosted applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to deploy code to this environment.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Switches Code on This Environment to a Different Branch or Release Tag.
      tags:
      - Environments
      x-cli-name: environments:code-switch
  /environments/{environmentId}/crons:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: Returns a list of the cron jobs on an environment.
      operationId: getCronJobsByEnvironmentId
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons/e82b77cc-a9ed-4458-b12c-d87af1a795ad
                    command: /usr/local/bin/drush cc all
                    day_month: '*'
                    day_week: '*'
                    environment:
                      id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    flags:
                      enabled: true
                      on_any_web: false
                      system: false
                    hour: '7'
                    id: e82b77cc-a9ed-4458-b12c-d87af1a795ad
                    label: Clear drush caches
                    minute: '25'
                    month: '*'
                    server:
                      id: '18'
                      name: web-18
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons/8eea655e-71be-4c71-bf5b-9c5c9a5c5b43
                    command: /usr/local/bin/drush -r /var/www/html/qa3/docroot ah-db-backup dbname
                    day_month: '*'
                    day_week: '*'
                    environment:
                      id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    flags:
                      enabled: false
                      on_any_web: false
                      system: true
                    hour: '9'
                    id: 8eea655e-71be-4c71-bf5b-9c5c9a5c5b43
                    label: Run backup
                    minute: '12'
                    month: '*'
                    server:
                      id: '6'
                      name: web-6
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_crons'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Non-hosted application:
                  value:
                    error: not_found
                    message: Cron jobs do not exist on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Environment Cron Jobs.
      tags:
      - Environments
      x-cli-name: environments:cron-job-list
    post:
      description: Creates a scheduled job with cron on an environment.
      operationId: postEnvironmentCrons
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              command: /usr/local/bin/drush cc all
              frequency: '*/30 * * * *'
              label: My New Cron
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_post-cron'
          application/x-www-form-urlencoded:
            example:
              command: /usr/local/bin/drush cc all
              frequency: '*/30 * * * *'
              label: My New Cron
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_post-cron'
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Adding cron:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/01fde3bb-b65f-4629-b761-9072a35e8e50
                      parent:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/936a55fd-29eb-4317-bb6e-ad2a94b24589
                    message: Creating a new cron.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Invalid frequency:
                  value:
                    error: validation_failed
                    message:
                      frequency: The cron frequency does not appear to be valid.
                Label in use:
                  value:
                    error: validation_failed
                    message:
                      name: The label for the cron is already used by another cron. Please choose another label.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to create a cron in this environment.
                Node.js application:
                  value:
                    error: forbidden
                    message: Cron jobs are not available for Node.js applications.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be created on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Cron not found:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be updated.
                Environment not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Creates a Scheduled Job with Cron.
      tags:
      - Environments
      x-cli-name: environments:cron-create
  /environments/{environmentId}/crons/{cronId}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    delete:
      description: Deletes a cron job.
      operationId: postEnvironmentCronDelete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Deleting cron:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/767cee8d-05f6-4761-a3dc-755957dfc9e6
                      parent:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/1891
                    message: Deleting cron.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this cron.
                Node.js application:
                  value:
                    error: forbidden
                    message: Cron jobs are not available for Node.js applications.
                Non hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be deleted on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be removed.
                No environment or permission:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Deletes a Cron Job.
      tags:
      - Environments
      x-cli-name: environments:cron-delete
    get:
      description: Return details about a specific cron job by environment ID and cron job ID.
      operationId: getCron
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _links:
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/crons/e82b77cc-a9ed-4458-b12c-d87af1a795ad
                command: /usr/local/bin/drush cc all
                day_month: '*'
                day_week: '*'
                environment:
                  id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  name: dev
                flags:
                  enabled: true
                  on_any_web: true
                  system: false
                hour: '7'
                id: e82b77cc-a9ed-4458-b12c-d87af1a795ad
                label: Clear drush caches
                minute: '25'
                month: '*'
                server:
                  id: '18'
                  name: web-18
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_cron'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Non-hosted application:
                  value:
                    error: not_found
                    message: Cron jobs do not exist on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Return Details About a Specific Cron Job.
      tags:
      - Environments
      x-cli-name: environments:cron-find
    put:
      description: Modify an existing scheduled job on an environment.
      operationId: putCron
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      requestBody:
        content:
          application/hal+json:
            example:
              command: /usr/local/bin/drush7 cc all
              frequency: '*/5 * * * *'
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cron'
          application/x-www-form-urlencoded:
            example:
              command: /usr/local/bin/drush7 cc all
              frequency: '*/5 * * * *'
            schema:
              $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_put-cron'
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Update cron:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/ba232d96-dfe7-4850-9ca7-02e01a04f58d
                      parent:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons
                      self:
                        href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/2582
                    message: Updating cron.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '403':
          content:
            application/hal+json:
              examples:
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to modify this cron.
                Node.js applications:
                  value:
                    error: forbidden
                    message: Cron jobs are not available for Node.js applications.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs are not available on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be updated.
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Invalid frequency:
                  value:
                    error: validation_failed
                    message:
                      frequency: The cron frequency does not appear to be valid.
                Label in use:
                  value:
                    error: conflict
                    message:
                      name: The label for the cron is already used by another cron. Please choose another label.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Modify an Existing Scheduled Job.
      tags:
      - Environments
      x-cli-name: environments:cron-update
  /environments/{environmentId}/crons/{cronId}/actions/disable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Disables a cron job.
      operationId: postEnvironmentCronDisable
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/7b37b885-8ae4-454b-b8fa-ffaeff54f6a4
                  parent:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/crons/1234/actions
                  self:
                    href: https://cloud.acquia.com/api/environments/123-af127084-204d-430c-a2b7-3a6130269b27/crons/1234/actions/disable
                message: The cron is being disabled.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to modify this cron.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be disabled on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be disabled.
                No cron or permission:
                  value:
                    error: not_found
                    message: The cron you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Action currently unavailable:
                  value:
                    error: conflict
                    message: The cron is already disabled. No action taken.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Disables a Cron Job.
      tags:
      - Environments
      x-cli-name: environments:cron-disable
  /environments/{environmentId}/crons/{cronId}/actions/enable:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      description: Enables a cron job.
      operationId: postEnvironmentCronEnable
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_cron-id'
      responses:
        '202':
          content:
            application/hal+json:
              example:
                _links:
                  notification:
                    href: https://cloud.acquia.com/api/notifications/ceda2e82-54b7-4181-ae97-6a3163b187b8
                  parent:
                    href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/1889/actions
                  self:
                    href: https://cloud.acquia.com/api/environments/286-a027502b-ad6c-a48e-a7e8-aa0def7d25e1/crons/1889/actions/enable
                message: The cron is being enabled.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '403':
          content:
            application/hal+json:
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to modify this cron.
                Non-hosted application:
                  value:
                    error: forbidden
                    message: Cron jobs cannot be enabled on non-hosted applications.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Environment mismatch:
                  value:
                    error: not_found
                    message: The cron does not belong to this environment, and cannot be enabled.
                No cron or permission:
                  value:
                    error: not_found
                    message: The cron you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Action currently unavailable:
                  value:
                    error: conflict
                    message: The cron is already enabled. No action taken.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Conflict
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      summary: Acquia Enables a Cron Job.
      tags:
      - Environments
      x-cli-name: environments:cron-enable
  /environments/{environmentId}/databases:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      description: 'Returns a list of databases.


        Filterable fields:

        * `name`

        * `id`


        Sortable fields:

        * `name`

        * `id`

        '
      operationId: getEnvironmentsDatabases
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          content:
            application/hal+json:
              example:
                _embedded:
                  items:
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases/14
                    db_host: dbhost.example.com
                    environment:
                      id: 24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    flags:
                      default: true
                    id: 14
                    name: my_db
                    password: supersecretdbpassword1!
                    ssh_host: sshhost.example.com
                    url: mysql://my_db_user:supersecretdbpassword1!@dbhost.example.com/my_db
                    user_name: my_db_user
                  - _links:
                      self:
                        href: https://cloud.acquia.com/api/environments/25-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases/15
                    db_host: dbhost.example.com
                    environment:
                      id: 25-a47ac10b-58cc-4372-a567-0e02b2c3d470
                      name: dev
                    flags:
                      default: false
                    id: 15
                    name: my_db_stage
                    password: supersecretdbpassword1!
                    ssh_host: sshhost.example.com
                    url: mysql://my_db_user:supersecretdbpassword1!@dbhost.example.com/my_db_stage
                    user_name: my_db_user
                _links:
                  filter:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470
                  self:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases
                  sort:
                    href: https://cloud.acquia.com/api/environments/24-a47ac10b-58cc-4372-a567-0e02b2c3d470/databases{?sort}
                    templated: true
                total: 2
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_databases'
          description: OK
        '404':
          content:
            application/hal+json:
              examples:
                Do not exist on Node.js applications:
                  value:
                    error: not_available
                    message: Databases do not exist on Node.js applications
                Do not exist on non-hosted applications:
                  value:
                    error: not_found
                    message: Databases do not exist on non-hosted applications.
                Not found:
                  value:
                    error: not_found
                    message: The application you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
      summary: Acquia Returns a List of Databases.
      tags:
      - Environments
      x-cli-name: environments:database-list
    post:
      description: Copies a database to this environment.
      operationId: postEnvironmentsDatabases
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_environment-id'
      requestBody:
        content:
          application/hal+json:
            example:
              name: db_name
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
            schema:
              properties:
                name:
                  description: The name of the database to copy to the selected environment.
                  type: string
                source:
                  description: The ID of the environment to copy the database from.
                  minLength: 38
                  type: string
              required:
              - name
              - source
              type: object
          application/x-www-form-urlencoded:
            example:
              name: db_name
              source: 14-0c7e79ab-1c4a-424e-8446-76ae8be7e851
            schema:
              properties:
                name:
                  description: The name of the database to copy to the selected environment.
                  type: string
                source:
                  description: The ID of the environment to copy the database from.
                  minLength: 38
                  type: string
              required:
              - name
              - source
              type: object
        required: true
      responses:
        '202':
          content:
            application/hal+json:
              examples:
                Database being copied:
                  value:
                    _links:
                      notification:
                        href: https://cloud.acquia.com/api/notifications/a49eeebb-0929-444a-972c-07b94ce93ab9
                      parent:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93
                      self:
                        href: https://cloud.acquia.com/api/environments/24-8fc7d3c6-2a53-11e9-b210-d663bd873d93/databases
                    message: The database is being copied
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
          description: Accepted
        '400':
          content:
            application/hal+json:
              examples:
                Database does not exist in environment:
                  value:
                    error: validation_failed
                    message:
                      database: The database does not exist in this environment.
                Missing parameter:
                  value:
                    error: validation_failed
                    message:
                      name: 'Missing required parameter(s): example_param'
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
          description: Bad Request
        '403':
          content:
            application/hal+json:
              examples:
                Action not available on Node.js applications:
                  value:
                    error: forbidden
                    message: Databases cannot be copied on Node.js applications.
                Action not available on non-hosted applications:
                  value:
                    error: forbidden
                    message: Databases cannot be copied on non-hosted applications.
                Insufficient permissions:
                  value:
                    error: forbidden
                    message: You do not have permission to copy this database.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Forbidden
        '404':
          content:
            application/hal+json:
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The environment you are trying to access does not exist, or you do not have permission to access it.
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
          description: Not Found
        '409':
          content:
            application/hal+json:
              examples:
                Cannot be copied to itself:
                  value:
[...]
