openapi: 3.0.0
info:
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
  description: "Acquia Cloud API\n\n# Compatibility\n\n## Stability\n\nThe response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.\n\nThere are three levels of stability:\n\n* `prototype`: A prototype resource is experimental and major changes are likely. A prototype resource may not reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one week notice\n    * Deprecated resources will remain available for at least one month after deprecation\n* `development`: A resource that is unlikely to change, but is still being worked on, will be marked as in development. These resources are very likely to reach production.\n    * Compatible and emergency changes may be made with no advance notice\n    * Disruptive changes may be made with one month notice\n    * Deprecated resources will remain available for at least six months after deprecation\n* `production`: A production resource will not introduce breaking changes within a version, and any breaking changes between versions will be communicated ahead of time.\n\n## Deprecation\n\nOver time, endpoints may become obsolete and will be removed in the future. These endpoints will be marked with an `X-CloudAPI-Deprecated` header indicating the version in which they were deprecated and the reason for the deprecation. Deprecated endpoints may be removed in the next version of the resource.\n\n## Versioning\n\nAll resource endpoints are versioned within the API. Endpoints that have reached production will not introduce breaking changes between versions. Non-production endpoints will not version for changes.\n\nA specific version of an endpoint can be requested via the `Accept` header:\n\n    Accept: application/hal+json, version=2\n\nIf the version is not specified, the latest version of the endpoint will be used.\n\nStarting with version 3, we will support the current version of an endpoint and the previous version. Version 1 of the API is [provided elsewhere](https://cloudapi.acquia.com/).\n\n## Errors\n\nSome endpoints will return a 503 status when dependent services are unavailable:\n\n    application/hal+json\n    {\n        \"error\": \"system\",\n        \"message\": \"This action is currently unavailable. Please try again later.\"\n    }\n\n## Authentication\n\nAll Acquia Cloud API calls require authentication to work properly.\n\nLearn more: <a href='https://docs.acquia.com/acquia-cloud/develop/api/auth/' target='_blank'>https://docs.acquia.com/acquia-cloud/develop/api/auth/</a>\n\n### Example implementation\n\nAn example PHP script for making authenticated API requests can be found <a href='https://docs.acquia.com/resources/useful-references' target='_blank'>here</a>. This script uses the <a href='https://oauth2-client.thephpleague.com/' target='_blank'>League/oauth2-client</a> library, installed via Composer.\n"
  title: Acquia Cloud API Account Organizations API
  version: 2.0.0
  x-logo:
    altText: Acquia Cloud
    backgroundColor: '#FFFFFF'
    url: assets/cloud-platform.svg
servers: []
tags:
- name: Organizations
  x-displayName: Organizations
paths:
  /organizations:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Return a list of organizations.
      description: 'An organization is a container for some or all of a customer''s subscriptions. The owner of the organization is the

        main billing contact. The owner, along with organization administrators, can set up teams and roles to grant various

        permissions to access the applications within each subscription in the organization. Results can be filtered and

        sorted by name.

        '
      operationId: getOrganizations
      x-cli-name: organizations:list
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organizations'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations
                  sort:
                    href: https://cloud.acquia.com/api/organizations{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/organizations{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/
                _embedded:
                  items:
                  - id: '6'
                    uuid: bfafd31a-83a6-4257-b0ec-afdeff83117a
                    name: Sample organization
                    subscriptions_total: 115
                    admins_total: 2
                    users_total: 82
                    teams_total: 13
                    roles_total: 4
                    owner:
                      uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                      first_name: First
                      last_name: Last
                      picture_url: https://accounts.acquia.com/path/to/image.png
                      username: user.name
                      mail: user.name@example.com
                    flags:
                      federated_authentication: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/bfafd31a-83a6-4257-b0ec-afdeff83117a
                  - id: '4841'
                    uuid: 1992bfe6-c5bf-4a90-810e-a65acab42c6e
                    name: Sample organization 2
                    subscriptions_total: 4
                    admins_total: 0
                    users_total: 0
                    teams_total: 0
                    roles_total: 0
                    owner:
                      uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                      first_name: First
                      last_name: Last
                      picture_url: https://accounts.acquia.com/path/to/image.png
                      username: user.name
                      mail: user.name@example.com
                    flags:
                      federated_authentication: true
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/1992bfe6-c5bf-4a90-810e-a65acab42c6e
                  - id: '4841'
                    uuid: 3ff5a541-64cf-4334-acc7-af70b4374373
                    name: Sample organization 3
                    subscriptions_total: 4
                    admins_total: 0
                    users_total: 0
                    teams_total: 0
                    roles_total: 0
                    owner:
                      uuid: 10be1d3e-f2b4-4d34-855d-321df3938ffd
                      first_name: First
                      last_name: Last
                      picture_url: https://accounts.acquia.com/path/to/image.png
                      username: user.name
                      mail: user.name@example.com
                    flags:
                      federated_authentication: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/3ff5a541-64cf-4334-acc7-af70b4374373
  /organizations/{organizationUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Return details about a specific organization.
      operationId: getOrganizationByUuid
      x-cli-name: organizations:find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: A specific organization.
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization'
              example:
                id: '6'
                uuid: a81c08c6-a02f-4b57-87e3-c3f395a2bb34
                name: Sample organization
                subscriptions_total: 115
                admins_total: 2
                users_total: 82
                teams_total: 13
                roles_total: 4
                owner:
                  uuid: 98d56f28-cff0-421d-9985-58f15cbd6907
                  first_name: First
                  last_name: Last
                  picture_url: https://accounts.acquia.com/path/to/image.png
                  username: user.name
                  mail: user.name@example.com
                flags:
                  federated_authentication: false
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34
                  admin-invites:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/admin-invites
                  admins:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/admins
                  applications:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/applications
                  identity-provider:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/identity-provider
                  members:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/members
                  roles:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/roles
                  subscriptions:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/subscriptions
                  team-invites:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/team-invites
                  teams:
                    href: https://cloud.acquia.com/api/organizations/a81c08c6-a02f-4b57-87e3-c3f395a2bb34/teams
                  parent:
                    href: https://cloud.acquia.com/api/organizations
                _embedded:
                  owner:
                    uuid: 98d56f28-cff0-421d-9985-58f15cbd6907
                    first_name: First
                    last_name: Last
                    picture_url: https://accounts.acquia.com/path/to/image.png
                    username: user.name
                    mail: user.name@example.com
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/users/98d56f28-cff0-421d-9985-58f15cbd6907
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The organization you are trying to access does not exist, or you do not have permission to access it.
    put:
      tags:
      - Organizations
      summary: Renames an organization.
      description: Renames an organization.
      operationId: putOrganization
      x-cli-name: organizations:update
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The new name of the organization.
                  minLength: 1
                  maxLength: 255
            example:
              name: My renamed organization
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The new name of the organization.
                  minLength: 1
                  maxLength: 255
            example:
              name: My renamed organization
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Organization renamed:
                  value:
                    message: Organization renamed.
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Name unavailable:
                  value:
                    error: conflict
                    message:
                      name: The organization owner already has an organization with this name.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not Found or Does Not Exist:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Organizations
      summary: Deletes a specific organization by its UUID.
      description: Deletes a specific organization.
      operationId: deleteOrganization
      x-cli-name: organizations:delete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Deleted organization:
                  value:
                    message: Deleted organization.
        '400':
          description: Bad Request
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Associated subscriptions:
                  value:
                    error: validation_error
                    message:
                      general: This organization has associated subscriptions and cannot be deleted.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No Permission:
                  value:
                    error: forbidden
                    message: You do not have permission to delete this organization.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not Found or No Permission:
                  value:
                    error: not_found
                    message: The organization you are trying to delete does not exist, or you do not have permission to delete it.
                Not Found:
                  value:
                    error: not_found
                    message: The organization with UUID bfafd31a-83a6-4257-b0ec-afdeff83117a does not exist.
  /organizations/{organizationUuid}/actions/change-owner:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Organizations
      summary: Changes the organization owner.
      description: Changes the organization owner.
      operationId: postChangeOrganizationOwner
      x-cli-name: organizations:owner-change
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - user_uuid
              properties:
                user_uuid:
                  type: string
                  description: The uuid of the user you want to make the owner for this organization.
                  format: uuid
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - user_uuid
              properties:
                user_uuid:
                  type: string
                  description: The uuid of the user you want to make the owner for this organization.
                  format: uuid
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Changed owner:
                  value:
                    message: Changed organization owner.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to change the organization owner.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No organization or permission:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
                No organization:
                  value:
                    error: not_found
                    message: The organization with UUID 07557159-264f-45eb-8f70-553b8ed21b16 does not exist.
                No user:
                  value:
                    error: not_found
                    message: The user with UUID 3ba405e6-8621-4557-b78a-7d92baa79783 does not exist.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                New owner must be administrator:
                  value:
                    error: conflict
                    message: The new owner must be an existing administrator of the organization.
  /organizations/{organizationUuid}/actions/leave:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Organizations
      summary: Removes your account from an organization.
      description: Removes your account from an organization.
      operationId: postLeaveOrganization
      x-cli-name: organizations:leave
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Left organization:
                  value:
                    message: Left organization.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No organization or permission:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
                No organization:
                  value:
                    error: not_found
                    message: The organization with UUID 07557159-264f-45eb-8f70-553b8ed21b16 does not exist.
                Not a member:
                  value:
                    error: not_found
                    message: You are not a member of this organization.
                No user:
                  value:
                    error: not_found
                    message: The user with UUID 3ba405e6-8621-4557-b78a-7d92baa79783 does not exist.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Organization owner cannot be removed:
                  value:
                    error: conflict
                    message: The organization owner cannot be removed.
  /organizations/{organizationUuid}/admins:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of organization administrators.
      description: 'Returns a list of organization administrators.


        Filterable fields:

        * `first_name`

        * `last_name`

        * `mail`

        * `username`


        Sortable fields:

        * `first_name`

        * `last_name`

        * `mail`

        * `username`

        '
      operationId: getOrganizationAdmins
      x-cli-name: organizations:admin-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-admin-user-profiles'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/admins
                  parent:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a
                _embedded:
                  items:
                  - uuid: 5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                    first_name: James
                    last_name: Kirk
                    last_login_at: 2017-03-28T13:07:54-0500
                    mail: james.kirk@example.com
                    picture_url: https://accounts.acquia.com/images/users/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3/style/avatar
                    username: james.kirk
                    flags:
                      owner: true
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/admins/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                  - uuid: 30dacb5e-4122-11e1-9eb5-12313928d3c2
                    first_name: Christopher
                    last_name: Pike
                    last_login_at: 2016-03-28T13:07:54-0500
                    mail: chris.pike@example.com
                    picture_url: https://accounts.acquia.com/images/users/30dacb5e-4122-11e1-9eb5-12313928d3c2/style/avatar
                    username: chris.pike
                    flags:
                      owner: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/admins/30dacb5e-4122-11e1-9eb5-12313928d3c2
                  - uuid: 3bcddc3a-52ba-4cce-aaa3-9adf721c1b52
                    first_name: Jonathan
                    last_name: Archer
                    last_login_at: null
                    mail: jonathan.archer@example.com
                    picture_url: https://accounts.acquia.com/images/users/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52/style/avatar
                    username: jonathan.archer
                    flags:
                      owner: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/admins/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/admins/{userUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns the user profile of this organization administrator.
      description: Returns the user profile of this organization administrator.
      operationId: getOrganizationAdmin
      x-cli-name: organizations:admin-find
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-admin-user-profile'
              example:
                uuid: 5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                first_name: James
                last_name: Kirk
                last_login_at: 2017-03-28T13:07:54-0500
                mail: james.kirk@example.com
                picture_url: https://accounts.acquia.com/images/users/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3/style/avatar
                username: james.kirk
                flags:
                  owner: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/admins/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                  parent:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/admins
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission:
                  value:
                    error: forbidden
                    message: You do not have permission to view this administrator.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found or no permission:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Organizations
      summary: Removes the user from the list of administrators for the organization.
      description: Removes the user from the list of administrators for the organization.
      operationId: deleteOrganizationAdmin
      x-cli-name: organizations:admin-delete
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Member removed:
                  value:
                    message: Organization administrator removed.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No organization or permission:
                  value:
                    error: not_found
                    message: The organization you are trying to administer does not exist, or you do not have permission to administer it.
                Organization not found:
                  value:
                    error: not_found
                    message: The organization with UUID 653077de-9349-4822-a104-5e5a8dd2ba05 does not exist.
                User mismatch:
                  value:
                    error: validation_failed
                    message: The user is not an administrator for this organization.
                User not found:
                  value:
                    error: not_found
                    message: The user with UUID 5404f30f-465c-4d94-80f1-61f1d35fde0b does not exist.
  /organizations/{organizationUuid}/admin-invites:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Gets a list of invitations of administrators for this organization.
      description: 'Gets a list of invitations of administrators for this organization.


        Filterable fields:

        * `first_name`

        * `last_name`

        * `permission`


        Sortable fields:

        * `first_name`

        * `last_name`

        * `permission`

        '
      operationId: getOrganizationAdminInvites
      x-cli-name: organizations:admin-invite-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_range'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-admin-invites'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/admin-invites
                  parent:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a
                _embedded:
                  items:
                  - author:
                      uuid: 0f1915e8-cd84-4386-94b8-21926fc376f5
                      username: jane.doe
                      first_name: Jane
                      last_name: Doe
                      mail: jane.doe@example.com
                      picture_url: https://accounts.acquia.com/sites/default/files/avatars/123abc?mail=jane.doe@example.com
                    organization:
                      name: Organization Name
                      uuid: a45a99ce-e1ae-47ac-a570-8189bc4d3347
                    uuid: f921fa88-47e3-49df-9dbb-75950aaca428
                    email: invitee@example.com
                    created_at: '2012-05-15T12:00:00Z'
                    token: dd9ea69fdcb6bee08b31a858b85535ec
                    flags:
                      declined: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/invites/dd9ea69fdcb6bee08b31a858b85535ec
                  - organization:
                      name: Organization Name
                      uuid: a45a99ce-e1ae-47ac-a570-8189bc4d3347
                    author:
                      uuid: 3f694d6e-3aec-4408-a04f-26ac026118d9
                      username: john.doe
                      first_name: John
                      last_name: Doe
                      mail: john.doe@example.com
                      picture_url: https://accounts.acquia.com/sites/default/files/avatars/123abc?mail=john.doe@example.com
                    uuid: 857a8ec9-ac33-428d-8b1c-718d7f6f9aa4
                    email: invitee2@example.com
                    created_at: '2012-05-15T12:00:00Z'
                    token: dd9ea69fdcb6bee08b31a858b85535ed
                    flags:
                      declined: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/invites/dd9ea69fdcb6bee08b31a858b85535ed
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Organizations
      summary: Invites a user to be an administrator in this organization.
      description: Invites a user to be an administrator in this organization.
      operationId: postOrganizationAdminInvite
      x-cli-name: organizations:admin-invite-create
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  description: The email address of the user to invite as an administrator for this organization.
                  minLength: 1
                  maxLength: 255
            example:
              email: invitee@example.com
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  description: The email address of the user to invite as an administrator for this organization.
                  minLength: 1
                  maxLength: 255
            example:
              email: invitee@example.com
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Role created:
                  value:
                    message: Invited organization administrator.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to retrieve does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Missing team:
                  value:
                    error: conflict
                    message: An invitation to test@example.com has already been sent. It was sent on May 6, 2016 - 7:26pm.
  /organizations/{organizationUuid}/applications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of applications that belong to the organization.
      description: 'Returns a list of applications that belong to the organization.


        Filterable fields:

        * `name`

        * `organization_name`


        Sortable fields:

        * `name`

        * `organization_name`

        '
      operationId: getOrganizationApplications
      x-cli-name: organizations:applications-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-applications'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 10
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications
                  sort:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?offset}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481
                _embedded:
                  items:
                  - id: 241643
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample application 1
                    hosting:
                      type: acp
                      id: devcloud:devcloud2
                    subscription:
                      uuid: be3a7975-d62b-4e29-b24f-dfb2a43468e6
                      name: Sample subscription
                    organization:
                      uuid: d4e44648-8780-4105-905c-43a1eb486481
                      name: Sample organization
                    flags:
                      remote_admin: true
                    status: normal
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                    tags:
                    - name: tag-1
                      color: blue
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                    - name: tag-2
                      color: green
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                  - id: 954291
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d471
                    name: Sample application 2
                    hosting:
                      type: free
                      id: devcloud:devcloud2
                    subscription:
                      uuid: be3a7975-d62b-4e29-b24f-dfb2a43468e6
                      name: Sample subscription
                    organization:
                      uuid: d4e44648-8780-4105-905c-43a1eb486481
                      name: Sample organization
                    flags:
                      remote_admin: false
                    status: provisioning
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d471
                    tags:
                    - name: tag-1
                      color: blue
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                    - name: tag-2
                      color: green
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/available-tags:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of all available application tags.
      description: Returns a list of all available application tags.
      operationId: getOrganizationAvailableTags
      x-cli-name: organizations:available-tags-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-available-tags'
              example:
                total: 1
                pagination:
                  total: 1
                  limit: 1
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/available-tags
                  parent:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c
                  limit:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/available-tags{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/available-tags{?offset}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/available-tags{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/available-tags{?filter}
                    templated: true
                _embedded:
                  items:
                  - name: Dev
                    color: orange
                    context:
                      organization:
                        uuids:
                        - 2375e327-3fff-11e3-9170-12313920a02c
                      application:
                        uuids:
                        - 185f07c7-9c4f-407b-8968-67892ebcb38a
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Organizations
      summary: Adds bulk tags to organization resources.
      description: Adds bulk tags to organization resources.
      operationId: postOrganizationAvailableTags
      x-cli-name: organizations:available-tags-create
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - tags
              - context
              properties:
                tags:
                  type: array
                  description: A list of tags to be added.
                  items:
                    type: object
                    description: Tag object.
                    required:
                    - name
                    - color
                    properties:
                      name:
                        type: string
                        description: The label of the tag.
                        minLength: 2
                        maxLength: 16
                      color:
                        type: string
                        description: The color name of the tag found via the GET /api/options/colors endpoint.
                context:
                  type: object
                  description: Context resources of tags. Currently supports `application` identifier and `uuids` type.
                  required:
                  - application
                  properties:
                    application:
                      type: object
                      description: The resource identifier for applications.
                      required:
                      - uuids
                      properties:
                        uuids:
                          type: array
                          description: A list of application uuids as a resource type.
                          items:
                            type: string
                            description: An application UUID.
                            format: uuid
                            minLength: 36
                            maxLength: 36
            example:
              tags:
              - name: tag-name-1
                color: green
              - name: tag-name-2
                color: blue
              context:
                application:
                  uuids:
                  - 96e10bfb-1e4f-41c3-9d07-fffe8aba50d5
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - tags
              - context
              properties:
                tags:
                  type: array
                  description: A list of tags to be added.
                  items:
                    type: object
                    description: Tag object.
                    required:
                    - name
                    - color
                    properties:
                      name:
                        type: string
                        description: The label of the tag.
                        minLength: 2
                        maxLength: 16
                      color:
                        type: string
                        description: The color name of the tag found via the GET /api/options/colors endpoint.
                context:
                  type: object
                  description: Context resources of tags. Currently supports `application` identifier and `uuids` type.
                  required:
                  - application
                  properties:
                    application:
                      type: object
                      description: The resource identifier for applications.
                      required:
                      - uuids
                      properties:
                        uuids:
                          type: array
                          description: A list of application uuids as a resource type.
                          items:
                            type: string
                            description: An application UUID.
                            format: uuid
                            minLength: 36
                            maxLength: 36
            example:
              tags:
              - name: tag-name-1
                color: green
              - name: tag-name-2
                color: blue
              context:
                application:
                  uuids:
                  - 96e10bfb-1e4f-41c3-9d07-fffe8aba50d5
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '201':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Tags have been updated.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/87c7be4d-d65d-4a5c-b36b-d921ca86c590/available-tags
                  notification:
                    href: https://cloud.acquia.com/api/notifications/6992a41d-a953-4ded-ae99-41d2f4d62f69
                  parent:
                    href: https://cloud.acquia.com/api/organizations/87c7be4d-d65d-4a5c-b36b-d921ca86c590
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Forbidden:
                  value:
                    error: forbidden
                    message: You do not have permission to add tags to one or more of the specified resources.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not Found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Organizations
      summary: Deletes bulk tags from organization resources.
      description: Deletes bulk tags from organization resources.
      operationId: deleteOrganizationAvailableTags
      x-cli-name: organizations:available-tags-delete
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - tags
              - context
              properties:
                tags:
                  type: array
                  description: A list of tags to be deleted.
                  items:
                    type: object
                    description: Tag name object.
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        description: The label of the tag.
                        minLength: 2
                        maxLength: 16
                context:
                  type: object
                  description: Context resources of tags. Currently supports `application` identifier and `uuids` type.
                  required:
                  - application
                  properties:
                    application:
                      type: object
                      description: The resource identifier for applications.
                      required:
                      - uuids
                      properties:
                        uuids:
                          type: array
                          description: A list of application uuids as a resource type.
                          items:
                            type: string
                            description: An application UUID.
                            format: uuid
                            minLength: 36
                            maxLength: 36
            example:
              tags:
              - name: tag-name-1
              - name: tag-name-2
              context:
                application:
                  uuids:
                  - 96e10bfb-1e4f-41c3-9d07-fffe8aba50d5
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - tags
              - context
              properties:
                tags:
                  type: array
                  description: A list of tags to be deleted.
                  items:
                    type: object
                    description: Tag object.
                    required:
                    - name
                    properties:
                      name:
                        type: string
                        description: The label of the tag.
                        minLength: 2
                        maxLength: 16
                context:
                  type: object
                  description: Context resources of tags. Currently supports `application` identifier and `uuids` type.
                  required:
                  - application
                  properties:
                    application:
                      type: object
                      description: The resource identifier for applications.
                      required:
                      - uuids
                      properties:
                        uuids:
                          type: array
                          description: A list of application uuids as a resource type.
                          items:
                            type: string
                            description: An application UUID.
                            format: uuid
                            minLength: 36
                            maxLength: 36
            example:
              tags:
              - name: tag-name-1
              - name: tag-name-2
              context:
                application:
                  uuids:
                  - 96e10bfb-1e4f-41c3-9d07-fffe8aba50d5
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message-with-links'
              example:
                message: Tags have been updated.
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/1be8dcdf-e4fd-4a89-9d64-9e4486272c7a/available-tags
                  parent:
                    href: https://cloud.acquia.com/api/organizations/1be8dcdf-e4fd-4a89-9d64-9e4486272c7a
                  notification:
                    href: https://cloud.acquia.com/api/notifications/154f88be-b9c0-47c4-b0cb-83eb6aebb7b7
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Forbidden:
                  value:
                    error: forbidden
                    message: You do not have permission to remove tags from one or more of the specified resources.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not Found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/identity-provider:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns an identity provider for an organization.
      description: Returns an identity provider for an organization.
      operationId: getOrganizationIdentityProvider
      x-cli-name: organizations:identity-provider-find
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_identity-provider'
              example:
                uuid: 1bc5dbb4-6d59-403b-afc7-777e520aaa40
                label: Test identity provider
                idp_entity_id: https://idp.example.com/saml
                sp_entity_id: https://sp.example.com/saml
                sso_url: https://example.com/sso
                certificate: '-----BEGIN CERTIFICATE----- ... -----END CERTIFICATE-----'
                status: enabled
                _links:
                  self:
                    href: https://cloud.acquia.com/api/identity-providers/1bc5dbb4-6d59-403b-afc7-777e520aaa40
                  parent:
                    href: https://cloud.acquia.com/api/identity-providers
                  acs:
                    href: https://accounts.acquia.com/api/auth/saml/acs/1bc5dbb4-6d59-403b-afc7-777e520aaa40
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The identity provider you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/members:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of all organization members.
      description: 'Returns a list of all organization members, from all teams in this organization.


        Filterable fields:

        * `first_name`

        * `last_name`

        * `permission`


        Sortable fields:

        * `first_name`

        * `last_name`

        * `permission`

        '
      operationId: getOrganizationMembers
      x-cli-name: organizations:members-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-members'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/members
                  sort:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/members{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/members{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a/members{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/organizations/3c9ea553-3216-11e3-9170-12313920a23a
                _embedded:
                  items:
                  - uuid: 5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                    first_name: James
                    last_name: Kirk
                    last_login_at: 2017-03-28T13:07:54-0500
                    mail: james.kirk@example.com
                    picture_url: https://accounts.acquia.com/images/users/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3/style/avatar
                    username: james.kirk
                    teams:
                    - name: Team Name 1
                      uuid: 26c4af83-545b-45cb-b165-d537adc9e0b4
                      roles:
                      - uuid: 5f7da0a9-9ff0-4db8-802e-9d2b9969efc2
                        name: Senior Developer
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/members/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                  - uuid: 30dacb5e-4122-11e1-9eb5-12313928d3c2
                    first_name: Christopher
                    last_name: Pike
                    mail: chris.pike@example.com
                    last_login_at: 2018-02-19T13:07:54-0500
                    picture_url: https://accounts.acquia.com/images/users/30dacb5e-4122-11e1-9eb5-12313928d3c2/style/avatar
                    username: chris.pike
                    teams:
                    - name: Team Name 2
                      uuid: af55adc6-14d4-4f10-92d7-99c673549935
                      roles:
                      - uuid: d33cd9ff-281d-4bcf-9f89-b10b249caa35
                        name: Developer
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/members/30dacb5e-4122-11e1-9eb5-12313928d3c2
                  - uuid: 3bcddc3a-52ba-4cce-aaa3-9adf721c1b52
                    first_name: Jonathan
                    last_name: Archer
                    last_login_at: null
                    mail: jonathan.archer@example.com
                    picture_url: https://accounts.acquia.com/images/users/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52/style/avatar
                    username: jonathan.archer
                    teams:
                    - name: Team Name 1
                      uuid: 26c4af83-545b-45cb-b165-d537adc9e0b4
                      roles:
                      - uuid: 312c0121-906b-4498-8402-7b479172768c
                        name: Team Lead
                    - name: Team Name 2
                      uuid: af55adc6-14d4-4f10-92d7-99c673549935
                      roles:
                      - uuid: d33cd9ff-281d-4bcf-9f89-b10b249caa35
                        name: Developer
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/members/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/members/{userUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      description: Returns the user profile of this organization member.
      summary: Returns the user profile of this organization member.
      operationId: getOrganizationMember
      x-cli-name: organizations:member-find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-user-profile'
              example:
                uuid: 3bcddc3a-52ba-4cce-aaa3-9adf721c1b52
                first_name: Jonathan
                last_name: Archer
                last_login_at: 2017-03-28T13:07:54-0500
                mail: jonathan.archer@example.com
                picture_url: https://accounts.acquia.com/images/users/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52/style/avatar
                username: jonathan.archer
                teams:
                - name: Team Name 1
                  uuid: 7325ba1a-5bfd-4341-9b23-55ffada3c131
                  roles:
                  - uuid: 312c0121-906b-4498-8402-7b479172768c
                    name: Team Lead
                - name: Team Name 2
                  uuid: bca134fb-55d4-41ec-9558-d14531fa9899
                  roles:
                  - uuid: d33cd9ff-281d-4bcf-9f89-b10b249caa35
                    name: Developer
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/members/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52
                  parent:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/members
                  applications:
                    href: https://cloud.acquia.com/api/organizations/2375e327-3fff-11e3-9170-12313920a02c/members/3bcddc3a-52ba-4cce-aaa3-9adf721c1b52/applications
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: forbidden
                    message: You do not have permission to view this member.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No organization or permission:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    delete:
      tags:
      - Organizations
      summary: Removes the member from the organization.
      description: Removes the member from the organization.
      operationId: postOrganizationMemberDelete
      x-cli-name: organizations:member-delete
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Member removed:
                  value:
                    message: Organization member removed.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No organization or permission:
                  value:
                    error: not_found
                    message: The organization you are trying to administer does not exist, or you do not have permission to administer it.
                Organization not found:
                  value:
                    error: not_found
                    message: The organization with UUID 653077de-9349-4822-a104-5e5a8dd2ba05 does not exist.
                User not found:
                  value:
                    error: not_found
                    message: The user with UUID 5404f30f-465c-4d94-80f1-61f1d35fde0b does not exist.
                User mismatch:
                  value:
                    error: not_found
                    message: The user is not a member of this organization.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Application mismatch:
                  value:
                    error: conflict
                    message: The organization owner cannot be removed.
  /organizations/{organizationUuid}/members/{userUuid}/applications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of applications that an organization member has access to.
      description: Returns a list of applications that an organization member has access to.
      operationId: getOrganizationMemberApplications
      x-cli-name: organizations:member-application-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_user-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_applications'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/members/48b8085f-defd-423b-96ca-0f634bcf07de/applications
                  sort:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/members/48b8085f-defd-423b-96ca-0f634bcf07de/applications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/members/48b8085f-defd-423b-96ca-0f634bcf07de/applications{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/members/48b8085f-defd-423b-96ca-0f634bcf07de/applications{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/members/48b8085f-defd-423b-96ca-0f634bcf07de
                _embedded:
                  items:
                  - id: 241643
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample application 1
                    hosting:
                      type: acp
                      id: devcloud:devcloud2
                    subscription:
                      uuid: be3a7975-d62b-4e29-b24f-dfb2a43468e6
                      name: Sample subscription
                    organization:
                      uuid: d4e44648-8780-4105-905c-43a1eb486481
                      name: Sample organization
                    flags:
                      remote_admin: true
                    status: normal
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                  - id: 954291
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d471
                    name: Sample application 2
                    hosting:
                      type: free
                      id: devcloud:devcloud2
                    subscription:
                      uuid: be3a7975-d62b-4e29-b24f-dfb2a43468e6
                      name: Sample subscription
                    organization:
                      uuid: d4e44648-8780-4105-905c-43a1eb486481
                      name: Sample organization
                    flags:
                      remote_admin: false
                    status: provisioning
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d471
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found or no permission:
                  value:
                    error: forbidden
                    message: You do not have permission to view the applications this member has access to.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/notifications:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of notifications associated with this organization by its UUID.
      description: 'Returns a list of notifications associated with this organization. A notification represents an item of work to be done, initiated by someone (typically the current user) associated with the organization.


        Filterable fields:

        * `event`

        * `label`

        * `description`

        * `status`

        * `author`

        * `created_at`

        * `completed_at`


        Sortable fields:

        * `event`

        * `label`

        * `description`

        * `status`

        * `author`

        * `created_at`

        * `completed_at`

        '
      operationId: getOrganizationNotifications
      x-cli-name: organizations:notification-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      responses:
        '200':
          description: OK
          content:
            organization/json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organizations-notifications'
              example:
                total: 1
                pagination:
                  total: 1
                  limit: 1
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d/notifications
                  parent:
                    href: https://cloud.acquia.com/api/organizations/2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d
                  limit:
                    href: https://cloud.acquia.com/api/organizations/2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d/notifications{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/organizations/2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d/notifications{?offset}
                    templated: true
                  sort:
                    href: https://cloud.acquia.com/api/organizations/2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d/notifications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d/notifications{?filter}
                    templated: true
                _embedded:
                  items:
                  - uuid: 5c5e848b-296a-4c64-94aa-5a97d99da189
                    event: TeamCreated
                    label: Team created
                    description: Created a new team project anomaly.
                    created_at: '2022-12-08T15:42:37+00:00'
                    completed_at: '2022-12-08T15:42:37+00:00'
                    status: completed
                    progress: 100
                    context:
                      team:
                        new_name: project anomaly
                        uuids:
                        - 4002d7cb-9c89-42f8-8515-4cfc3eb03230
                      author:
                        uuid: 08a44409-568f-46f6-8038-4f30e19e3eb2
                        actual_uuid: 08a44409-568f-46f6-8038-4f30e19e3eb2
                      user:
                        uuids:
                        - 08a44409-568f-46f6-8038-4f30e19e3eb2
                      organization:
                        uuids:
                        - 2be7b4e8-6e9b-4314-8ad5-6a0b3f54c38d
                      role:
                        uuids:
                        - 8095f9db-5f02-4338-9e90-7772715b5345
                        - b9f366a5-210f-41ad-b99f-feaa61e71394
                        - ddd251c6-5095-4cdb-8902-b3839edfffb4
                        - 3c4b2884-60c8-4ca3-9be5-b01c0159658c
                        - 3cb1519a-20be-4f69-8a5f-4037dff0acd1
                        - 1dd0f44b-6118-4c95-a3a2-a9deea32b2b0
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/notifications/5c5e848b-296a-4c64-94aa-5a97d99da189
                      parent:
                        href: https://cloud.acquia.com/api/notifications
                    _embedded:
                      author:
                        uuid: 08a44409-568f-46f6-8038-4f30e19e3eb2
                        first_name: Thomas
                        last_name: Anderson
                        last_login_at: '2022-11-30T16:22:48+00:00'
                        created_at: '2019-10-15T20:22:19+00:00'
                        email: thomas.a.anderson@acquia.com
                        picture_url: https://accounts.acquia.com/images/users/08a44409-568f-46f6-8038-4f30e19e3eb2/style/avatar
                        username: thomas.a.anderson@acquia.com
        '404':
          description: Not Found
          content:
            organization/json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
  /organizations/{organizationUuid}/roles:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of all the canonical roles within the organization.
      description: 'Returns a list of all the canonical roles within the organization.


        Filterable fields:

        * `name`

        * `edited_at''


        Sortable fields:

        * `name`

        * `edited_at`

        '
      operationId: getOrganizationRoles
      x-cli-name: organizations:roles-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_range'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_roles'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baede/roles
                  sort:
                    href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baedc/roles{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baedc/roles{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baedc/roles{?limit}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baede
                _embedded:
                  items:
                  - uuid: 312c0121-906b-4498-8402-7b479172768c
                    name: Team Lead
                    description: Some details about team lead.
                    permissions:
                    - name: administer team
                      label: Add or remove a user of a team
                      description: Granting this permission will give any user with this role full permissions on this team.
                      group_label: Administration
                      flags:
                        deprecated: false
                    organization:
                      uuid: 065f4d9e-efbf-4b0e-8cf6-42fa432baede
                      name: Example Organization
                    last_edited:
                      edited_at: '2011-03-28T13:09:41-04:00'
                      user:
                        uuid: aaaa1234-11e2-c374-6954-6931d150b259
                        first_name: Jane
                        last_name: Doe
                        mail: jane.doe@example.com
                        picture_url: https://accounts.acquia.com/sites/default/files/avatars/123abc?mail=jane.doe@example.com
                        username: jane.doe
                    flags:
                      default: true
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baede/roles/312c0121-906b-4498-8402-7b479172768c
                  - uuid: 5f7da0a9-9ff0-4db8-802e-9d2b9969efc2
                    name: Senior Developer
                    description: Some details about senior developer.
                    permissions:
                    - name: access cloud api
                      label: Access the Cloud API
                      description: Grants the ability to use the API and bypass all other permissions via command line tools.
                      group_label: Administration
                      flags:
                        deprecated: false
                    - name: administer team
                      label: Add or remove a user of a team
                      description: Granting this permission will give any user with this role full permissions on this team.
                      group_label: Administration
                      flags:
                        deprecated: false
                    organization:
                      uuid: 065f4d9e-efbf-4b0e-8cf6-42fa432baede
                      name: Example Organization
                    last_edited:
                      edited_at: '2011-03-28T13:09:41-04:00'
                      user:
                        uuid: 6661357e-f562-4b77-8de9-60b4bf83e01b
                        first_name: Acquia
                        last_name: Support
                        mail: support@acquia.com
                        picture_url: null
                        username: support.acquia
                    flags:
                      default: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baede/roles/5f7da0a9-9ff0-4db8-802e-9d2b9969efc2
                  - uuid: d33cd9ff-281d-4bcf-9f89-b10b249caa35
                    name: Developer
                    description: Some details about developer.
                    permissions:
                    - name: access cloud api
                      label: Access the Cloud API
                      description: Grants the ability to use the API and bypass all other permissions via command line tools.
                      group_label: Administration
                      flags:
                        deprecated: false
                    organization:
                      uuid: 065f4d9e-efbf-4b0e-8cf6-42fa432baede
                      name: Example Organization
                    last_edited:
                      edited_at: '2011-03-28T13:09:41-04:00'
                      user:
                        uuid: bbbb1234-11e2-c374-6954-6931d150b259
                        first_name: John
                        last_name: Doe
                        mail: john.doe@example.com
                        picture_url: https://accounts.acquia.com/sites/default/files/avatars/123abc?mail=john.doe@example.com
                        username: john.doe
                    flags:
                      default: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/organizations/065f4d9e-efbf-4b0e-8cf6-42fa432baede/roles/5f7da0a9-9ff0-4db8-802e-9d2b9969efc2
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to access does not exist, or you do not have permission to access it.
    post:
      tags:
      - Organizations
      summary: Creates a role.
      description: Creates a role.
      operationId: postOrganizationRoles
      x-cli-name: organizations:role-create
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      requestBody:
        required: true
        content:
          application/hal+json:
            schema:
              type: object
              required:
              - name
              - permissions
              properties:
                name:
                  type: string
                  description: The name of the new role to create.
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: The description of the new role.
                  minLength: 1
                  maxLength: 255
                permissions:
                  type: array
                  description: An array of permissions to grant to this role.
                  items:
                    type: string
                    description: A permission.
            example:
              name: My new role
              description: My role description
              permissions:
              - permission 1
              - permission 2
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              - permissions
              properties:
                name:
                  type: string
                  description: The name of the new role to create.
                  minLength: 1
                  maxLength: 255
                description:
                  type: string
                  description: The description of the new role.
                  minLength: 1
                  maxLength: 255
                permissions:
                  type: array
                  description: An array of permissions to grant to this role.
                  items:
                    type: string
                    description: A permission.
            example:
              name: My new role
              description: My role description
              permissions:
              - permission 1
              - permission 2
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Role created:
                  value:
                    message: Role created.
        '400':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_validation-error'
              examples:
                Invalid permission:
                  value:
                    error: validation_failed
                    message:
                      permissions: The permission 'permission 1' is not a valid permission
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Not found:
                  value:
                    error: not_found
                    message: The organization you are trying to retrieve does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Role already exists:
                  value:
                    error: conflict
                    message: The name for this role is already being used within this organization.
                Missing team:
                  value:
                    error: conflict
                    message: An organization must have at least one team in order to create new roles.
  /organizations/{organizationUuid}/subscriptions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Organizations
      summary: Returns a list of subscriptions that belong to the organization.
      description: 'Returns a list of subscriptions that belong to the organization.


        Filterable fields:

        * `name`


        Sortable fields:

        * `name`

        '
      operationId: getOrganizationSubscriptions
      x-cli-name: organizations:subscriptions-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_organization-uuid'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_sort'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_filter'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_limit'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_offset'
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_range'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_applications'
              example:
                total: 2
                pagination:
                  total: 2
                  limit: 10
                  offset: 0
                _links:
                  self:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications
                  sort:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?sort}
                    templated: true
                  filter:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?filter}
                    templated: true
                  limit:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?limit}
                    templated: true
                  offset:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481/applications{?offset}
                    templated: true
                  parent:
                    href: https://cloud.acquia.com/api/organizations/d4e44648-8780-4105-905c-43a1eb486481
                _embedded:
                  items:
                  - id: 241643
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d470
                    name: Sample application 1
                    hosting:
                      type: acp
                      id: devcloud:devcloud2
                    subscription:
                      uuid: be3a7975-d62b-4e29-b24f-dfb2a43468e6
                      name: Sample subscription
                    organization:
                      uuid: d4e44648-8780-4105-905c-43a1eb486481
                      name: Sample organization
                    flags:
                      remote_admin: true
                    status: normal
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d470
                    tags:
                    - name: tag-1
                      color: blue
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                    - name: tag-2
                      color: green
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-2
                        parent:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags
                  - id: 954291
                    uuid: a47ac10b-58cc-4372-a567-0e02b2c3d471
                    name: Sample application 2
                    hosting:
                      type: free
                      id: devcloud:devcloud2
                    subscription:
                      uuid: be3a7975-d62b-4e29-b24f-dfb2a43468e6
                      name: Sample subscription
                    organization:
                      uuid: d4e44648-8780-4105-905c-43a1eb486481
                      name: Sample organization
                    flags:
                      remote_admin: false
                    status: provisioning
                    type: drupal
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/applications/a47ac10b-58cc-4372-a567-0e02b2c3d471
                    tags:
                    - name: tag-1
                      color: blue
                      _links:
                        self:
                          href: https://cloud.acquia.com/api/applications/957bec0e-30c1-4971-ae2a-2ec4071cdd4e/tags/tag-1
[...]
