openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Messages API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Messages
  x-displayName: Messages
paths:
  /messages/{messageUuid}/actions/dismiss:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Messages
      summary: Dismisses a message
      description: Dismisses a message.
      operationId: postDismissMessage
      x-cli-name: messages:dismiss
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_message-uuid'
      responses:
        '202':
          description: Accepted
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Site revoked:
                  value:
                    message: Message dismissed.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No permission or message:
                  value:
                    error: forbidden
                    message: The message you are trying to dismiss does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Message already dismissed:
                  value:
                    error: conflict
                    message: This message has already been dismissed.
                Message cannot be dismissed:
                  value:
                    error: conflict
                    message: This message cannot be dismissed.
  /messages/{messageUuid}/actions/follow:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Messages
      summary: Follows an in-product message link
      description: Follows an in-product message link.
      operationId: getMessageFollow
      x-cli-name: messages:follow
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_message-uuid'
      responses:
        '301':
          description: Moved Permanently
          headers:
            Location:
              schema:
                type: string
              description: The redirect destination URL.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No application or permission:
                  value:
                    error: not_found
                    message: The message you are trying to follow the link for does not exist, or you do not have permission to access it.
components:
  parameters:
    Acquia_Cloud_API_Documentation_message-uuid:
      name: messageUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
  schemas:
    Acquia_Cloud_API_Documentation_message:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A simple message returned from the response.
    Acquia_Cloud_API_Documentation_error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      type: oauth2
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          tokenUrl: https://accounts.acquia.com/api/token
          scopes: {}
    Codebase_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    MEO_Environment_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    Site_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
