openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Invite API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Invite
  x-displayName: Invite
paths:
  /invites/{token}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Invite
      summary: Returns details about an invitation
      description: Returns details about an invitation.
      operationId: getInviteByToken
      x-cli-name: invites:find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_invite'
              example:
                applications:
                - uuid: 7659fe2a-7322-4132-a4b7-0795f1246a54
                  name: App 1
                - uuid: 23a99f37-0eb8-450e-a5bf-e69c48e25e86
                  name: App 2
                author:
                  uuid: 2429bf71-9145-4266-b532-1f4e3beaed55
                  first_name: Joe
                  last_name: Smith
                  last_login_at: '2019-01-30T08:58:07-05:00'
                  created_at: '2015-08-14T17:37:23-04:00'
                  mail: joe.smith@example.com
                  picture_url: https://accounts.acquia.com/images/users/2429bf71-9145-4266-b532-1f4e3beaed55/style/avatar
                  username: joe.smith
                organization:
                  uuid: d258dc23-90c5-447c-b550-981b469796d9
                  name: My Organization
                roles:
                - uuid: d258dc23-90c5-447c-b550-981b469796d9
                  name: My Role
                team:
                  uuid: d258dc23-90c5-447c-b550-981b469796d9
                  name: My Team
                uuid: d258dc23-90c5-447c-b550-981b469796d9
                email: joe.smith@example.com
                created_at: '2019-01-30T09:12:15-05:00'
                token: 189d2089-c7f1-418c-a437-9676f4edb1b3
                flags:
                  declined: false
                _links:
                  self:
                    href: https://cloud.acquia.com/api/invites/189d2089-c7f1-418c-a437-9676f4edb1b3
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No invite or permission:
                  value:
                    error: unauthorized
                    message: You do not have permission to access this resource.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No invite or permission:
                  value:
                    error: not_found
                    message: The invite you are trying to view does not exist, or you do not have permission to view it.
    delete:
      tags:
      - Invite
      summary: Cancels an invitation
      description: Cancels an invitation.
      operationId: postInviteCancel
      x-cli-name: invites:cancel
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Cancelled invite:
                  value:
                    message: Cancelled invite.
        '403':
          description: Forbidden
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No invite or permission:
                  value:
                    error: unauthorized
                    message: You do not have permission to access this resource.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                No invite or permission:
                  value:
                    error: not_found
                    message: The invite you are trying to view does not exist, or you do not have permission to view it.
  /invites/{token}/actions/accept:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Invite
      summary: Accepts an invite
      description: Accepts an invite.
      operationId: postInviteAcceptByToken
      x-cli-name: invites:accept
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Accepted invite:
                  value:
                    message: The invite has been accepted.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Validation failed:
                  value:
                    error: not_found
                    message: The invite you are trying to accept does not exist, or you do not have permission to accept it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Already accepted:
                  value:
                    error: conflict
                    message: This invite has already been accepted.
  /invites/{token}/actions/decline:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Invite
      summary: Declines an invite
      description: Declines an invite.
      operationId: postInviteDecline
      x-cli-name: invites:decline
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Declined invite:
                  value:
                    message: The invite has been declined.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Validation failed:
                  value:
                    error: not_found
                    message: The invite you are trying to decline does not exist, or you do not have permission to decline it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Already declined:
                  value:
                    error: conflict
                    message: This invite has already been declined.
  /invites/{token}/actions/resend:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Invite
      summary: Resend an invite
      description: Resend an invite.
      operationId: postInviteResend
      x-cli-name: invites:resend
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_token'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              examples:
                Declined invite:
                  value:
                    message: Resent invitation.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Validation failed:
                  value:
                    error: not_found
                    message: The invite you are trying to resent does not exist, or you do not have permission to resent it.
components:
  schemas:
    Acquia_Cloud_API_Documentation_invite:
      type: object
      required:
      - uuid
      - email
      - created_at
      - token
      - flags
      - author
      - _links
      description: Details an invite.
      properties:
        uuid:
          type: string
          description: The unique identifier of the Invite.
          format: uuid
        email:
          type: string
          description: The invitee email address.
          format: email
        created_at:
          type: string
          description: The invite creation time.
          format: date-time
        token:
          type: string
          description: The invite token.
        flags:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_invite-flags'
        author:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user-stub'
        organization:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_organization-stub'
        team:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_team-stub'
        applications:
          type: array
          description: List of applications the invite will grant the invitee.
          items:
            $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_application-stub'
        roles:
          type: array
          description: List of roles the invite will grant the invitee.
          items:
            $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_role-stub'
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_user-stub:
      type: object
      required:
      - uuid
      - first_name
      - last_name
      - mail
      - picture_url
      - username
      properties:
        uuid:
          type: string
          format: uuid
          description: The user's UUID.
        first_name:
          type: string
          description: The user's first name.
        last_name:
          type: string
          description: The user's last name.
        mail:
          type: string
          format: email
          description: The user's email address.
        picture_url:
          type:
          - string
          - 'null'
          format: uri
          description: The URI for the user's picture.
        username:
          type: string
          description: The user's internal user name.
    Acquia_Cloud_API_Documentation_error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
    Acquia_Cloud_API_Documentation_message:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A simple message returned from the response.
    Acquia_Cloud_API_Documentation_invite-flags:
      type: object
      description: An array of various flags providing more context for the Invite response object.
      properties:
        declined:
          type: boolean
    Acquia_Cloud_API_Documentation_role-stub:
      type: object
      required:
      - uuid
      - name
      properties:
        uuid:
          type: string
          description: The role unique identifier.
          format: uuid
        name:
          type: string
          description: The role name.
    Acquia_Cloud_API_Documentation_organization-stub:
      type: object
      required:
      - uuid
      - name
      properties:
        uuid:
          type: string
          format: uuid
          description: The organization's UUID.
        name:
          type: string
          description: The human-readable organization name.
    Acquia_Cloud_API_Documentation_links:
      type: object
      required:
      - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
          - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Acquia_Cloud_API_Documentation_team-stub:
      type: object
      required:
      - uuid
      - name
      properties:
        uuid:
          type: string
          description: The team unique identifier.
          format: uuid
        name:
          type: string
          description: The team name.
    Acquia_Cloud_API_Documentation_application-stub:
      type: object
      required:
      - name
      - uuid
      properties:
        name:
          type: string
          description: The name of the application.
        uuid:
          type: string
          format: uuid
          description: The application UUID.
  parameters:
    Acquia_Cloud_API_Documentation_token:
      name: token
      in: path
      description: The token identifier.
      required: true
      schema:
        type: string
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      type: oauth2
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          tokenUrl: https://accounts.acquia.com/api/token
          scopes: {}
    Codebase_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    MEO_Environment_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    Site_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
