openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Agreements API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Agreements
  x-displayName: Agreements
paths:
  /agreements:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Agreements
      summary: Return a list of agreements
      description: Returns a list of agreements you have been invited to accept or decline.
      operationId: getAgreements
      x-cli-name: agreements:list
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_agreements'
              example:
                total: 3
                _links:
                  self:
                    href: https://cloud.acquia.com/api/agreements
                  parent:
                    href: https://cloud.acquia.com/api/
                _embedded:
                  items:
                  - uuid: efc62c93-8203-4e8b-a8ff-4d18b780d4ab
                    document_uuid: f25d0284-f25f-4e59-9c48-7c39ae57b400
                    title: Agreement Title
                    body: <p>Agreement body and text.</p>
                    status: accepted
                    created_at: '2017-01-23T12:00:00Z'
                    updated_at: '2017-01-27T12:00:00Z'
                    actioned_by:
                      uuid: 5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                      first_name: James
                      last_name: Kirk
                      mail: james.kirk@example.com
                      picture_url: https://accounts.acquia.com/sites/default/avatars/456def?mail=james.kirk@example.com
                      username: james.kirk
                    reference:
                      uuid: 9ab09eba-290d-4ed9-be4d-fa194ab92f39
                      name: Acquia Subscription
                      type: subscription
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/agreements/efc62c93-8203-4e8b-a8ff-4d18b780d4ab
                  - uuid: b63fff64-6c18-4899-acba-00ec6c8930e9
                    document_uuid: 20370a6e-9b82-4580-8769-886f5f6c8693
                    title: Another Agreement
                    body: <p>This is the body and text of another agreement.</p>
                    status: declined
                    created_at: '2017-02-23T12:00:00Z'
                    updated_at: '2017-02-27T12:00:00Z'
                    actioned_by:
                      uuid: 550e8400-e29b-41d4-a716-446655440000
                      first_name: Jane
                      last_name: Doe
                      mail: jane.doe@example.com
                      picture_url: https://accounts.acquia.com/sites/default/avatars/123abc?mail=jane.doe@example.com
                      username: jane.doe
                    reference:
                      uuid: 9ab09eba-290d-4ed9-be4d-fa194ab92f39
                      name: Acquia Subscription
                      type: subscription
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/agreements/b63fff64-6c18-4899-acba-00ec6c8930e9
                  - uuid: a8777880-8924-494a-abe2-62cc092df269
                    document_uuid: 466c62ef-5ced-400d-b328-d47e745b50a8
                    title: A Third Agreement
                    body: <p>This is the body and text of one more agreement.</p>
                    status: pending
                    created_at: '2017-02-23T12:00:00Z'
                    updated_at: null
                    actioned_by: null
                    reference:
                      uuid: 9ab09eba-290d-4ed9-be4d-fa194ab92f39
                      name: Acquia Subscription
                      type: subscription
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/agreements/a8777880-8924-494a-abe2-62cc092df269
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The agreement you are trying to access does not exist, or you do not have permission to access it.
  /agreements/{agreementUuid}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Agreements
      summary: Return a specific agreement by a provided UUID
      description: Return a specific agreement.
      operationId: getAgreement
      x-cli-name: agreements:find
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_agreement-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_agreement'
              example:
                uuid: efc62c93-8203-4e8b-a8ff-4d18b780d4ab
                document_uuid: f25d0284-f25f-4e59-9c48-7c39ae57b400
                title: Agreement Title
                body: <p>Agreement body and text.</p>
                status: accepted
                created_at: '2017-01-23T12:00:00Z'
                updated_at: '2017-01-27T12:00:00Z'
                actioned_by:
                  uuid: 5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                  first_name: James
                  last_name: Kirk
                  mail: james.kirk@example.com
                  picture_url: https://accounts.acquia.com/sites/default/avatars/456def?mail=james.kirk@example.com
                  username: james.kirk
                reference:
                  uuid: 9ab09eba-290d-4ed9-be4d-fa194ab92f39
                  name: Acquia Subscription
                  type: subscription
                _links:
                  self:
                    href: https://cloud.acquia.com/api/agreements/efc62c93-8203-4e8b-a8ff-4d18b780d4ab
                  invitees:
                    href: https://cloud.acquia.com/api/agreements/efc62c93-8203-4e8b-a8ff-4d18b780d4ab/invitees
                  subscription:
                    href: https://cloud.acquia.com/api/subscriptions/9ab09eba-290d-4ed9-be4d-fa194ab92f39
                  actioned_by:
                    href: https://cloud.acquia.com/api/users/5aa902c5-f1c1-6c94-edfa-86bc58d0dce3
                  parent:
                    href: https://cloud.acquia.com/api/agreements
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The agreement you are trying to access does not exist, or you do not have permission to access it.
  /agreements/{agreementUuid}/actions/accept:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Agreements
      summary: Accepts a legal agreement by UUID
      description: Accepts a legal agreement.
      operationId: postAcceptAgreement
      x-cli-name: agreements:accept
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_agreement-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              example:
                message: The agreement has been accepted.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The agreement you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Already acted upon:
                  value:
                    error: conflict
                    message: This agreement has already been acted upon.
  /agreements/{agreementUuid}/actions/decline:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    post:
      tags:
      - Agreements
      summary: Declines a legal agreement by UUID
      description: Declines a legal agreement.
      operationId: postDeclineAgreement
      x-cli-name: agreements:decline
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_agreement-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_message'
              example:
                message: The agreement has been declined.
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The agreement you are trying to access does not exist, or you do not have permission to access it.
        '409':
          description: Conflict
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              examples:
                Already acted upon:
                  value:
                    error: conflict
                    message: This agreement has already been acted upon.
  /agreements/{agreementUuid}/invitees:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Agreements
      summary: Returns a list of users invited to action this agreement
      description: Returns a list of users invited to action this agreement by UUID.
      operationId: getInvitees
      x-cli-name: agreements:invitees-list
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_agreement-uuid'
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_invitees'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/agreements/efc62c93-8203-4e8b-a8ff-4d18b780d4ab/invitees
                  parent:
                    href: https://cloud.acquia.com/api/agreements/efc62c93-8203-4e8b-a8ff-4d18b780d4ab
                _embedded:
                  items:
                  - uuid: 6188cbcf-b176-4554-b17e-fbd8119ef46d
                    first_name: User
                    last_name: One
                    mail: user1@example.com
                    username: user.one
                    picture_url: https://accounts.acquia.com/path/to/image.png
                  - uuid: 099a8a59-88d6-48c2-a121-ef29431f4aba
                    first_name: User
                    last_name: Two
                    mail: user2@example.com
                    username: user.two
                    picture_url: https://accounts.acquia.com/path/to/image.png
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The agreement you are trying to access does not exist, or you do not have permission to access it.a
components:
  schemas:
    Acquia_Cloud_API_Documentation_user-stub:
      type: object
      required:
      - uuid
      - first_name
      - last_name
      - mail
      - picture_url
      - username
      properties:
        uuid:
          type: string
          format: uuid
          description: The user's UUID.
        first_name:
          type: string
          description: The user's first name.
        last_name:
          type: string
          description: The user's last name.
        mail:
          type: string
          format: email
          description: The user's email address.
        picture_url:
          type:
          - string
          - 'null'
          format: uri
          description: The URI for the user's picture.
        username:
          type: string
          description: The user's internal user name.
    Acquia_Cloud_API_Documentation_message:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: A simple message returned from the response.
    Acquia_Cloud_API_Documentation_error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
    Acquia_Cloud_API_Documentation_invitees:
      type: object
      required:
      - total
      - _links
      - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of invitees matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user-stub'
    Acquia_Cloud_API_Documentation_agreement:
      type: object
      required:
      - uuid
      - document_uuid
      - title
      - body
      - status
      - created_at
      - updated_at
      - actioned_by
      - reference
      - _links
      properties:
        uuid:
          type: string
          format: uuid
          description: The agreement UUID.
        document_uuid:
          type: string
          format: uuid
          description: The agreement document UUID.
        title:
          type: string
          description: The name of the agreement.
        body:
          type: string
          description: The formatted agreement content.
        status:
          type: string
          description: The status of the agreement.
          enum:
          - pending
          - accepted
          - declined
        created_at:
          type: string
          format: date-time
          description: The date the agreement was created.
        updated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the agreement was last updated.
        actioned_by:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_user-stub-nullable'
        reference:
          type: object
          description: A reference to the entity for this agreement.
          properties:
            uuid:
              type: string
              format: uuid
              description: The entity UUID.
            name:
              type: string
              description: The entity name.
            type:
              type: string
              description: The entity type.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
    Acquia_Cloud_API_Documentation_agreements:
      type: object
      required:
      - total
      - _links
      - _embedded
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of agreements matching the request parameters.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_agreement'
    Acquia_Cloud_API_Documentation_links:
      type: object
      required:
      - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
          - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Acquia_Cloud_API_Documentation_user-stub-nullable:
      type:
      - object
      - 'null'
      required:
      - uuid
      - first_name
      - last_name
      - mail
      - picture_url
      - username
      properties:
        uuid:
          type: string
          format: uuid
          description: The user's UUID.
        first_name:
          type: string
          description: The user's first name.
        last_name:
          type: string
          description: The user's last name.
        mail:
          type: string
          format: email
          description: The user's email address.
        picture_url:
          type:
          - string
          - 'null'
          format: uri
          description: The URI for the user's picture.
        username:
          type: string
          description: The user's internal user name.
  parameters:
    Acquia_Cloud_API_Documentation_agreement-uuid:
      name: agreementUuid
      in: path
      description: The entity's universally unique identifier.
      required: true
      schema:
        type: string
      example: da1c0a8e-ff69-45db-88fc-acd6d2affbb7
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      type: oauth2
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          tokenUrl: https://accounts.acquia.com/api/token
          scopes: {}
    Codebase_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    MEO_Environment_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    Site_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
