openapi: 3.2.0
info:
  title: Acquia Cloud API Documentation Distributions API
  x-logo:
    url: assets/cloud-platform.svg
    backgroundColor: '#FFFFFF'
    altText: Acquia Cloud
  description: 'Acquia Cloud API


    # Compatibility


    ## Stability


    The response for all resource endpoints includes an `X-CloudAPI-Stability` header that indicates what changes, if any, Acquia will make to the resource and how changes will be communicated.'
  version: 2.0.0
  contact:
    name: Customer Experience Engineering (CXE)
    url: https://www.acquia.com
tags:
- name: Distributions
  x-displayName: Distributions
paths:
  /distributions:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Distributions
      summary: Return a list of Drupal distributions
      operationId: getDistributions
      x-cli-name: distributions:list
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: Returns a list of Drupal distributions that are available for installation in an Acquia Cloud environment.
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_distributions'
              example:
                total: 2
                _links:
                  self:
                    href: https://cloud.acquia.com/api/distributions
                  parent:
                    href: https://cloud.acquia.com/api/
                _embedded:
                  items:
                  - name: drupal7
                    urls:
                      gz: http://www.acquia.com/path/to/archive/drupal7.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal7.zip
                    update_urls:
                      gz: http://www.acquia.com/path/to/archive/drupal7-update.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal7-update.zip
                    title: Acquia Drupal
                    version: 7.38.44-6261
                    drupal_version: Drupal 7
                    description: Acquia Drupal makes building your Drupal website easier by including both the current Drupal core along with a collection of essential modules.
                    image_url: https://www.acquia.com/path/to/img/drupal7.png
                    flags:
                      default: true
                      $visible: true
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/distributions/drupal7
                  - name: drupal8
                    urls:
                      gz: http://www.acquia.com/path/to/archive/drupal8.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal8.zip
                    update_urls:
                      gz: http://www.acquia.com/path/to/archive/drupal8-update.tar.gz
                      zip: http://www.acquia.com/path/to/archive/drupal8-update.zip
                    title: Acquia Drupal
                    version: 8.0.0-beta14
                    drupal_version: Drupal 8
                    description: Acquia Drupal makes building your Drupal website easier by including both the current Drupal core along with a collection of essential modules.
                    image_url: https://www.acquia.com/path/to/img/drupal8.png
                    flags:
                      default: false
                      $visible: false
                    _links:
                      self:
                        href: https://cloud.acquia.com/api/distributions/drupal8
  /distributions/{name}:
    servers:
    - url: https://cloud.acquia.com/api
      description: Cloud API
    get:
      tags:
      - Distributions
      summary: Return details about a specific Drupal distribution
      operationId: getDistributionByName
      x-cli-name: distributions:find
      security:
      - Acquia_Cloud_API_Documentation_OAuth2: []
      description: A specific distribution.
      parameters:
      - $ref: '#/components/parameters/Acquia_Cloud_API_Documentation_name'
      responses:
        '200':
          description: OK
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_distribution'
              example:
                name: drupal8
                urls:
                  gz: http://www.acquia.com/path/to/archive/drupal8.tar.gz
                  zip: http://www.acquia.com/path/to/archive/drupal8.zip
                update_urls:
                  gz: http://www.acquia.com/path/to/archive/drupal8-update.tar.gz
                  zip: http://www.acquia.com/path/to/archive/drupal8-update.zip
                title: Acquia Drupal
                version: 8.0.0-beta14
                drupal_version: Drupal 8
                description: Acquia Drupal makes building your Drupal website easier by including both the current Drupal core along with a collection of essential modules.
                image_url: https://www.acquia.com/path/to/img/drupal8.png
                flags:
                  default: false
                  $visible: true
                _links:
                  self:
                    href: https://cloud.acquia.com/api/distributions/drupal8
                  gz:
                    href: http://www.acquia.com/path/to/archive/drupal8.tar.gz
                  zip:
                    href: http://www.acquia.com/path/to/archive/drupal8.zip
                  update_gz:
                    href: http://www.acquia.com/path/to/archive/drupal8-update.tar.gz
                  update_zip:
                    href: http://www.acquia.com/path/to/archive/drupal8-update.zip
                  parent:
                    href: https://cloud.acquia.com/api/distributions
        '404':
          description: Not Found
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_error'
              example:
                error: not_found
                message: The distribution you are trying to access does not exist.
components:
  schemas:
    Acquia_Cloud_API_Documentation_error:
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: string
          description: The error summary.
        message:
          type: string
          description: The long description for the returned error.
    Acquia_Cloud_API_Documentation_distributions:
      type: object
      properties:
        total:
          type: integer
          description: The number of items returned in the collection.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
        _embedded:
          type: object
          description: A collection of distributions.
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_distribution'
    Acquia_Cloud_API_Documentation_links:
      type: object
      required:
      - self
      description: HAL links about the current resource.
      properties:
        self:
          type: object
          description: A link to this page.
          required:
          - href
          properties:
            href:
              type: string
              format: uri
              description: The URI for this page.
    Acquia_Cloud_API_Documentation_distribution:
      type: object
      required:
      - name
      - urls
      - update_urls
      - title
      - version
      - drupal_version
      - description
      - image_url
      - flags
      - _links
      properties:
        name:
          type: string
          description: The name of the distribution.
        urls:
          type: object
          description: The URLs for the distribution.
          properties:
            gz:
              type: string
              description: The URI for the gzip compressed distribution.
              format: uri
            zip:
              type: string
              description: The URI for the zip compressed distribution.
              format: uri
        update_urls:
          type: object
          description: The update URLs for the distribution.
          properties:
            gz:
              type: string
              description: The URI for the gzip compressed update.
              format: uri
            zip:
              type: string
              description: The URI for the zip compressed update.
              format: uri
        title:
          type: string
          description: The title of the distribution.
        version:
          type: string
          description: The full version string of the distribution.
        drupal_version:
          type: string
          description: The Drupal version string of the distribution.
        description:
          type: string
          description: The verbose description of the distribution.
        image_url:
          type: string
          description: The URI for the logo image for this distribution.
          format: uri
        flags:
          type: object
          description: Flags for this distribution.
          properties:
            default:
              type: boolean
              description: Whether this distribution is the default.
        _links:
          $ref: '#/components/schemas/Acquia_Cloud_API_Documentation_links'
  parameters:
    Acquia_Cloud_API_Documentation_name:
      name: name
      in: path
      description: A name that uniquely identifies an entity.
      required: true
      schema:
        type: string
      example: drupal8
  securitySchemes:
    Acquia_Cloud_API_Documentation_OAuth2:
      type: oauth2
      description: 'All Cloud API calls need to be authenticated in order to work. You authenticate using a token that you can generate on your Acquia Profile page.


        ### To generate a token:


        1. Sign in to the [Acquia Cloud](https://cloud.acquia.com/) interface using your email address and Acquia password.

        2. Click your user avatar in the upper right corner, and then click **Account Settings**.

        3. On the Profile page, click **API Tokens**.

        4. Click **Create Token**.

        5. In the pop-up that appears, give your token a label so that you can easily find it later. Then click **Create Token**.

        6. Copy your API key and API secret. Click **OK**.

        '
      flows:
        clientCredentials:
          tokenUrl: https://accounts.acquia.com/api/token
          scopes: {}
    Codebase_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    MEO_Environment_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
    Site_Service_JWT:
      type: apiKey
      description: Value for the Authorization header parameter.
      name: Authorization
      in: header
